`ifndef {{ class_token | upper }}
`define {{ class_token | upper }}

class {{ class_token }};
    bit[31:0] addr;
    bit[7:0] data;

    function new(bit[31:0] addr,bit[7:0] data=0);
        this.addr = addr;
        this.data = data;
    endfunction
endclass

`endif
