{% if any_node_path %}
`ifndef {{ (settings.class_prefix ~ "interface") | upper }}
`define {{ (settings.class_prefix ~ "interface") | upper }}

interface {{ settings.class_prefix }}interface #(
    parameter int MIN_FREQ_HZ = {{ settings.min_freq_hz }},
    parameter int STABLE_CYCLES = {{ settings.stable_cycles }},
    parameter real PERIOD_TOL = {{ settings.period_tolerance }},
    parameter real DUTY_MIN = {{ settings.duty_min }},
    parameter real DUTY_MAX = {{ settings.duty_max }}
) (
    input wire in,
    output wire out
);
    timeunit 1ns;
    timeprecision 1fs;

    {{ settings.class_prefix }}generate_interface gen(.out(out));
    {{ settings.class_prefix }}measure_interface #(
        .MIN_FREQ_HZ(MIN_FREQ_HZ),
        .STABLE_CYCLES(STABLE_CYCLES),
        .PERIOD_TOL(PERIOD_TOL),
        .DUTY_MIN(DUTY_MIN),
        .DUTY_MAX(DUTY_MAX)
    ) meas(.in(in));

    function automatic void set_clock_gen(bit en, real hz);
        gen.set_clock_gen(en, hz);
    endfunction

    function automatic void set_measure_en(bit en);
        meas.set_measure_en(en);
    endfunction
endinterface

`endif
{% endif %}
