`ifndef {{ (settings.class_prefix ~ "path_macros") | upper }}
`define {{ (settings.class_prefix ~ "path_macros") | upper }}
{%- for slot in tree.connectable_slots %}
`ifndef {{ (settings.class_prefix | upper) }}{{ slot.disable_macro_suffix }}
`ifndef {{ (settings.class_prefix | upper) }}PATH_{{ slot.path_macro }}
`define {{ (settings.class_prefix | upper) }}PATH_{{ slot.path_macro }} {{ slot.path }}
`endif
`endif
{%- endfor %}

`endif
