{% if any_node_path %}
`ifndef {{ (settings.class_prefix ~ "tree_connection") | upper }}
`define {{ (settings.class_prefix ~ "tree_connection") | upper }}

{% set _mac_conn = "_" ~ (settings.class_prefix ~ "conn_if") | replace("-", "_") | upper %}
`define {{ _mac_conn }}(id, p) \
    {{ settings.class_prefix }}interface {{ settings.class_prefix }}``id``_if ( .in(p) ); \
    initial begin \
        forever begin \
            @({{ settings.class_prefix }}``id``_if.out); \
            if ($isunknown({{ settings.class_prefix }}``id``_if.out)) \
                release p; \
            else \
                force p = {{ settings.class_prefix }}``id``_if.out; \
        end \
    end

{%- for tree in trees %}
{%- for node in tree.nodes_ordered %}
{%- if node.path %}
`{{ _mac_conn }}({{ tree.name }}_{{ node.name }}, {{ node.path }})
{%- endif %}
{%- endfor %}

function automatic void {{ settings.class_prefix }}connect_{{ tree.name }}_tree({{ settings.class_prefix }}{{ tree.name }}_tree t);
    if (t == null)
        uvm_report_fatal("CLK_TREE", "{{ settings.class_prefix }}connect_{{ tree.name }}_tree: tree is null");
{%- for node in tree.nodes_ordered %}
{%- if node.path %}
    t.{{ node.name }}.vif = {{ settings.class_prefix }}{{ tree.name }}_{{ node.name }}_if;
{%- endif %}
{%- endfor %}
endfunction

{%- endfor %}
`undef {{ _mac_conn }}

`endif
{% endif %}
