`ifndef {{ class_prefix | upper }}SYSTEM_CONFIGURATION
`define {{ class_prefix | upper }}SYSTEM_CONFIGURATION

class {{ class_prefix }}system_configuration extends {{ class_prefix }}base_configuration;
    `uvm_object_utils_begin({{ class_prefix }}system_configuration)
        `uvm_field_enum(version_e,version, UVM_ALL_ON)
        {%- if is_sd %}
        `uvm_field_enum(capacity_type_e,capacity_type,UVM_ALL_ON)
        {%- endif %}
        `uvm_field_int(should_check_timing,UVM_ALL_ON)
        `uvm_field_object(reg_cfg,UVM_ALL_ON)
    `uvm_object_utils_end

    rand version_e version; // ???
    {%- if is_sd %}
    rand capacity_type_e capacity_type; // ????
    {%- endif %}
    rand bit should_check_timing; // ??????

    rand bit has_randomized; // ?????
    rand {{ class_prefix }}reg_configuration reg_cfg; // ?????

    function new(string name="{{ class_prefix }}system_configuration");
        super.new(name);

        reg_cfg = {{ class_prefix }}reg_configuration::type_id::create("reg_cfg");
    endfunction

    constraint cst_sys_cfg {
        has_randomized == 1;

        soft should_check_timing == 0;
        {%- if is_emmc %}
        soft version == VERSION_5_1;
        {%- elif is_sdio %}
        soft version == VERSION_4_0;
        {%- elif is_sdcard %}
        soft version == VERSION_6_00;
        {%- endif %}
        {%- if is_sd %}
        soft capacity_type == SDXC;
        {%- endif %}

        reg_cfg.version == version;
    }

    constraint cst_user;
    constraint cst_case;
endclass
`endif
