`ifndef {{ (class_prefix ~ 'monitor') | upper }}
`define {{ (class_prefix ~ 'monitor') | upper }}

class {{ class_prefix }}monitor#(int DW={{ data_width_expr }}) extends uvm_component;
    `uvm_component_param_utils({{ class_prefix }}monitor#(DW))

    uvm_analysis_port #(uvm_tlm_generic_payload) {{ output_ap_name }};

{% if address_increment %}
    bit [63:0] m_stream_byte_addr;
{% endif %}

    function new(string name="{{ class_prefix }}monitor",uvm_component parent);
        super.new(name,parent);

        {{ output_ap_name }} = new("{{ output_ap_name }}",this);
    endfunction

    virtual {{ class_prefix }}interface vif;

    extern function void start_of_simulation();
    extern task run_phase(uvm_phase phase);

    // 采集并输出
    extern protected task sample_and_output();
endclass

function void {{ class_prefix }}monitor::start_of_simulation();
    super.start_of_simulation();

    if(!uvm_config_db#(virtual {{ class_prefix }}interface)::get(this,"","if",vif))
        `uvm_fatal("","required if")
endfunction

task {{ class_prefix }}monitor::run_phase(uvm_phase phase);
    super.run_phase(phase);

    sample_and_output();
endtask

task {{ class_prefix }}monitor::sample_and_output();
    forever begin
        bit[DW-1:0] pdata;
        int width;
        uvm_tlm_generic_payload out;
        int len;
        bit [7:0] tmp_dyn[];
        bit [7:0] full_q[$];
        bit [7:0] byte_q[$];
        byte unsigned data_dyn[];

        @(vif.rx_count);
        pdata = vif.rx_data.data;
        width = vif.rx_data.width;

        len = (width-1)/8+1;

        out = uvm_tlm_generic_payload::type_id::create({get_full_name(),".gp"});

        tmp_dyn = { >> {pdata}};
        full_q.delete();
        foreach (tmp_dyn[i])
            full_q.push_back(tmp_dyn[i]);

        byte_q.delete();
        begin
            int n_bytes;
            n_bytes = full_q.size();
            for (int i = 0; i < len && i < n_bytes; i++)
                byte_q.push_back(full_q[n_bytes - 1 - i]);
        end

        data_dyn = new[byte_q.size()];
        foreach (byte_q[i])
            data_dyn[i] = byte_q[i];
        out.set_data(data_dyn);
        out.set_command(UVM_TLM_WRITE_COMMAND);
{% if address_increment %}
        out.set_address(m_stream_byte_addr);
        m_stream_byte_addr += byte_q.size();
{% else %}
        out.set_address(64'h0);
{% endif %}

        fork begin
            out.accept_tr();

            `uvm_info("",$psprintf("output:\n%s",out.sprint()),UVM_HIGH)

            {{ output_ap_name }}.write(out);
        end join_none
    end
endtask
`endif
