`ifndef {{ class_prefix | upper }}REGISTER_PASSWORD_REQ
`define {{ class_prefix | upper }}REGISTER_PASSWORD_REQ

// 密码
class {{ class_prefix }}register_password_req extends {{ class_prefix }}register_req;
    `uvm_object_utils({{ class_prefix }}register_password_req)

    function new(string name = "{{ class_prefix }}register_password_req");
        super.new(name);

        this.name = "password";
    endfunction

    constraint cst_prefab {
        addr == 8'b0000_1101;
        bits == 128;
        act_type == WRITE;
        soft value == p_sequencer.cfg.password;
    }
endclass

`endif
