{% if is_sdio -%}
`ifndef {{ class_prefix | upper }}_IO_RW_DIRECT_COMMAND_REQ
`define {{ class_prefix | upper }}_IO_RW_DIRECT_COMMAND_REQ

// 发送CMD52，寄存器单个读写
class {{ class_prefix }}io_rw_direct_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}io_rw_direct_command_request)
        `uvm_field_int(rw_flag, UVM_ALL_ON)
        `uvm_field_int(function_number, UVM_ALL_ON)
        `uvm_field_int(raw_flag, UVM_ALL_ON)
        `uvm_field_int(register_address, UVM_ALL_ON)
        `uvm_field_int(write_data, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit rw_flag; // 0 : 读 1 : 写
    rand bit[2:0] function_number; // 选择要访问的功能的ID, 0 : CCCR, 1-7 : FBR
    rand bit raw_flag; // 0 : 没作用 1 : 写的时候，写完了再读一次
    rand bit[16:0] register_address; // 寄存器地址
    rand bit[7:0] write_data; // 写数据

    function new(string name="{{ class_prefix }}io_rw_direct_command_request");
        super.new(name);
    endfunction

    constraint cst_io_rw_direct_base_command {
        cmd_index == 52;
        argument[31] == rw_flag;
        argument[30:28] == function_number;
        argument[27] == raw_flag;
        argument[25:9] == register_address;
        argument[7:0] == write_data;
        resp == R5;
        if(rw_flag == 0) {
            soft write_data == 0;
            soft raw_flag == 0;
        }

        soft rw_flag == 1;

        foreach(write_data[j])
            soft write_data[j] == 0;
    }
endclass

`endif
{% endif %}
