{% if is_sdio -%}
`ifndef {{ class_prefix | upper }}IO_RW_DIRECT_IO_ABORT_COMMAND_REQ
`define {{ class_prefix | upper }}IO_RW_DIRECT_IO_ABORT_COMMAND_REQ

// CCCM.I/O Abort
class {{ class_prefix }}io_rw_direct_io_abort_command_request extends {{ class_prefix }}io_rw_direct_command_request;
    `uvm_object_utils_begin({{ class_prefix }}io_rw_direct_io_abort_command_request)
        `uvm_field_int(as, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit[2:0] as; // Abort Select, 选择哪个function

    function new(string name="{{ class_prefix }}io_rw_direct_io_abort_command_request");
        super.new(name);
    endfunction

    constraint cst_io_rw_direct_command {
        function_number == 0;
        register_address == 'h06;
        write_data[2:0] == as;
    }
endclass

`endif
{% endif %}
