`ifndef {{ class_prefix | upper }}WAIT_INTERRUPT_OP_SEQ
`define {{ class_prefix | upper }}WAIT_INTERRUPT_OP_SEQ

class {{ class_prefix }}wait_interrupt_operation_seq extends {{ class_prefix }}base_operation_seq#({{ class_prefix }}wait_interrupt_response);
    `uvm_object_utils({{ class_prefix }}wait_interrupt_operation_seq)

    rand {{ class_prefix }}wait_interrupt_request wait_intr_request;
    rand {{ class_prefix }}check_error_request chk_err_request;

    function new(string name = "{{ class_prefix }}wait_interrupt_operation_seq");
        super.new(name);
    endfunction

    {{ class_prefix }}check_error_operation_seq chk_err_seq;

    extern function void pre_randomize();
    extern task body();
    // 等待中断
    extern task wait_interrupt();
    // 等待中断信号
    extern task wait_interrupt_signal();
    // 清理中断状态
    extern task clear_interrupt_status(uvm_reg_field f_stat, uvm_reg_field f_stat_en, uvm_reg_field f_signal_en);
{%- if is_mobile_storage %}
    extern function bit [31:0] requested_interrupt_mask();
{%- endif %}
endclass

function void {{ class_prefix }}wait_interrupt_operation_seq::pre_randomize();
    super.pre_randomize();

    if (!wait_intr_request)
        `uvm_create(wait_intr_request)
    if (!chk_err_request)
        `uvm_create(chk_err_request)
    `uvm_create(chk_err_seq)
    $cast(chk_err_seq.chk_err_request, chk_err_request);
endfunction

task {{ class_prefix }}wait_interrupt_operation_seq::body();
    `uvm_info("", $psprintf("wait interrupt:\n%s", wait_intr_request.sprint()), UVM_DEBUG)
    wait_interrupt();
    `uvm_info("", "wait interrupt done", UVM_DEBUG)
endtask

task {{ class_prefix }}wait_interrupt_operation_seq::wait_interrupt();
{%- if is_mobile_storage %}
    bit [31:0] mask;
    bit [31:0] observed;

    mask = requested_interrupt_mask();
    if (!mask)
        return;

    rm.RINTSTS_R.write(status, 'hffff_ffff);
    rm.INTMASK_R.write(status, mask);

    while (mask) begin
        wait_interrupt_signal();
        rm.MINTSTS_R.read(status, observed);
        observed &= mask;
        if (observed) begin
            rm.RINTSTS_R.write(status, observed);
            mask &= ~observed;
            rm.INTMASK_R.write(status, mask);
        end
    end
{%- else %}
    rm.NORMAL_INT_STAT_EN_R.set('hffff_ffff);
    rm.NORMAL_INT_STAT_EN_R.update(status);
    rm.NORMAL_INT_STAT_EN_R.write(status, rm.NORMAL_INT_STAT_EN_R.get());

    // 打开信号使能
    rm.NORMAL_INT_SIGNAL_EN_R.CMD_COMPLETE_SIGNAL_EN.set(wait_intr_request.cmd_complete);
    rm.NORMAL_INT_SIGNAL_EN_R.XFER_COMPLETE_SIGNAL_EN.set(wait_intr_request.xfer_complete);
    rm.NORMAL_INT_SIGNAL_EN_R.BGAP_EVENT_SIGNAL_EN.set(wait_intr_request.bgap_event);
{%- if enable_dma %}
    rm.NORMAL_INT_SIGNAL_EN_R.DMA_INTERRUPT_SIGNAL_EN.set(wait_intr_request.dma_interrupt);
{%- endif %}
    rm.NORMAL_INT_SIGNAL_EN_R.BUF_WR_READY_SIGNAL_EN.set(wait_intr_request.buf_wr_ready);
    rm.NORMAL_INT_SIGNAL_EN_R.BUF_RD_READY_SIGNAL_EN.set(wait_intr_request.buf_rd_ready);
    rm.NORMAL_INT_SIGNAL_EN_R.CARD_INSERTION_SIGNAL_EN.set(wait_intr_request.card_insertion);
    rm.NORMAL_INT_SIGNAL_EN_R.CARD_REMOVAL_SIGNAL_EN.set(wait_intr_request.card_removal);
    rm.NORMAL_INT_SIGNAL_EN_R.CARD_INTERRUPT_SIGNAL_EN.set(wait_intr_request.card_interrupt);
    rm.NORMAL_INT_SIGNAL_EN_R.INT_A_SIGNAL_EN.set(wait_intr_request.int_a);
    rm.NORMAL_INT_SIGNAL_EN_R.INT_B_SIGNAL_EN.set(wait_intr_request.int_b);
    rm.NORMAL_INT_SIGNAL_EN_R.INT_C_SIGNAL_EN.set(wait_intr_request.int_c);
    rm.NORMAL_INT_SIGNAL_EN_R.RE_TUNE_EVENT_SIGNAL_EN.set(wait_intr_request.re_tune_event);
    rm.NORMAL_INT_SIGNAL_EN_R.FX_EVENT_SIGNAL_EN.set(wait_intr_request.fx_event);
    rm.NORMAL_INT_SIGNAL_EN_R.CQE_EVENT_SIGNAL_EN.set(wait_intr_request.cqc_event);
    rm.NORMAL_INT_SIGNAL_EN_R.write(status, rm.NORMAL_INT_SIGNAL_EN_R.get());

    while (rm.NORMAL_INT_SIGNAL_EN_R.get()) begin
        wait_interrupt_signal();
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.CMD_COMPLETE, rm.NORMAL_INT_STAT_EN_R.CMD_COMPLETE_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.CMD_COMPLETE_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.XFER_COMPLETE, rm.NORMAL_INT_STAT_EN_R.XFER_COMPLETE_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.XFER_COMPLETE_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.BGAP_EVENT, rm.NORMAL_INT_STAT_EN_R.BGAP_EVENT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.BGAP_EVENT_SIGNAL_EN);
{%- if enable_dma %}
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.DMA_INTERRUPT, rm.NORMAL_INT_STAT_EN_R.DMA_INTERRUPT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.DMA_INTERRUPT_SIGNAL_EN);
{%- endif %}
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.BUF_WR_READY, rm.NORMAL_INT_STAT_EN_R.BUF_WR_READY_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.BUF_WR_READY_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.BUF_RD_READY, rm.NORMAL_INT_STAT_EN_R.BUF_RD_READY_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.BUF_RD_READY_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.CARD_INSERTION, rm.NORMAL_INT_STAT_EN_R.CARD_INSERTION_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.CARD_INSERTION_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.CARD_REMOVAL, rm.NORMAL_INT_STAT_EN_R.CARD_REMOVAL_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.CARD_REMOVAL_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.CARD_INTERRUPT, rm.NORMAL_INT_STAT_EN_R.CARD_INTERRUPT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.CARD_INTERRUPT_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.INT_A, rm.NORMAL_INT_STAT_EN_R.INT_A_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.INT_A_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.INT_B, rm.NORMAL_INT_STAT_EN_R.INT_B_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.INT_B_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.INT_C, rm.NORMAL_INT_STAT_EN_R.INT_C_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.INT_C_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.RE_TUNE_EVENT, rm.NORMAL_INT_STAT_EN_R.RE_TUNE_EVENT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.RE_TUNE_EVENT_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.FX_EVENT, rm.NORMAL_INT_STAT_EN_R.FX_EVENT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.FX_EVENT_SIGNAL_EN);
        clear_interrupt_status(rm.NORMAL_INT_STAT_R.CQE_EVENT, rm.NORMAL_INT_STAT_EN_R.CQE_EVENT_STAT_EN,
            rm.NORMAL_INT_SIGNAL_EN_R.CQE_EVENT_SIGNAL_EN);
    end
{%- endif %}
endtask

task {{ class_prefix }}wait_interrupt_operation_seq::wait_interrupt_signal();
    bit [31:0] rdata;

    fork
        begin
            p_sequencer.vif.wait_timeout(wait_intr_request.timeout_us);
            `uvm_fatal("", $psprintf("wait interrupt timeout:\n%s", wait_intr_request.sprint()))
        end
        forever begin
            `uvm_rand_send(chk_err_seq)
            if (p_sequencer.vif.intr) begin
{%- if is_mobile_storage %}
                rm.MINTSTS_R.read(status, rdata);
                if (|rm.MINTSTS_R.get())
                    break;
{%- else %}
                rm.NORMAL_INT_STAT_R.read(status, rdata);
                if (|rm.NORMAL_INT_STAT_R.get())
                    break;
{%- endif %}
            end
        end
    join_any
    disable fork;
endtask

task {{ class_prefix }}wait_interrupt_operation_seq::clear_interrupt_status(uvm_reg_field f_stat,
        uvm_reg_field f_stat_en, uvm_reg_field f_signal_en);
    uvm_reg r_stat;
    uvm_reg r_signal_en;

    if (!f_stat.get())
        return;

    r_stat = f_stat.get_register();
    r_signal_en = f_signal_en.get_register();

    if (!f_signal_en.get())
        return;

    r_stat.write(status, (1 << f_stat.get_lsb_pos()));

    if (f_signal_en.get()) begin
        f_signal_en.set(0);
        r_signal_en.write(status, r_signal_en.get());
    end
endtask

{%- if is_mobile_storage %}
function bit [31:0] {{ class_prefix }}wait_interrupt_operation_seq::requested_interrupt_mask();
    bit [31:0] mask;

    mask = 0;
    if (wait_intr_request.card_insertion || wait_intr_request.card_removal)
        mask |= (1 << 0);
    if (wait_intr_request.cmd_complete)
        mask |= (1 << 2);
    if (wait_intr_request.xfer_complete)
        mask |= (1 << 3);
    if (wait_intr_request.buf_wr_ready)
        mask |= (1 << 4);
    if (wait_intr_request.buf_rd_ready)
        mask |= (1 << 5);
    if (wait_intr_request.card_interrupt)
        mask |= (1 << 16);
    return mask;
endfunction
{%- endif %}

`endif
