`ifndef {{ class_prefix | upper }}WAIT_INTERRUPT_RSP
`define {{ class_prefix | upper }}WAIT_INTERRUPT_RSP

class {{ class_prefix }}wait_interrupt_response extends {{ class_prefix }}base_response;
    `uvm_object_utils({{ class_prefix }}wait_interrupt_response)

    function new(string name = "{{ class_prefix }}wait_interrupt_response");
        super.new(name);
    endfunction
endclass

`endif