`ifndef {{ (class_prefix ~ "inout_test_req") | upper }}
`define {{ (class_prefix ~ "inout_test_req") | upper }}

class {{ class_prefix }}inout_test_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}inout_test_req)
        `uvm_field_int(quiet,UVM_ALL_ON)
    `uvm_object_utils_end

    bit quiet;

    function new(string name="{{ class_prefix }}inout_test_req");
        super.new(name);
    endfunction
endclass

`endif
