`ifndef {{ class_base_cell | upper }}
`define {{ class_base_cell | upper }}

class {{ class_base_cell }} extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_base_cell }})
    `uvm_object_utils_end

    function new(string name="{{ class_base_cell }}");
        super.new(name);
    endfunction
endclass

`endif
