`ifndef {{ class_div | upper }}
`define {{ class_div | upper }}

class {{ class_div }} extends {{ class_base_cell }};
    `uvm_object_utils_begin({{ class_div }})
        `uvm_field_int(rstn,UVM_ALL_ON)
        `uvm_field_int(load_en,UVM_ALL_ON)
        `uvm_field_int(bypass,UVM_ALL_ON)
        `uvm_field_int(step,UVM_ALL_ON)
    `uvm_object_utils_end

    function new(string name="{{ class_div }}");
        super.new(name);
    endfunction

    rand bit rstn;
    rand bit load_en;
    rand bit bypass;
    rand int step;
    {{ class_reg }} reg_rstn;
    {{ class_reg }} reg_load_en;
    {{ class_reg }} reg_bypass;
    {{ class_reg }} reg_step;

    constraint cst {
        reg_rstn != null;
        reg_load_en != null;
        if(reg_bypass == null)
            bypass == 0;
        reg_step != null;
    }
endclass

`endif
