`ifndef {{ class_gate | upper }}
`define {{ class_gate | upper }}

class {{ class_gate }} extends {{ class_base_cell }};
    `uvm_object_utils_begin({{ class_gate }})
        `uvm_field_int(gate,UVM_ALL_ON)
    `uvm_object_utils_end

    function new(string name="{{ class_gate }}");
        super.new(name);
    endfunction

    rand bit gate;
    {{ class_reg }} reg_gate;

    constraint cst {
        reg_gate != null;
    }
endclass

`endif
