`ifndef {{ class_inv | upper }}
`define {{ class_inv | upper }}

class {{ class_inv }} extends {{ class_base_cell }};
    `uvm_object_utils_begin({{ class_inv }})
        `uvm_field_int(inv,UVM_ALL_ON)
    `uvm_object_utils_end

    function new(string name="{{ class_inv }}");
        super.new(name);
    endfunction

    rand bit inv;
    {{ class_reg }} reg_inv;

    constraint cst {
        reg_inv != null;
    }
endclass

`endif
