`ifndef {{ (class_prefix ~ "tree") | upper }}
`define {{ (class_prefix ~ "tree") | upper }}

class {{ class_prefix }}tree extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}tree)
        `uvm_field_queue_object(nodes, UVM_ALL_ON)
        `uvm_field_object(manifest, UVM_ALL_ON)
    `uvm_object_utils_end

    rand {{ class_prefix }}node_base nodes[$];
    {{ class_prefix }}manifest manifest;

    function new(string name="{{ class_prefix }}tree");
        super.new(name);
        manifest = new();
    endfunction

    extern function void pre_randomize();

    extern task config_nodes();
    extern task config_node({{ class_prefix }}node_base cell);

    extern task {{ name_on_main }}();

    constraint {{ name_constraint_default }};
    constraint {{ name_constraint_user }};
endclass

function void {{ class_prefix }}tree::pre_randomize();
    super.pre_randomize();
    manifest.build(nodes);
endfunction

task {{ class_prefix }}tree::config_nodes();
    foreach (nodes[i])
        config_node(nodes[i]);
endtask

task {{ class_prefix }}tree::config_node({{ class_prefix }}node_base cell);
endtask

`endif
