`ifndef {{ class_prefix | upper }}INITIAL_SEQ
`define {{ class_prefix | upper }}INITIAL_SEQ

class {{ class_prefix }}initial_seq extends {{ class_prefix }}base_seq;
    `uvm_object_utils({{ class_prefix }}initial_seq)

    {{ class_prefix }}yield pre_switch_yield; // 切换前让渡
    {{ class_prefix }}yield post_switch_yield; // 切换后让渡

    function new(string name = "{{ class_prefix }}initial_seq");
        super.new(name);

        `uvm_create(pre_switch_yield)
        `uvm_create(post_switch_yield)
    endfunction

    {{ class_prefix }}power_up_operation_seq power_up_seq;
    {{ class_prefix }}frequence_set_operation_seq freq_set_seq;
    {{ class_prefix }}check_clock_frequence_test_seq chk_clk_freq_seq;
    {{ class_prefix }}go_idle_state_command_seq go_idle_state_seq;
    {{ class_prefix }}all_send_cid_command_seq all_send_cid_seq;
    {{ class_prefix }}select_card_command_seq select_card_seq;

    extern task body();

    // 初始化并读取寄存器，切换为 transfer 状态
    extern task execute_initial();
endclass

task {{ class_prefix }}initial_seq::body();
    int freq;

    freq = 400000; // 4K

    // 分频至初始频率
    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == local::freq;
    })

    // 上电 (先产生时钟)
    `uvm_do(power_up_seq)

    // 检查时钟频率
    `uvm_do(chk_clk_freq_seq)

    // 执行初始化
    execute_initial();

    ctx.has_initialized = 1;
endtask

task {{ class_prefix }}initial_seq::execute_initial();
                                                                                            {%- if is_emmc %}
    {{ class_prefix }}send_op_cond_command_seq send_op_cond_seq;
    {{ class_prefix }}set_relative_addr_command_seq set_relative_addr_seq;
    {{ class_prefix }}send_csd_command_seq send_csd_seq;
    {{ class_prefix }}send_ext_csd_command_seq send_ext_csd_seq; // CMD8

    // CMD0 复位
    `uvm_do(go_idle_state_seq)

    // CMD1 查询OCR
    `uvm_do_with(send_op_cond_seq, {
        //cmd_request.ocr == 'hc0ff8080;
        cmd_request.ocr == 'h40ff8080;
    })

    // CMD2 查询CID
    `uvm_do(all_send_cid_seq)

    // CMD3 设置相对地址
    `uvm_do(set_relative_addr_seq)

    //// CMD9 查询CSD
    // `uvm_do(send_csd_seq)

    // 切换前延时
    `uvm_rand_send(pre_switch_yield)

    // CMD7 切换状态
    `uvm_do(select_card_seq)

    //// CMD8 查询EXT_CSD
    // `uvm_do(send_ext_csd_seq)

    // 分辨率LEGACY
    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == local::boot_cfg.frequence_legacy;
    })

    // 切换后延时
    `uvm_rand_send(post_switch_yield)

                                                                                            {%- elif is_sdio %}

    {{ class_prefix }}io_send_op_cond_command_seq io_send_op_cond;
    {{ class_prefix }}io_rw_direct_io_enable_command_seq io_enable_seq;
    {{ class_prefix }}send_relative_addr_command_seq send_relative_addr_seq;
    {{ class_prefix }}voltage_switch_seq voltage_switch_seq;

    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 393303; // 393.303kHz
    })

    // CMD5 查询
    `uvm_do_with(io_send_op_cond, {
        cmd_request.ocr == 0;
    })

    // CMD5
    `uvm_do_with(io_send_op_cond, {
        cmd_request.s18r == (local::settings.boot_cfg.voltage == V1_8);
    })

    // CMD11
    if(settings.boot_cfg.voltage == V1_8)
        `uvm_do(voltage_switch_seq)

    // CMD3
{%- if is_mobile_storage %}
    `uvm_do(send_relative_addr_seq)
{%- else %}
    `uvm_do_with(send_relative_addr_seq, {
        cmd_request.rst_request.sw_rst_cmd == 1; // 复位错误
    })
{%- endif %}

    // 切换前延时
    `uvm_rand_send(pre_switch_yield)

    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 3195000; // 3.195MHz
    })

    // CMD7 切换状态
    `uvm_do(select_card_seq)

    // CMD52,1/0 enable
    `uvm_do(io_enable_seq)

    // 切换后延时
    `uvm_rand_send(post_switch_yield)

                                                                                            {%- elif is_sdcard %}

    {{ class_prefix }}send_if_cond_command_seq send_if_cond_seq;
    {{ class_prefix }}sd_send_op_cond_acmd_seq sd_send_op_cond_seq;
    {{ class_prefix }}set_bus_width_acmd_seq set_bus_width_seq;
    {{ class_prefix }}send_relative_addr_command_seq send_relative_addr_seq;
    {{ class_prefix }}voltage_switch_seq voltage_switch_seq;

    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 142210; // 142.210kHz
    })

    // CMD0 复位
    `uvm_do(go_idle_state_seq)

    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 278029; // 278.029kHz
    })

    // CMD8
    `uvm_do(send_if_cond_seq)

    // ACMD41
    `uvm_do_with(sd_send_op_cond_seq, {
        app_cmd_request.rca == 0; // 初始化一定要写0
        cmd_request.s18a == (local::settings.boot_cfg.voltage == V1_8);
    })

    // CMD11
    if(settings.boot_cfg.voltage == V1_8)
        `uvm_do(voltage_switch_seq)

    // CMD2
    `uvm_do(all_send_cid_seq)

    // CMD3
    `uvm_do(send_relative_addr_seq)

    // 切换前延时
    `uvm_rand_send(pre_switch_yield)

    // CMD7 切换状态
    `uvm_do(select_card_seq)

    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 25000000; // 25M
    })

    // ACMD6 切换
    `uvm_do(set_bus_width_seq)

    // 切换后让退
    `uvm_rand_send(post_switch_yield)

                                                                                            {%- endif %}
endtask

`endif
