`ifndef {{ class_prefix | upper }}SWITCH_BUS_SEQ
`define {{ class_prefix | upper }}SWITCH_BUS_SEQ

// 切换总线位置和速度。同时切换时钟频率
class {{ class_prefix }}switch_bus_seq extends {{ class_prefix }}base_seq;
    `uvm_object_utils_begin({{ class_prefix }}switch_bus_seq)
        `uvm_field_enum(bus_speed_mode_e, bus_speed_mode, UVM_ALL_ON)
        `uvm_field_int(data_width, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bus_speed_mode_e bus_speed_mode; // 总线速率模式
    rand int data_width; // 数据位宽

    function new(string name = "{{ class_prefix }}switch_bus_seq");
        super.new(name);
    endfunction

    constraint cst_flow {
        soft bus_speed_mode == settings.boot_cfg.default_bus_speed_mode;
        soft data_width == settings.boot_cfg.default_data_width;
    }

    {{ class_prefix }}frequence_set_operation_seq freq_set_seq;

    extern task body();
endclass

task {{ class_prefix }}switch_bus_seq::body();
    {%- if is_emmc %}

    /*
        上次的 HS TIMING 为 以下几种 bus speed mode 只能设置基准值

        LEGACY : 0,1,2 (所有SINGLE)
        HIGH_SPEED : 全部
        HS200 : 1, 2 (SINGLE 4&8)
        HS400 : 6 (DUAL 8)

        意味着要先切换到过渡状态 HIGH_SPEED
    */
    {{ class_prefix }}switch_hs_timing_command_seq switch_hs_timing_seq;
    {{ class_prefix }}switch_bus_width_command_seq switch_bus_width_seq;

    // 先调时钟到 6MHz
    `uvm_do_with(freq_set_seq, {
        freq_set_request.frequence == 6000000; // 6M
    })

    // 过渡状态 (仅双工需要)
    if(bus_speed_mode inside {HIGH_SPEED_DDR, HS400})
        `uvm_do_with(switch_hs_timing_seq, {
            cmd_request.bus_speed_mode == HIGH_SPEED_SDR; // SDR兼容所有数据位宽, 最合适
        })

    // 切换数据位宽
    `uvm_do_with(switch_bus_width_seq, {
        cmd_request.data_width == local::data_width;
        cmd_request.bus_speed_mode == local::bus_speed_mode;
    })

    // 切换速度
    `uvm_do_with(switch_hs_timing_seq, {
        cmd_request.bus_speed_mode == local::bus_speed_mode;
    })

    // 分频
    `uvm_do(freq_set_seq)

    {%- elif is_sdcard %}

    {{ class_prefix }}switch_func_command_seq switch_func_seq;
    {{ class_prefix }}set_bus_width_acmd_seq set_bus_width_seq;

    `uvm_do_with(set_bus_width_seq, {
        cmd_request.bus_width == local::data_width;
    })

    `uvm_do_with(switch_func_seq, {
        cmd_request.bus_speed_mode == local::bus_speed_mode;
    })

    // 分频
    `uvm_do(freq_set_seq)
    {%- elif is_sdio %}
    {{ class_prefix }}io_rw_direct_bus_interface_control_command_seq bus_interface_control_seq;
    {{ class_prefix }}io_rw_direct_bus_speed_select_command_seq bus_speed_select_seq;

    `uvm_do_with(bus_interface_control_seq, {
        cmd_request.data_width == local::data_width;
    })

    `uvm_do_with(bus_speed_select_seq, {
        cmd_request.bus_speed_mode == local::bus_speed_mode;
    })

    // 分频
    `uvm_do(freq_set_seq)
    {%- endif %}
endtask

`endif
