`ifndef {{ class_prefix | upper }}BASE_ITEM
`define {{ class_prefix | upper }}BASE_ITEM

typedef class {{ class_prefix }}sequencer;
typedef class {{ class_prefix }}system_configuration;
typedef class {{ class_prefix }}context;

class {{ class_prefix }}base_item extends uvm_sequence_item;
    {% include "insides.sv.j2" %}

    `uvm_object_utils({{ class_prefix }}base_item)

    function new(string name="{{ class_prefix }}base_item");
        super.new(name);
    endfunction

    // 当随机失败时，自动报错并终止仿真
    protected int cnt_pre_randomize;
    protected int cnt_post_randomize;

    extern function void pre_randomize();
    extern function void post_randomize();

    // 设置下级上下文
    extern function void set_child_context(uvm_sequence_item child);
endclass

function void {{ class_prefix }}base_item::set_child_context(uvm_sequence_item child);
    child.set_sequencer(get_sequencer());
    child.set_depth(get_depth() + 1);
    child.reseed();
    child.set_name({get_name(), ".", child.get_name()});
endfunction

function void {{ class_prefix }}base_item::pre_randomize();
    super.pre_randomize();

    // raise fatal
    cnt_pre_randomize++;
    fork
        begin
            #0;
            if(cnt_pre_randomize != cnt_post_randomize)
                `uvm_fatal("", "randomize failed")
        end
    join_none
endfunction

function void {{ class_prefix }}base_item::post_randomize();
    cnt_post_randomize++;
endfunction

`endif
