`ifndef {{ (class_prefix | upper ) }}CONTEXT
`define {{ (class_prefix | upper ) }}CONTEXT

// 上下文，复位时清除
class {{ class_prefix }}context extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}context)
        `uvm_field_int(data_width_cur, UVM_ALL_ON)
        `uvm_field_enum(bus_speed_mode_e, bus_speed_mode_cur, UVM_ALL_ON)
        `uvm_field_int(has_power_up, UVM_ALL_ON)
        `uvm_field_int(has_initialized, UVM_ALL_ON)
    `uvm_object_utils_end

    rand int data_width_cur; // 当前应用的数据带宽
    rand bus_speed_mode_e bus_speed_mode_cur; // 当前应用的总线速度模式
    bit has_power_up; // 是否上电过
    bit has_initialized; // 是否初始化过

    constraint cst {
        data_width_cur == 1;
        bus_speed_mode_cur == LEGACY;                {%- if is_emmc %}
        bus_speed_mode_cur == DS;                    {%- elif is_sd %}
                                                     {%- endif %}
    }

    function new(string name="{{ (class_prefix ) }}context");
        super.new(name);
    endfunction
endclass

`endif
