`ifndef {{ (settings.class_prefix ~ "route_check_req") | upper }}
`define {{ (settings.class_prefix ~ "route_check_req") | upper }}

class {{ settings.class_prefix }}route_check_req extends {{ settings.class_prefix }}base_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}route_check_req)
        `uvm_field_object(tree, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(quiet, UVM_ALL_ON)
        `uvm_field_int(debug, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ settings.class_prefix }}tree_base tree;
    bit quiet;
    bit debug;

    function new(string name = "{{ settings.class_prefix }}route_check_req");
        super.new(name);
    endfunction
endclass

`endif
