`ifndef {{ (settings.class_prefix ~ "route_check_rsp") | upper }}
`define {{ (settings.class_prefix ~ "route_check_rsp") | upper }}

class {{ settings.class_prefix }}route_check_rsp extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}route_check_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
    `uvm_object_utils_end

    bit ok;

    function new(string name = "{{ settings.class_prefix }}route_check_rsp");
        super.new(name);
    endfunction
endclass

`endif
