`ifndef {{ (class_prefix ~ "check_clock_req") | upper }}
`define {{ (class_prefix ~ "check_clock_req") | upper }}

class {{ class_prefix }}check_clock_req extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}check_clock_req)
        `uvm_field_int(check_hclk, UVM_ALL_ON)
        `uvm_field_int(check_ssi_clk, UVM_ALL_ON)
        `uvm_field_int(check_sclk_out, UVM_ALL_ON)
        `uvm_field_int(tolerance_ppm, UVM_ALL_ON | UVM_DEC)
        `uvm_field_real(min_hclk_hz, UVM_ALL_ON)
        `uvm_field_real(min_ssi_clk_hz, UVM_ALL_ON)
        `uvm_field_real(max_sclk_out_hz, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit check_hclk;
    rand bit check_ssi_clk;
    rand bit check_sclk_out;
    rand int unsigned tolerance_ppm;
    real min_hclk_hz;
    real min_ssi_clk_hz;
    real max_sclk_out_hz;

    function new(string name="{{ class_prefix }}check_clock_req");
        super.new(name);
        check_hclk = 1'b1;
        check_ssi_clk = 1'b1;
        check_sclk_out = 1'b1;
        tolerance_ppm = {{ clock_check_tolerance_ppm }};
        min_hclk_hz = {{ min_hclk_hz }}.0;
        min_ssi_clk_hz = {{ min_ssi_clk_hz }}.0;
        max_sclk_out_hz = {{ max_output_hz }}.0;
    endfunction

    constraint cst {
        tolerance_ppm <= 1000000;
        min_hclk_hz > 0.0;
        min_ssi_clk_hz > 0.0;
        max_sclk_out_hz >= 0.0;
    }
endclass

`endif
