`ifndef {{ (class_prefix ~ "check_clock_rsp") | upper }}
`define {{ (class_prefix ~ "check_clock_rsp") | upper }}

class {{ class_prefix }}check_clock_rsp extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}check_clock_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
        `uvm_field_int(hclk_connected, UVM_ALL_ON)
        `uvm_field_int(ssi_clk_connected, UVM_ALL_ON)
        `uvm_field_int(hclk_hz, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ssi_clk_hz, UVM_ALL_ON | UVM_DEC)
    `uvm_object_utils_end

    bit ok;
    bit hclk_connected;
    bit ssi_clk_connected;
    longint hclk_hz;
    longint ssi_clk_hz;

    function new(string name="{{ class_prefix }}check_clock_rsp");
        super.new(name);
        ok = 1'b1;
    endfunction
endclass

`endif
