`ifndef {{ (class_prefix ~ "connection") | upper }}
`define {{ (class_prefix ~ "connection") | upper }}

{% set _mac_obs = "_" ~ (class_prefix ~ "conn_observe") | replace("-", "_") | upper %}
{% set _mac_drv = "_" ~ (class_prefix ~ "conn_drive_only") | replace("-", "_") | upper %}
`define {{ _mac_obs }}(t, n, p, tag) \
    {{ class_prefix }}interface {{ class_prefix }}##t##_##n##_if #( \
        .OBSERVE_IN(1'b1), \
        .INSTANCE_TAG(tag) \
    ) ( .in(p) ); \
    initial begin \
        forever begin \
            @({{ class_prefix }}##t##_##n##_if.out); \
            if ($isunknown({{ class_prefix }}##t##_##n##_if.out)) \
                release p; \
            else \
                force p = {{ class_prefix }}##t##_##n##_if.out; \
        end \
    end
`define {{ _mac_drv }}(t, n, tag) \
    wire {{ class_prefix }}##t##_##n##_in_stub; \
    assign {{ class_prefix }}##t##_##n##_in_stub = 1'b0; \
    {{ class_prefix }}interface {{ class_prefix }}##t##_##n##_if #( \
        .OBSERVE_IN(1'b0), \
        .INSTANCE_TAG(tag) \
    ) ( .in({{ class_prefix }}##t##_##n##_in_stub) )

{% for tree in trees %}
{% for node in tree.nodes_ordered %}
{% if node.path %}
`{{ _mac_obs }}({{ tree.name }}, {{ node.name }}, {{ node.path }}, "{{ tree.name }}.{{ node.name }}")
{% else %}
`{{ _mac_drv }}({{ tree.name }}, {{ node.name }}, "{{ tree.name }}.{{ node.name }}")
{% endif %}
{% endfor %}
{% endfor %}

{% for tree in trees %}
function automatic {{ class_prefix }}{{ tree.name }}_tree {{ class_prefix }}build_{{ tree.name }}_tree({% if class_regmodel %}{{ class_regmodel }} regmodel = null{% else %}uvm_reg_block regmodel = null{% endif %});
    {{ class_prefix }}{{ tree.name }}_tree t;

    t = {{ class_prefix }}{{ tree.name }}_tree::type_id::create("{{ tree.name }}");
{% for node in tree.nodes_ordered %}
    t.{{ node.name }}.vif = {{ class_prefix }}{{ tree.name }}_{{ node.name }}_if;
{% endfor %}
{% for tree_name, node_name, member, path in reg_bindings if tree_name == tree.name %}
    if (regmodel != null)
        t.{{ node_name }}.{{ member }} = regmodel.{{ path }};
{% endfor %}
    if (!t.randomize())
        uvm_report_fatal("CLK_TREE", "{{ class_prefix }}build_{{ tree.name }}_tree randomize failed");
    return t;
endfunction

{% endfor %}
function automatic void {{ class_prefix }}build_all_trees(
        ref {{ class_prefix }}base_tree trees[$],
{% if class_regmodel %}
        input {{ class_regmodel }} regmodel = null
{% else %}
        input uvm_reg_block regmodel = null
{% endif %}
    );
    trees.delete();
{% for tree in trees %}
    trees.push_back({{ class_prefix }}build_{{ tree.name }}_tree(regmodel));
{% endfor %}
endfunction

`undef {{ _mac_drv }}
`undef {{ _mac_obs }}

`endif
