`ifndef {{ (class_prefix ~ "constraint") | upper }}
`define {{ (class_prefix ~ "constraint") | upper }}

{%- for tree in trees %}
constraint {{ class_prefix }}{{ tree.name }}_tree::cst_base {
{%- for node in tree.nodes_ordered %}
{%- if node.kind in ["clk", "pll", "source"] and node.freq is not none %}
    soft {{ node.name }}.frequence == {{ node.freq }};
{%- endif %}
{%- if node.allow_bad_duty %}
    soft {{ node.name }}.allow_bad_duty == 1;
{%- endif %}
{%- if node.kind == "mux" and node.mux_sel_inside %}
    soft {{ node.name }}.sel == {{ node.sel }};
    {{ node.name }}.sel inside { {{ node.mux_sel_inside }} };
{%- endif %}
{%- if node.kind in ["div", "dto"] %}
    soft {{ node.name }}.ratio == {{ node.ratio }};
{%- endif %}
{%- endfor %}
{%- for node in tree.nodes_ordered %}
{%- if node.kind == "gate" %}
    low_power -> soft {{ node.name }}.valid == 0;
    !low_power -> soft {{ node.name }}.valid == 1;
{%- endif %}
{%- endfor %}
}

{%- endfor %}

`endif
