`ifndef {{ (class_prefix ~ "base_seq") | upper }}
`define {{ (class_prefix ~ "base_seq") | upper }}

class {{ class_prefix }}base_seq extends uvm_sequence;
    `uvm_object_utils({{ class_prefix }}base_seq)
    `uvm_declare_p_sequencer({{ class_prefix }}sequencer)

    {{ class_prefix }}configuration cfg;
    virtual {{ class_prefix }}sub_interface vif;

    function new(string name = "{{ class_prefix }}base_seq");
        super.new(name);
    endfunction

    extern task pre_start();
endclass

task {{ class_prefix }}base_seq::pre_start();
    super.pre_start();

    cfg = p_sequencer.cfg;
    if (cfg == null)
        `uvm_fatal("", "require cfg")
    vif = p_sequencer.vif;
endtask

`endif
