`ifndef {{ class_prefix | upper }}CHECK_CLOCK_CONFIGURATION
`define {{ class_prefix | upper }}CHECK_CLOCK_CONFIGURATION

class {{ class_prefix }}check_clock_configuration extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}check_clock_configuration)
                                            {%- for clk in monitored_clocks %}
        `uvm_field_int(frequence_{{ clk.name }}, UVM_ALL_ON)
                                            {%- endfor %}
                                            {%- for clk in monitored_clocks %}
        `uvm_field_int(tolerance_{{ clk.name }}, UVM_ALL_ON)
                                            {%- endfor %}
    `uvm_object_utils_end

    {%- for clk in monitored_clocks %}
    rand int frequence_{{ clk.name }}; // {{ clk.name }}频率 (Hz)
    {%- endfor %}
    {%- for clk in monitored_clocks %}
    rand int tolerance_{{ clk.name }}; // {{ clk.name }}允许误差范围 (百分点)
    {%- endfor %}

    function new(string name = "{{ class_prefix }}check_clock_configuration");
        super.new(name);
    endfunction

    constraint cst_chk_clk_cfg {
                                            {%- for clk in monitored_clocks %}
        soft frequence_{{ clk.name }} == {{ clk.frequence }};
                                            {%- endfor %}
                                            {%- for clk in monitored_clocks %}
        soft tolerance_{{ clk.name }} == {{ clk.tolerance }};
                                            {%- endfor %}
    }
endclass
`endif
