`ifndef {{ (class_prefix ~ "base_tree") | upper }}
`define {{ (class_prefix ~ "base_tree") | upper }}

class {{ class_prefix }}base_tree extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}base_tree)
        `uvm_field_queue_object(nodes, UVM_ALL_ON)
        `uvm_field_int(low_power, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ class_prefix }}node_base nodes[$];
    rand bit low_power;

    constraint cst_base_tree {
        soft !low_power;
        foreach (nodes[i]) {
            nodes[i].kind == "clk" -> {
                low_power -> soft !nodes[i].valid;
                !low_power -> soft nodes[i].valid;
            }
        }
    }

    function new(string name = "{{ class_prefix }}base_tree");
        super.new(name);
    endfunction
endclass

`endif
