`ifndef {{ (settings.class_prefix ~ "base_item") | upper }}
`define {{ (settings.class_prefix ~ "base_item") | upper }}

class {{ settings.class_prefix }}base_item extends {{ settings.class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils({{ settings.class_prefix }}base_item)

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
