`ifndef {{ (class_prefix ~ "base_pll") | upper }}
`define {{ (class_prefix ~ "base_pll") | upper }}

class {{ class_prefix }}base_pll extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}base_pll)
        `uvm_field_enum(pll_kind_e, pll_kind, UVM_ALL_ON)
        `uvm_field_int(locked, UVM_ALL_ON)
    `uvm_object_utils_end

    pll_kind_e pll_kind;
    bit locked;

    constraint cst_freq_from_src {
    }

    constraint cst_pll {
        frequence > 0 -> valid == 1;
    }

    function new(string name = "");
        super.new(name);
        kind = "pll";
    endfunction
endclass

`endif
