`ifndef {{ (settings.class_prefix ~ "base_item") | upper }}
`define {{ (settings.class_prefix ~ "base_item") | upper }}

class {{ settings.class_prefix }}base_item extends uvm_sequence_item;
    `uvm_object_utils({{ settings.class_prefix }}base_item)

{{ sv_family_declarations | indent(4, true) }}

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
