`ifndef {{ (settings.class_prefix ~ "cell") | upper }}
`define {{ (settings.class_prefix ~ "cell") | upper }}

class {{ settings.class_prefix }}cell extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}cell)
        `uvm_field_string(cell_kind, UVM_DEFAULT)
    `uvm_object_utils_end

    string cell_kind;

    function new(string name = "");
        super.new(name);
        cell_kind = "cell";
        kind = "cell";
    endfunction
endclass

`endif
