`ifndef {{ (settings.class_prefix ~ "clk") | upper }}
`define {{ (settings.class_prefix ~ "clk") | upper }}

class {{ settings.class_prefix }}clk extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils({{ settings.class_prefix }}clk)

    function new(string name = "");
        super.new(name);
        kind = "clk";
    endfunction
endclass

`endif
