`ifndef {{ (settings.class_prefix ~ "clk") | upper }}
`define {{ (settings.class_prefix ~ "clk") | upper }}

class {{ settings.class_prefix }}clk extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}clk)
        `uvm_field_int(frequence, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(enabled, UVM_ALL_ON)
{%- if enable_node_fix %}
        `uvm_field_int(unfix_frequence, UVM_DEFAULT|(_print_fix?0:UVM_NOPRINT))
        `uvm_field_int(unfix_enabled, UVM_DEFAULT|(_print_fix?0:UVM_NOPRINT))
{%- endif %}
    `uvm_object_utils_end

    longint frequence;
    rand bit enabled;
    bit _always_active;
{%- if enable_node_fix %}
    bit unfix_frequence;
    bit unfix_enabled;
{%- endif %}

    constraint cst_clk {
{%- if enable_node_fix %}
        !unfix_frequence -> frequence == _resolved_freq;
        !unfix_enabled -> enabled == _resolved_active;
{%- else %}
        frequence == _resolved_freq;
        enabled == _resolved_active;
{%- endif %}
        _always_active -> enabled == 1'b1;
    }

    function new(string name = "");
        super.new(name);
        frequence = 0;
        _always_active = 1'b0;
{%- if enable_node_fix %}
        unfix_frequence = 0;
        unfix_enabled = 0;
{%- endif %}
        kind = "clk";
    endfunction
endclass

`endif
