`ifndef {{ (settings.class_prefix ~ "div_base") | upper }}
`define {{ (settings.class_prefix ~ "div_base") | upper }}

class {{ settings.class_prefix }}div_base extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}div_base)
        `uvm_field_int(_resolved_ratio, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ratio, UVM_ALL_ON | UVM_DEC)
{%- if enable_node_fix %}
        `uvm_field_int(unfix_ratio, UVM_DEFAULT|UVM_DEC|(_print_fix?0:UVM_NOPRINT))
{%- endif %}
    `uvm_object_utils_end

    div_kind_e div_kind;
    rand int _resolved_ratio;
    int ratio;
{%- if enable_node_fix %}
    bit unfix_ratio;
{%- endif %}

    constraint cst_ratio {
{%- if enable_node_fix %}
        !(unfix_ratio || ratio < 0) -> ratio == _resolved_ratio;
{%- else %}
        ratio >= 0 -> ratio == _resolved_ratio;
{%- endif %}
    }

    constraint cst_resolve_freq_from_src {
        source != null && _resolved_ratio > 0 -> {
            1.0 * _resolved_freq >= 1.0 * (source._resolved_freq / _resolved_ratio)
                * (1.0 - {{ settings.period_tolerance }});
            1.0 * _resolved_freq <= 1.0 * (source._resolved_freq / _resolved_ratio)
                * (1.0 + {{ settings.period_tolerance }});
        };
    }

    function new(string name = "");
        super.new(name);
        ratio = -1;
{%- if enable_node_fix %}
        unfix_ratio = 1'b1;
{%- endif %}
        kind = "div";
    endfunction
endclass

`endif
