`ifndef {{ (settings.class_prefix ~ "div_dto") | upper }}
`define {{ (settings.class_prefix ~ "div_dto") | upper }}

class {{ settings.class_prefix }}div_dto extends {{ settings.class_prefix }}div_base;
    `uvm_object_utils({{ settings.class_prefix }}div_dto)
    {{ settings.class_prefix }}reg f_rst;
    {{ settings.class_prefix }}reg f_load;
    {{ settings.class_prefix }}reg f_bypass;
    {{ settings.class_prefix }}reg f_step;

    constraint cst_dto {
        _resolved_ratio > 0;
        _resolved_ratio <= (1 << 25);
    }

    function new(string name = "");
        super.new(name);
        f_rst = new();
        f_load = new();
        f_bypass = new();
        f_step = new();
    endfunction
endclass

`endif
