`ifndef {{ (settings.class_prefix ~ "div_base") | upper }}
`define {{ (settings.class_prefix ~ "div_base") | upper }}
{%- set div_freq_tol_den = settings.div_freq_tolerance_den %}
{%- set div_freq_tol_num = settings.div_freq_tolerance_num %}
{%- set div_freq_tol_lo = div_freq_tol_den - div_freq_tol_num %}
{%- set div_freq_tol_hi = div_freq_tol_den + div_freq_tol_num %}

class {{ settings.class_prefix }}div_base extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}div_base)
        `uvm_field_int(_resolved_ratio, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ratio, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(unfix_ratio, UVM_DEFAULT|UVM_DEC|(_print_fix?0:UVM_NOPRINT))
    `uvm_object_utils_end

    div_kind_e div_kind;
    rand int _resolved_ratio;
    int ratio;
    bit unfix_ratio;

    constraint cst_ratio {
        !(unfix_ratio || ratio < 0) -> ratio == _resolved_ratio;
    }

    constraint cst_resolve_freq_from_src {
        source != null && _resolved_ratio > 0 -> {
            _resolved_freq >= (source._resolved_freq / _resolved_ratio) * {{ div_freq_tol_lo }} / {{ div_freq_tol_den }};
            _resolved_freq <= (source._resolved_freq / _resolved_ratio) * {{ div_freq_tol_hi }} / {{ div_freq_tol_den }};
        }
    }

    function new(string name = "");
        super.new(name);
        ratio = -1;
        unfix_ratio = 1'b1;
        kind = "div";
    endfunction
endclass

`endif
