`ifndef {{ (class_prefix ~ "dto") | upper }}
`define {{ (class_prefix ~ "dto") | upper }}

class {{ class_prefix }}dto extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}dto)
        `uvm_field_int(ratio, UVM_ALL_ON)
    `uvm_object_utils_end

    rand int ratio;
{% for key in dto_reg_keys %}
    uvm_reg_field f_{{ key }};
{% endfor %}

    constraint cst_dto {
        ratio > 0;
    }

    constraint cst_freq_from_src {
        source != null -> frequence == source.frequence / ratio;
    }

    function new(string name = "");
        super.new(name);
        kind = "dto";
    endfunction
endclass

`endif
