`ifndef {{ (settings.class_prefix ~ "dto") | upper }}
`define {{ (settings.class_prefix ~ "dto") | upper }}

class {{ settings.class_prefix }}dto extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}dto)
        `uvm_field_int(ratio, UVM_ALL_ON)
    `uvm_object_utils_end

    rand int ratio;
{% if regs_enabled %}
    {{ settings.class_prefix }}reg_bind f_rstn;
    {{ settings.class_prefix }}reg_bind f_load;
    {{ settings.class_prefix }}reg_bind f_bypass;
    {{ settings.class_prefix }}reg_bind f_step;
{% endif %}

    constraint cst_dto {
        ratio > 0;
        ratio <= (1 << 25);
    }

    constraint cst_freq_from_src {
        source != null -> frequence == source.frequence / ratio;
    }

    function new(string name = "");
        super.new(name);
{% if regs_enabled %}
        f_rstn = new();
        f_load = new();
        f_bypass = new();
        f_step = new();
{% endif %}
        kind = "dto";
    endfunction
endclass

`endif
