`ifndef {{ (settings.class_prefix ~ "gate") | upper }}
`define {{ (settings.class_prefix ~ "gate") | upper }}

class {{ settings.class_prefix }}gate extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}gate)
        `uvm_field_int(open, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit open;
{%- if enable_node_fix %}
    bit fix_open;
    bit fix_close;
{%- endif %}
{% if regs_enabled %}
    {{ settings.class_prefix }}reg f_reg;
{% endif %}

    constraint cst_resolve_active_from_src {
        !open -> !_resolved_active;
        open -> {
            source -> _resolved_active == source._resolved_active;
            !source -> !_resolved_active;
        }
    }

    constraint cst_resolve_freq_from_src {
        !open -> _resolved_freq == 0;
        open -> {
            source -> _resolved_freq == source._resolved_freq;
            !source -> _resolved_freq == 0;
        }
    }
{%- if enable_node_fix %}

    constraint cst_gate {
        fix_open -> open;
        fix_close -> !open;
    }
{%- endif %}

    function new(string name = "");
        super.new(name);
{%- if enable_node_fix %}
        fix_open = 0;
        fix_close = 0;
{%- endif %}
{% if regs_enabled %}
        f_reg = new();
{% endif %}
        kind = "gate";
    endfunction
endclass

`endif
