`ifndef {{ (class_prefix ~ "gate") | upper }}
`define {{ (class_prefix ~ "gate") | upper }}

class {{ class_prefix }}gate extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}gate)
        `uvm_field_int(open, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit open;
    {{ class_prefix }}reg_bind f_reg;

    constraint cst_clk_from_src {
        source != null -> valid == (source.valid && open);
    }

    function new(string name = "");
        super.new(name);
        kind = "gate";
    endfunction
endclass

`endif
