`ifndef {{ (settings.class_prefix ~ "inv") | upper }}
`define {{ (settings.class_prefix ~ "inv") | upper }}

class {{ settings.class_prefix }}inv extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils({{ settings.class_prefix }}inv)

    function new(string name = "");
        super.new(name);
        kind = "inv";
    endfunction
endclass

`endif
