`ifndef {{ (settings.class_prefix ~ "inv_base") | upper }}
`define {{ (settings.class_prefix ~ "inv_base") | upper }}

class {{ settings.class_prefix }}inv_base extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}inv_base)
        `uvm_field_int(inverted, UVM_ALL_ON)
        `uvm_field_int(fix_inverted, UVM_DEFAULT|(_print_fix?0:UVM_NOPRINT))
    `uvm_object_utils_end

    inv_kind_e inv_kind;
    rand bit inverted;
    bit fix_inverted;
    {{ settings.class_prefix }}reg f_reg;

    constraint cst_resolve_active_from_src {
        source != null -> _resolved_active == source._resolved_active;
    }

    constraint cst_resolve_freq_from_src {
        source != null -> _resolved_freq == source._resolved_freq;
    }

    constraint cst_inv {
        fix_inverted -> inverted;
    }

    function new(string name = "");
        super.new(name);
        inverted = 1'b1;
        fix_inverted = 0;
        f_reg = new();
        kind = "inv";
    endfunction
endclass

`endif
