`ifndef {{ (settings.class_prefix ~ "inv_mux") | upper }}
`define {{ (settings.class_prefix ~ "inv_mux") | upper }}

class {{ settings.class_prefix }}inv_mux extends {{ settings.class_prefix }}inv_base;
    `uvm_object_utils({{ settings.class_prefix }}inv_mux)

    function new(string name = "");
        super.new(name);
        inv_kind = INV_MUX;
    endfunction
endclass

`endif
