{% if settings.direct_config %}
spec.sv
base.sv
node_base.sv
reg.sv
source_base.sv
source.sv
source_pad.sv
clk.sv
div_base.sv
div_div.sv
div_dto.sv
div_div_r.sv
gate.sv
cell.sv
mux.sv
inv_base.sv
inv.sv
inv_mux.sv
inv_cell.sv
pll_base.sv
pll_tci.sv
pll_sc.sv
pll_dw.sv
pll_inno.sv
tree_base.sv
tree.sv
direct_config.sv
{% endif %}
