`ifndef {{ (settings.class_prefix ~ "mux") | upper }}
`define {{ (settings.class_prefix ~ "mux") | upper }}

class {{ settings.class_prefix }}mux extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}mux)
        `uvm_field_int(sel, UVM_ALL_ON)
    `uvm_object_utils_end

    int max_sel;
    rand int sel;
{%- if enable_node_fix %}
    int fix_sel;
{%- endif %}
    {{ settings.class_prefix }}node_base to_source[int];
{% if regs_enabled %}
    {{ settings.class_prefix }}reg f_rst;
    {{ settings.class_prefix }}reg f_sel;
{% endif %}

    constraint cst_mux {
        sel inside {[0:max_sel]};
{%- if enable_node_fix %}
        fix_sel >= 0 -> sel == fix_sel;
{%- endif %}
    }

    constraint cst_resolve_active_from_src {
        to_source[sel] == null -> _resolved_active == 0;
        to_source[sel] != null -> _resolved_active == to_source[sel]._resolved_active;
    }

    constraint cst_resolve_freq_from_src {
        to_source[sel] != null -> _resolved_freq == to_source[sel]._resolved_freq;
    }

    function new(string name = "");
        super.new(name);
{%- if enable_node_fix %}
        fix_sel = -1;
{%- endif %}
{% if regs_enabled %}
        f_rst = new();
        f_sel = new();
{% endif %}
        kind = "mux";
    endfunction

    function void post_randomize();
        super.post_randomize();
        if (to_source[sel] != null)
            source = to_source[sel];
    endfunction
endclass

`endif
