`ifndef {{ (settings.class_prefix ~ "mux") | upper }}
`define {{ (settings.class_prefix ~ "mux") | upper }}

class {{ settings.class_prefix }}mux extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}mux)
        `uvm_field_int(sel, UVM_ALL_ON)
        `uvm_field_int(max_sel, UVM_ALL_ON)
{%- if enable_node_fix %}
        `uvm_field_int(fix_sel, UVM_DEFAULT)
{%- endif %}
    `uvm_object_utils_end

    int max_sel;
    rand int sel;
{%- if enable_node_fix %}
    int fix_sel;
{%- endif %}
    {{ settings.class_prefix }}node_base to_source[int];
{% if regs_enabled %}
    {{ settings.class_prefix }}reg f_reg;
{% endif %}

    constraint cst_mux {
        sel inside {[0:max_sel]};
    }

    constraint cst_clk_from_src {
        to_source[sel] == null -> valid == 0;
        to_source[sel] != null -> valid == to_source[sel].valid;
{%- if enable_node_fix %}
        fix_sel >= 0 -> sel == fix_sel;
{%- endif %}
    }

    constraint cst_freq_from_src {
        to_source[sel] != null -> frequence == to_source[sel].frequence;
    }

    function new(string name = "");
        super.new(name);
{%- if enable_node_fix %}
        fix_sel = -1;
{%- endif %}
{% if regs_enabled %}
        f_reg = new();
{% endif %}
        kind = "mux";
    endfunction

    function void post_randomize();
        super.post_randomize();
        if (to_source[sel] != null)
            source = to_source[sel];
    endfunction
endclass

`endif
