`ifndef {{ (settings.class_prefix ~ "mux") | upper }}
`define {{ (settings.class_prefix ~ "mux") | upper }}

class {{ settings.class_prefix }}mux extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}mux)
        `uvm_field_int(_resolved_sel, UVM_ALL_ON)
        `uvm_field_int(sel, UVM_ALL_ON)
{%- if enable_node_fix %}
        `uvm_field_int(unfix_sel, UVM_DEFAULT|UVM_DEC|(_print_fix?0:UVM_NOPRINT))
{%- endif %}
    `uvm_object_utils_end

    int max_sel;
    rand int _resolved_sel;
    int sel;
{%- if enable_node_fix %}
    bit unfix_sel;
{%- endif %}
    {{ settings.class_prefix }}node_base to_source[int];
{% if regs_enabled %}
    {{ settings.class_prefix }}reg f_reg;
{% endif %}

    constraint cst_mux {
        _resolved_sel inside {[0:max_sel]};
{%- if enable_node_fix %}
        !(unfix_sel || sel < 0) -> sel == _resolved_sel;
{%- else %}
        sel >= 0 -> sel == _resolved_sel;
{%- endif %}
    }

    constraint cst_resolve_active_from_src {
        to_source[_resolved_sel] != null -> _resolved_active == to_source[_resolved_sel]._resolved_active;
    }

    constraint cst_resolve_freq_from_src {
        to_source[_resolved_sel] != null -> _resolved_freq == to_source[_resolved_sel]._resolved_freq;
    }

    function new(string name = "");
        super.new(name);
        sel = -1;
{%- if enable_node_fix %}
        unfix_sel = 1'b1;
{%- endif %}
{% if regs_enabled %}
        f_reg = new();
{% endif %}
        kind = "mux";
    endfunction

    function void post_randomize();
        super.post_randomize();
        if (to_source[_resolved_sel] != null)
            source = to_source[_resolved_sel];
    endfunction
endclass

`endif
