`ifndef {{ (settings.class_prefix ~ "node_base") | upper }}
`define {{ (settings.class_prefix ~ "node_base") | upper }}

class {{ settings.class_prefix }}node_base extends {{ settings.class_prefix }}base_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}node_base)
        `uvm_field_string(kind, UVM_ALL_ON)
        `uvm_field_int(frequence, UVM_ALL_ON)
        `uvm_field_int(valid, UVM_ALL_ON)
    `uvm_object_utils_end

    string kind;
    rand longint frequence;
    rand bit valid;
{% if any_node_path %}
    virtual {{ settings.class_prefix }}interface vif;
{% endif %}
    {{ settings.class_prefix }}node_base source;

    constraint cst_node_base {
        soft frequence == 0;
        soft valid == 0;
    }

    constraint cst_clk_from_src {
        source != null -> valid == source.valid;
    }

    constraint cst_freq_from_src {
        source != null -> frequence == source.frequence;
    }

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
