`ifndef {{ (settings.class_prefix ~ "node_base") | upper }}
`define {{ (settings.class_prefix ~ "node_base") | upper }}

class {{ settings.class_prefix }}node_base extends {{ settings.class_prefix }}base_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}node_base)
        `uvm_field_int(_resolved_freq, UVM_DEFAULT|UVM_DEC|(_print_resolve?0:UVM_NOPRINT))
        `uvm_field_int(_resolved_active, UVM_DEFAULT|(_print_resolve?0:UVM_NOPRINT))
    `uvm_object_utils_end

    string kind;
    rand longint _resolved_freq;
    rand bit _resolved_active;
    bit _print_resolve;
    bit _print_fix;
    {{ settings.class_prefix }}node_base source;
`ifdef {{ (settings.class_prefix ~ "interface") | upper }}
    virtual {{ settings.class_prefix }}interface vif;
    virtual {{ settings.class_prefix }}interface in_vif;
    virtual {{ settings.class_prefix }}interface out_vif;
    virtual {{ settings.class_prefix }}interface in_vifs[string];
    virtual {{ settings.class_prefix }}interface out_vifs[string];
`endif

    constraint cst_node_base {
        soft _resolved_freq == 0;
        soft _resolved_active == 0;
        (_resolved_freq > 0) == _resolved_active;
    }

    constraint cst_resolve_active_from_src {
        source != null -> _resolved_active == source._resolved_active;
    }

    constraint cst_resolve_freq_from_src {
        source != null -> _resolved_freq == source._resolved_freq;
    }

    function new(string name = "");
        super.new(name);
        _print_resolve = 0;
        _print_fix = 0;
    endfunction
`ifdef {{ (settings.class_prefix ~ "interface") | upper }}
    function bit has_in_vif(string key = "");
        if (key == "")
            return in_vif != null;
        return in_vifs.exists(key) && in_vifs[key] != null;
    endfunction

    function bit has_out_vif(string key = "");
        if (key == "")
            return out_vif != null;
        return out_vifs.exists(key) && out_vifs[key] != null;
    endfunction

    function virtual {{ settings.class_prefix }}interface get_in_vif(string key = "");
        if (key == "")
            return in_vif;
        if (!in_vifs.exists(key))
            return null;
        return in_vifs[key];
    endfunction

    function virtual {{ settings.class_prefix }}interface get_out_vif(string key = "");
        if (key == "")
            return out_vif;
        if (!out_vifs.exists(key))
            return null;
        return out_vifs[key];
    endfunction
`endif
endclass

`endif
