`ifndef {{ (class_prefix ~ "pll_sc") | upper }}
`define {{ (class_prefix ~ "pll_sc") | upper }}

class {{ class_prefix }}pll_sc extends {{ class_prefix }}base_pll;
    `uvm_object_utils({{ class_prefix }}pll_sc)
{%- if regs_enabled %}
{%- for key in pll_reg_keys_by_kind['sc'] %}
    {{ class_prefix }}reg_bind f_{{ key }};
{%- endfor %}
{%- endif %}

    function new(string name = "");
        super.new(name);
{%- if regs_enabled %}
{%- for key in pll_reg_keys_by_kind['sc'] %}
        f_{{ key }} = new();
{%- endfor %}
{%- endif %}
        pll_kind = PLL_SC;
    endfunction
endclass

`endif
