`ifndef {{ (settings.class_prefix ~ "pll_base") | upper }}
`define {{ (settings.class_prefix ~ "pll_base") | upper }}

class {{ settings.class_prefix }}pll_base extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}pll_base)
        `uvm_field_enum(pll_kind_e, pll_kind, UVM_ALL_ON)
        `uvm_field_int(locked, UVM_ALL_ON)
        `uvm_field_int(classic_frequence, UVM_ALL_ON)
{%- if enable_node_fix %}
        `uvm_field_int(fix_mul, UVM_DEFAULT)
{%- endif %}
    `uvm_object_utils_end

    pll_kind_e pll_kind;
    bit locked;
    longint classic_frequence;
{%- if enable_node_fix %}
    int fix_mul;
{%- endif %}

    constraint cst_freq_from_src {
{%- if enable_node_fix %}
        fix_mul > 0 && source != null -> frequence == source.frequence * fix_mul;
{%- endif %}
    }

    constraint cst_pll {
        soft frequence == classic_frequence;
        frequence > 0 -> valid == 1;
    }

    function new(string name = "");
        super.new(name);
{%- if enable_node_fix %}
        fix_mul = 0;
{%- endif %}
        kind = "pll";
    endfunction
endclass

`endif
