`ifndef {{ (settings.class_prefix ~ "pll_base") | upper }}
`define {{ (settings.class_prefix ~ "pll_base") | upper }}

class {{ settings.class_prefix }}pll_base extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils_begin({{ settings.class_prefix }}pll_base)
        `uvm_field_int(frequence, UVM_ALL_ON)
    `uvm_object_utils_end

    longint frequence;
    pll_kind_e pll_kind;
    bit locked;

    constraint cst_resolve_freq_from_src {
        soft _resolved_freq == frequence;
    }

    function new(string name = "");
        super.new(name);
        frequence = 0;
        kind = "pll";
    endfunction
endclass

`endif
