`ifndef {{ (class_prefix ~ "pll_dw") | upper }}
`define {{ (class_prefix ~ "pll_dw") | upper }}

class {{ class_prefix }}pll_dw extends {{ class_prefix }}base_pll;
    `uvm_object_utils({{ class_prefix }}pll_dw)
{%- for key in pll_reg_keys_by_kind['dw'] %}
    {{ class_prefix }}reg_bind f_{{ key }};
{%- endfor %}

    function new(string name = "");
        super.new(name);
{%- for key in pll_reg_keys_by_kind['dw'] %}
        f_{{ key }} = new();
{%- endfor %}
        pll_kind = PLL_DW;
    endfunction
endclass

`endif
