`ifndef {{ (settings.class_prefix ~ "pll_tci") | upper }}
`define {{ (settings.class_prefix ~ "pll_tci") | upper }}

class {{ settings.class_prefix }}pll_tci extends {{ settings.class_prefix }}base_pll;
    `uvm_object_utils({{ settings.class_prefix }}pll_tci)
{%- if regs_enabled %}
{%- for key in pll_reg_keys_by_kind['tci'] %}
    {{ settings.class_prefix }}reg_bind f_{{ key }};
{%- endfor %}
{%- endif %}

    function new(string name = "");
        super.new(name);
{%- if regs_enabled %}
{%- for key in pll_reg_keys_by_kind['tci'] %}
        f_{{ key }} = new();
{%- endfor %}
{%- endif %}
        pll_kind = PLL_TCI;
    endfunction
endclass

`endif
