{% if regs_enabled %}
`ifndef {{ (settings.class_prefix ~ "reg") | upper }}
`define {{ (settings.class_prefix ~ "reg") | upper }}

class {{ settings.class_prefix }}reg;
    uvm_reg_field field;
    int unsigned offset;
    int unsigned width;
    bit has_read;

    function new();
        offset = 0;
        width = 0;
        has_read = 1'b0;
    endfunction

    function bit is_bound();
        return field != null;
    endfunction
endclass

`endif
{% endif %}
