{%- if setting_defs %}
`ifndef {{ (class_prefix ~ "settings") | upper }}
`define {{ (class_prefix ~ "settings") | upper }}

class {{ class_prefix }}settings extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}settings)
{% for def in setting_defs %}
{% if def.type == 'str' %}
        `uvm_field_string({{ def.name }}, UVM_ALL_ON)
{% else %}
        `uvm_field_int({{ def.name }}, UVM_ALL_ON)
{% endif %}
{% endfor %}
    `uvm_object_utils_end

{% for def in setting_defs %}
    {{ "string" if def.type == "str" else def.type }} {{ def.name }};
{% endfor %}

    function new(string name="{{ class_prefix }}settings");
        super.new(name);
{% for def in setting_defs %}
{% if def.type == 'str' %}
        {{ def.name }} = "{{ def.default | replace('"', '\\"') }}";
{% elif def.type == 'bit' %}
        {{ def.name }} = {{ 1 if def.default else 0 }};
{% else %}
        {{ def.name }} = {{ def.default }};
{% endif %}
{% endfor %}
    endfunction
endclass

`endif
{%- endif %}
