`ifndef {{ (settings.class_prefix ~ "source_vdd") | upper }}
`define {{ (settings.class_prefix ~ "source_vdd") | upper }}

class {{ settings.class_prefix }}source_vdd extends {{ settings.class_prefix }}source_base;
    `uvm_object_utils({{ settings.class_prefix }}source_vdd)

    constraint cst_vdd {
        frequence == 0;
    }

    function new(string name = "");
        super.new(name);
        source_kind = VDD;
    endfunction
endclass

`endif
