`ifndef {{ (settings.class_prefix ~ "source") | upper }}
`define {{ (settings.class_prefix ~ "source") | upper }}

class {{ settings.class_prefix }}source extends {{ settings.class_prefix }}node_base;
    `uvm_object_utils({{ settings.class_prefix }}source)

    constraint cst_source {
        frequence > 0 -> valid == 1;
    }

    function new(string name = "");
        super.new(name);
        kind = "source";
    endfunction
endclass

`endif
