`ifndef {{ (settings.class_prefix ~ "source") | upper }}
`define {{ (settings.class_prefix ~ "source") | upper }}

class {{ settings.class_prefix }}source extends {{ settings.class_prefix }}source_base;
    `uvm_object_utils({{ settings.class_prefix }}source)

    function new(string name = "");
        super.new(name);
        source_kind = SOURCE;
    endfunction
endclass

`endif
