`ifndef {{ (settings.class_prefix ~ "spec") | upper }}
`define {{ (settings.class_prefix ~ "spec") | upper }}

class {{ settings.class_prefix }}spec#(type T = uvm_object) extends T;
    `uvm_object_param_utils({{ settings.class_prefix }}spec#(T))

    typedef enum {
        PLL_TCI,
        PLL_SC,
        PLL_DW,
        PLL_INNO
    } pll_kind_e;

    typedef enum {
        DIV,
        DIV_N,
        DTO,
        DTO_N,
        CPU_GATE,
        DIV_R
    } div_kind_e;

    typedef enum {
        INV,
        MUX_INV,
        INV_CELL
    } inv_kind_e;

    typedef enum {
        SOURCE,
        PAD,
        VDD,
        GND
    } source_kind_e;

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
