`ifndef {{ (settings.class_prefix ~ "tree_base") | upper }}
`define {{ (settings.class_prefix ~ "tree_base") | upper }}

class {{ settings.class_prefix }}tree_base extends {{ settings.class_prefix }}base_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}tree_base)
        `uvm_field_queue_object(nodes, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_queue_object(clock_nodes, UVM_ALL_ON | UVM_NOPRINT)
    `uvm_object_utils_end

    {{ settings.class_prefix }}node_base nodes[$];
    {{ settings.class_prefix }}clk clock_nodes[$];

    function new(string name = "{{ settings.class_prefix }}tree_base");
        super.new(name);
    endfunction
endclass

`endif
