`ifndef {{ (settings.class_prefix ~ "tree_base") | upper }}
`define {{ (settings.class_prefix ~ "tree_base") | upper }}

class {{ settings.class_prefix }}tree_base extends {{ settings.class_prefix }}base_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}tree_base)
        `uvm_field_queue_object(nodes, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(low_power, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ settings.class_prefix }}node_base nodes[$];
    rand bit low_power;

    constraint cst_tree_base {
        soft !low_power;
        foreach (nodes[i]) {
            nodes[i].kind == "clk" -> {
                low_power -> soft !nodes[i].valid;
                !low_power -> soft nodes[i].valid;
            }
        }
    }

    function new(string name = "{{ settings.class_prefix }}tree_base");
        super.new(name);
    endfunction
endclass

`endif
