`ifndef {{ class_table | upper }}
`define {{ class_table | upper }}

class {{ class_table }};
    function new(string head[$]='{},int align[$]='{},int min_width[$]='{});
        this.head = head;
        this.align = align;
        this.min_width = min_width;
    endfunction

    int align[$]; // 对齐方式，0=居中，负数=左，正数=右，默认居中
    int min_width[$]; // 最小宽度，显示宽度不足时补齐
    string head[$]; // 表头

    // 转字符串
    extern function string tostring(string body[$][$]);

    // 一行表格转字符串
    extern protected function string table2str(string tb[$][$],int width[$]);

    // 处理一行字符串中的换行，合并多行
    extern protected function void lf(input string i[$],ref string o[$][$]);

    // 转置
    extern protected function void transpose(input string i[$][$],output string o[$][$]);

    /*
     * 将字符串填充到指定长度，并排版
     *
     * s : 字符串
     * len : 填充目标长度
     * sign : 填充的符号，默认空格
     * align : 负数靠左，零居中，正数靠右，默认居中
     */
    extern protected function string layout(string s,int len,string sign=" ",int align=0);

    // 分析字符串长度
    extern protected function int length(string s);

    /*
     * 在字符串中统计子字符串的次数
     *
     * s : 字符串
     * tar : 子字符串
     */
    extern protected function int count(string s,string tar);
endclass

function int {{ class_table }}::count(string s,string tar);
    int sum;
    int n;
    int lo;

    // alias
    lo = 0;
    n = 0;

    // 计算
    sum = s.len-tar.len+1;

    while(lo < sum) begin
        string t;

        // 计算
        t = s.substr(lo,lo+tar.len-1);

        if(t == tar) begin
            n++;
            lo += tar.len-1;
        end

        // ++
        lo++;
    end

    return n;
endfunction

function int {{ class_table }}::length(string s);
    int n;

    // alias
    n = 0;

    for(int j=0;j<s.len;j++) begin
        int asc;

        asc = s.getc(j);

        if(asc >= 0)
            n += 1;
        else begin
            j += 2;
            if(asc < -28)
                n += 1;
            else
                n += 2;
        end
    end

    return n;
endfunction

function string {{ class_table }}::layout(string s,int len,string sign,int align);
    int n;

    // alias
    n = 0;

    for(int j=0;j<s.len;j++) begin
        int asc;

        asc = s.getc(j);

        if(asc >= 0)
            n += 1;
        else begin
            j += 2;
            if(asc < -28)
                n += 1;
            else
                n += 2;
        end
    end

    while(n < len) begin
        if(align < 0) begin
            s = {s,sign};
            n++;
        end
        else if(align > 0) begin
            s = {sign,s};
            n++;
        end
        else begin
            s = {s,sign};
            n++;
            if(n < len) begin
                s = {sign,s};
                n++;
            end
        end
    end

    return s;
endfunction

function void {{ class_table }}::transpose(input string i[$][$],output string o[$][$]);
    foreach(i[j,k])
        o[k][j] = i[j][k];
endfunction

function void {{ class_table }}::lf(input string i[$],ref string o[$][$]);
    string sp[$][$]; // 分割
    string tr[$][$]; // 转置
    int max_size;

    foreach(i[j])
        uvm_split_string(i[j],"\n",sp[j]);

    foreach(sp[j])
        max_size = $max(max_size,sp[j].size);

    foreach(sp[j])
        while(sp[j].size < max_size)
            sp[j].push_back("");

    transpose(sp,tr);
    o = {o,tr};
endfunction

function string {{ class_table }}::table2str(string tb[$][$],int width[$]);
    string sign_split; // 分隔符
    string s;
    string ss[$];
    string head_sp[$][$]; // 分割行
    int line_head; // 表头占用行数

    // compute
    sign_split = "|";

    // format
    foreach(tb[row]) begin
        s = sign_split;
        foreach(tb[row][column])
            s = {s,layout(tb[row][column],width[column],.align(align[column])),sign_split};
        ss.push_back(s);
    end

    while(ss.size) begin
        if(table2str.len)
            table2str = {table2str,"\n"};
        table2str = {table2str,ss.pop_front()};
    end
endfunction

function string {{ class_table }}::tostring(string body[$][$]);
    string tb[$][$];
    int width[$];
    string split[$];
    int num_padding; // 两边填充数
    string str_padding; // 两边填充字符串

    // compute
    split = '{};
    num_padding = 2;
    str_padding = {num_padding{" "}};

    // 表头
    tb.push_back(split);
    tb.push_back(this.head);
    tb.push_back(split);

    // 分割行
    foreach(body[j]) begin
        lf(body[j],tb);

        // 分割线
        tb.push_back(split);
    end

    // 内边距
    foreach(tb[row,column])
        if(tb[row] != split)
            tb[row][column] = {str_padding,tb[row][column],str_padding};

    // 计算宽度
    foreach(tb[row,column])
        width[column] = $max(width[column],length(tb[row][column]));

    // 根据最小宽度更新
    foreach(width[column])
        width[column] = $max(width[column],this.min_width[column]);

    // 分割线宽度
    foreach(tb[row])
        if(tb[row] == split) begin
            tb[row] = '{};
            foreach(width[column])
                tb[row].push_back(width[column]{"-"});
        end

    return table2str(tb,width);
endfunction

`endif
