`ifndef {{ (settings.class_prefix ~ "reg_read_seq") | upper }}
`define {{ (settings.class_prefix ~ "reg_read_seq") | upper }}

class {{ settings.class_prefix }}reg_read_seq extends uvm_sequence #(
    {{ settings.class_prefix }}reg_read_req,
    {{ settings.class_prefix }}reg_read_rsp
);
    `uvm_object_utils({{ settings.class_prefix }}reg_read_seq)
    `uvm_declare_p_sequencer({{ settings.class_prefix }}sequencer)

    function new(string name="{{ settings.class_prefix }}reg_read_seq");
        super.new(name);
    endfunction

    extern virtual task body();
endclass

task {{ settings.class_prefix }}reg_read_seq::body();
    if (req == null)
        `uvm_fatal("DW_SPI_REG", "reg_read req is null")
    rsp = {{ settings.class_prefix }}reg_read_rsp::type_id::create("rsp");
    p_sequencer.read_register(req.offset, rsp.value);
endtask

`endif
