`ifndef {{ (settings.class_prefix ~ "reg_read_rsp") | upper }}
`define {{ (settings.class_prefix ~ "reg_read_rsp") | upper }}

class {{ settings.class_prefix }}reg_read_rsp extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}reg_read_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
        `uvm_field_int(value, UVM_ALL_ON | UVM_HEX)
    `uvm_object_utils_end

    bit ok;
    bit [31:0] value;

    function new(string name="{{ settings.class_prefix }}reg_read_rsp");
        super.new(name);
        ok = 1'b1;
    endfunction
endclass

`endif
