`ifndef {{ (class_prefix ~ "flash_write_rsp") | upper }}
`define {{ (class_prefix ~ "flash_write_rsp") | upper }}

class {{ class_prefix }}flash_write_rsp extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}flash_write_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
        `uvm_field_int(bytes_written, UVM_ALL_ON | UVM_DEC)
    `uvm_object_utils_end

    bit ok;
    int unsigned bytes_written;

    function new(string name="{{ class_prefix }}flash_write_rsp");
        super.new(name);
    endfunction
endclass

`endif
