`ifndef {{ class_prefix | upper }}CPU_CONFIG_RSP
`define {{ class_prefix | upper }}CPU_CONFIG_RSP

class {{ class_prefix }}cpu_config_response extends {{ class_prefix }}base_response;
    `uvm_object_utils_begin({{ class_prefix }}cpu_config_response)
        `uvm_field_queue_int(rdata, UVM_ALL_ON)
    `uvm_object_utils_end

    bit [7:0] rdata[$];

    function new(string name = "{{ class_prefix }}cpu_config_response");
        super.new(name);
    endfunction
endclass

`endif
