import.sv
core/yield.sv

top/sample_interface.sv
top/monitor_interface.sv
top/interface.sv

model/base_object.sv
model/base_item.sv
model/context.sv

core/mem.sv
core/load_memory_file.sv

model/configuration/boot.sv
model/configuration/check_clock.sv
model/settings.sv

model/data/base.sv
                                        {%- if enable_dma %}
model/data/adma_des.sv
                                        {%- endif %}

sequence/operation/base/req.sv
sequence/operation/check_error/req.sv
sequence/operation/wait_interrupt/req.sv
sequence/operation/wait_field/req.sv
sequence/operation/reset/req.sv
sequence/operation/access/req.sv
sequence/operation/command/req.sv
sequence/operation/power_up/req.sv
sequence/operation/frequence_set/req.sv
sequence/operation/cpu_config/req.sv

model/command/all_send_cid.sv
                                        {%- if is_sd %}
model/command/app_cmd.sv
model/command/send_if_cond.sv
model/command/send_relative_addr.sv
model/command/voltage_switch.sv
model/acmd/base.sv
model/acmd/sd_send_op_cond.sv
model/acmd/send_scr.sv
model/acmd/set_bus_width.sv
                                        {%- endif %}
                                        {%- if is_emmc %}
model/command/boot_initiation.sv
model/command/go_pre_idle_state.sv
model/command/send_ext_csd.sv
model/command/set_relative_addr.sv
model/command/switch/base.sv
model/command/switch/bus_width.sv
model/command/switch/hs_timing.sv
model/command/switch/partition_config.sv
                                        {%- endif %}
                                        {%- if is_sdio %}
model/command/io_rw_extended.sv
model/command/io_send_op_cond.sv
model/command/io_rw_direct/base.sv
model/command/io_rw_direct/bus_interface_control.sv
model/command/io_rw_direct/bus_speed_select.sv
model/command/io_rw_direct/fn0_block_size.sv
model/command/io_rw_direct/io_abort.sv
model/command/io_rw_direct/io_enable.sv
                                        {%- endif %}
                                        {%- if is_sdcard %}
model/command/switch_func.sv
                                        {%- endif %}
model/command/go_idle_state.sv
model/command/go_inactive_state.sv
model/command/go_irq_state.sv
model/command/read_multiple_block.sv
model/command/select_card.sv
model/command/read_single_block.sv
model/command/send_cid.sv
model/command/send_csd.sv
model/command/send_op_cond.sv
model/command/send_status.sv
model/command/send_tuning_block.sv
model/command/set_block_count.sv
model/command/set_blocklen.sv
model/command/set_dsr.sv
model/command/sleep_awake.sv
model/command/stop_transmission.sv
model/command/write_block.sv
model/command/write_multiple_block.sv

component/scoreboard.sv
component/callback.sv
component/sequencer.sv

sequence/base.sv
sequence/operation/base/rsp.sv
sequence/operation/base/op.sv

sequence/test/check_clock_frequence.sv
sequence/operation/check_error/rsp.sv
sequence/operation/check_error/op.sv
sequence/operation/wait_interrupt/rsp.sv
sequence/operation/wait_interrupt/op.sv
sequence/operation/wait_field/rsp.sv
sequence/operation/wait_field/op.sv
sequence/operation/reset/rsp.sv
sequence/operation/reset/op.sv
sequence/operation/access/rsp.sv
sequence/operation/access/op.sv
sequence/operation/command/rsp.sv
sequence/operation/cpu_config/rsp.sv
sequence/operation/cpu_config/op.sv
sequence/operation/command/op.sv
sequence/operation/power_up/rsp.sv
sequence/operation/power_up/op.sv
sequence/operation/frequence_set/rsp.sv
sequence/operation/frequence_set/op.sv
sequence/flow/commands.sv
                                        {%- if is_sd %}
sequence/flow/acmds.sv
                                        {%- endif %}
                                        {%- if is_sdio %}
sequence/flow/io_rw_direct/fn0_block_size.sv
                                        {%- endif %}
sequence/flow/xfer/base.sv
sequence/flow/xfer/read.sv
sequence/flow/xfer/write.sv
                                        {%- if is_sd %}
sequence/flow/voltage_switch.sv
                                        {%- endif %}
sequence/flow/switch_bus.sv
                                        {%- if is_emmc %}
sequence/flow/send_ext_csd.sv
                                        {%- endif %}
sequence/flow/initial.sv
sequence/flow/tune.sv

sequence/test/rw.sv
sequence/test/phase_debug.sv
                                        {%- if is_emmc %}
sequence/test/tune.sv
                                        {%- endif %}
sequence/test/speed_mode.sv
                                        {%- if is_emmc or is_sdcard %}
sequence/test/reg.sv
                                        {%- endif %}
component/kit_sequencer.sv
component/agent.sv
