import.sv
core/read_card_memory.sv
core/load_memory_file.sv
core/yield.sv

interface/sample.sv
interface/monitor.sv
interface/connection.sv
interface/connections.sv
interface/interface.sv

model/spec.sv
model/base_item.sv
model/context.sv

model/configuration/boot.sv
model/configuration/check_clock.sv
model/configuration/assert_connection.sv
model/configuration/system.sv

component/sequencer.sv

model/data/base.sv
model/data/adma_des.sv

model/request/base.sv
model/request/access.sv
model/request/check_error.sv
model/request/reset.sv
model/request/command.sv
model/request/power_up.sv
model/request/wait_field.sv
model/request/wait_interrupt.sv
model/response/base.sv
model/response/command.sv
model/response/check_error.sv
model/prefab/command/all_send_cid.sv
                                        {%- if is_sd %}
model/prefab/command/app_cmd.sv
model/prefab/command/send_if_cond.sv
model/prefab/command/send_relative_addr.sv
model/prefab/command/voltage_switch.sv
model/prefab/acmd/base.sv
model/prefab/acmd/sd_send_op_cond.sv
model/prefab/acmd/send_scr.sv
model/prefab/acmd/set_bus_width.sv
                                        {%- endif %}
                                        {%- if is_emmc %}
model/prefab/command/boot_initiation.sv
model/prefab/command/go_pre_idle_state.sv
model/prefab/command/send_ext_csd.sv
model/prefab/command/set_relative_addr.sv
model/prefab/command/switch/base.sv
model/prefab/command/switch/bus_width.sv
model/prefab/command/switch/hs_timing.sv
model/prefab/command/switch/partition_config.sv
                                        {%- endif %}
                                        {%- if is_sdio %}
model/prefab/command/io_rw_extended.sv
model/prefab/command/io_send_op_cond.sv
model/prefab/command/io_rw_direct/base.sv
model/prefab/command/io_rw_direct/bus_interface_control.sv
model/prefab/command/io_rw_direct/bus_speed_select.sv
model/prefab/command/io_rw_direct/fn0_block_size.sv
model/prefab/command/io_rw_direct/io_abort.sv
model/prefab/command/io_rw_direct/io_enable.sv
                                        {%- endif %}
                                        {%- if is_sdcard %}
model/prefab/command/switch_func.sv
                                        {%- endif %}
model/prefab/command/go_idle_state.sv
model/prefab/command/go_inactive_state.sv
model/prefab/command/go_irq_state.sv
model/prefab/command/read_multiple_block.sv
model/prefab/command/select_card.sv
model/prefab/command/read_single_block.sv
model/prefab/command/send_cid.sv
model/prefab/command/send_csd.sv
model/prefab/command/send_op_cond.sv
model/prefab/command/send_status.sv
model/prefab/command/send_tuning_block.sv
model/prefab/command/set_block_count.sv
model/prefab/command/set_blocklen.sv
model/prefab/command/set_dsr.sv
model/prefab/command/sleep_awake.sv
model/prefab/command/stop_transmission.sv
model/prefab/command/write_block.sv
model/prefab/command/write_multiple_block.sv

sequence/base.sv
sequence/default.sv

sequence/test/check_clock_frequence.sv
sequence/test/assert_connection.sv

sequence/dependency/base.sv
sequence/dependency/frequence_set.sv
sequence/dependency/cpu_config.sv
sequence/dependency/card_memory_get.sv
sequence/request/base.sv
sequence/request/check_error.sv
sequence/request/wait_interrupt.sv
sequence/request/wait_field.sv
sequence/request/reset.sv
sequence/request/access.sv
sequence/request/command.sv
sequence/request/power_up.sv
sequence/prefab/commands.sv
                                        {%- if is_sd %}
sequence/prefab/acmds.sv
                                        {%- endif %}
                                        {%- if is_sdio %}
sequence/prefab/io_rw_direct/fn0_block_size.sv
                                        {%- endif %}
sequence/prefab/xfer/base.sv
sequence/prefab/xfer/read.sv
sequence/prefab/xfer/write.sv
                                        {%- if is_sd %}
sequence/prefab/voltage_switch.sv
                                        {%- endif %}
sequence/prefab/switch_bus.sv
                                        {%- if is_emmc %}
sequence/prefab/send_ext_csd.sv
                                        {%- endif %}
sequence/prefab/initial.sv
sequence/prefab/tune.sv

sequence/test/compare_card_memory.sv
sequence/test/rw.sv
sequence/test/dma.sv
sequence/test/tune.sv
sequence/test/speed_mode.sv
sequence/test/sram.sv
sequence/test/power_up.sv
                                        {%- if is_emmc or is_sdcard %}
sequence/test/reg.sv
                                        {%- endif %}
component/agent.sv
