`ifndef {{ class_prefix | upper }}SPEC
`define {{ class_prefix | upper }}SPEC

class {{ class_prefix }}spec#(type T = uvm_object) extends T;
    function new(string name="{{ class_prefix }}spec");
        super.new(name);
    endfunction

{%- if is_sd %}
    typedef enum {
        SDSC,
        SDHC,
        SDXC
    } capacity_type_e;
{%- endif %}

    typedef enum {
        V3_3,
        V3_0,
        V1_8,
        V1_2
    } voltage_e;

    typedef enum {
{%- if is_emmc %}
        HIGH_SPEED_SDR,
        HIGH_SPEED_DDR,
        HS200,
        HS400,
{%- elif is_sd %}
        DS,
        HS,
        SDR12,
        SDR25,
        SDR50,
        SDR104,
        DDR50,
{%- endif %}
        LEGACY
    } bus_speed_mode_e;

    typedef enum {
        NO_RESP,
        RESP_LEN_136,
        RESP_LEN_48,
        RESP_LEN_48B // 响应后检查是否忙碌
    } resp_type_select_e;

{%- if enable_dma %}
    typedef enum {
        BYTES_4K,
        BYTES_8K,
        BYTES_16K,
        BYTES_32K,
        BYTES_64K,
        BYTES_128K,
        BYTES_256K,
        BYTES_512K
    } sdma_buf_bdary_e;
{%- endif %}

    typedef enum {
        XFER_WRITE, // Host Master to Card Slave
        XFER_READ // Card Slave to Host Master
    } data_xfer_dir_e;

    typedef enum {
        SINGLE,
        MULTI
    } multi_blk_sel_e;

    typedef enum {
        AUTO_CMD_DISABLED,
        AUTO_CMD12_ENABLED,
        AUTO_CMD23_ENABLED,
        AUTO_CMD_AUTO_SEL
    } auto_cmd_enable_e;

{%- if enable_dma %}
    typedef enum {
        SDMA = 0,
        ADMA2 = 2,
        ADMA2_3 = 3
    } dma_sel_e;
{%- endif %}

    typedef enum {
        {{ UHS_MODE_SEL_SDR12_LEGACY }} = 0,
        {{ UHS_MODE_SEL_SDR25_HIGH_SPEED_SDR }} = 1,
{%- if is_sd %}
        {{ UHS_MODE_SEL_SDR50 }} = 2,
{%- endif %}
        {{ UHS_MODE_SEL_SDR104_HS200 }} = 3,
        {{ UHS_MODE_SEL_DDR50_HIGH_SPEED_DDR }} = 4,
        {{ UHS_MODE_SEL_UHS2_HS400 }} = 7
    } uhs_mode_sel_e;

    typedef enum {
        BOOT_PARTITION_ENABLE_NO = 0, // 设备未启用启动功能
        BOOT_PARTITION_ENABLE_1 = 1, // 启用启动分区 1
        BOOT_PARTITION_ENABLE_2 = 2, // 启用启动分区 2
        BOOT_PARTITION_ENABLE_USER_AREA = 7 // 启用用户区(user area)作为启动区
    } boot_partition_enable_e;

    typedef enum {
        BOOT_PARTITION_ACCESS_NO = 0, // 不访问启动分区
        BOOT_PARTITION_ACCESS_1 = 1, // 读/写 启动分区 1
        BOOT_PARTITION_ACCESS_2 = 2, // 读/写 启动分区 2
        BOOT_PARTITION_ACCESS_RPMB = 3, // 读/写 重放保护存储块(RPMB)
        BOOT_PARTITION_ACCESS_GP1 = 4, // 访问通用分区 1(General Purpose Partition 1)
        BOOT_PARTITION_ACCESS_GP2 = 5, // 访问通用分区 2
        BOOT_PARTITION_ACCESS_GP3 = 6, // 访问通用分区 3
        BOOT_PARTITION_ACCESS_GP4 = 7 // 访问通用分区 4
    } boot_partition_access_e;
endclass

`endif
