`ifndef {{ class_config | upper }}
`define {{ class_config | upper }}

class {{ class_config }} extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_config }})
        `uvm_field_int(addr_width,UVM_ALL_ON)
        `uvm_field_int(data_width,UVM_ALL_ON)
        `uvm_field_int(master_active,UVM_ALL_ON)
        `uvm_field_int(num_slave,UVM_ALL_ON)

        {%- if reg_test.is_enabled %}
        `uvm_field_int(should_reg_test,UVM_ALL_ON)
        {%- endif %}
        {%- if reg_sync.is_enabled %}
        `uvm_field_int(should_reg_sync,UVM_ALL_ON)
        {%- endif %}
        {%- if report.is_enabled %}
        `uvm_field_int(log_path,UVM_ALL_ON)
        {%- endif %}
        `uvm_field_int(has_randomized,UVM_ALL_ON|UVM_NOPRINT)
    `uvm_object_utils_end

    virtual {{ class_interface }} vif; // 接口
    uvm_reg_block regmodel; // 寄存器模型
    rand int addr_width;
    rand int data_width;
    rand bit master_active; // 主设备是否active
    rand int num_slave; // 从设备数量
    rand bit slave_active[16]; // 从机是否active

    {%- if reg_test.is_enabled %}
    rand bit should_reg_test; // 是否需要寄存器测试
    {%- endif %}
    {%- if reg_sync.is_enabled %}
    rand bit should_reg_sync; // 是否需要寄存器同步
    uvm_reg masked_regs[$]; // 屏蔽寄存器列表
    {%- endif %}
    {%- if report.is_enabled %}
    string log_path; // 输出路径（报表和调试写入文件）
    {%- endif %}
    rand bit has_randomized; // 是否随机过

    constraint cst {
        has_randomized == 1;
        soft addr_width == 32;
        soft data_width == 32;
        soft master_active == 1;
        soft num_slave == 1;
        foreach(slave_active[i])
            soft slave_active[i] == 0;
        num_slave inside {[0:16]};

        {%- if reg_test.is_enabled %}
        soft should_reg_test == 0;
        {%- endif %}
        {%- if reg_sync.is_enabled %}
        soft should_reg_sync == 0;
        {%- endif %}
    }

    function new(string name="{{ class_config }}");
        super.new(name);
    endfunction

    constraint cst_base;
    constraint cst_extern;
    constraint cst_case;
endclass

`endif
