`ifndef {{ (class_prefix ~ "configuration") | upper }}
`define {{ (class_prefix ~ "configuration") | upper }}

class {{ class_prefix }}configuration extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}configuration)
        `uvm_field_enum(host_mode_e, host_mode, UVM_ALL_ON)
        `uvm_field_enum(transfer_mode_e, transfer_mode, UVM_ALL_ON)
        `uvm_field_int(spi_frf, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(spi_ctrlr0_en, UVM_ALL_ON)
        `uvm_field_int(wait_cycles, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(inst_l, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(addr_l, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(trans_type, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(spi_mode, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(data_frame_bits, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ndf, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ssi_en, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ser, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(baudr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(txftlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rxftlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(txeim, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(txoim, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rxuim, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rxoim, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rxfim, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(mstim, UVM_ALL_ON | UVM_DEC)
{% if internal_dma or external_dma %}
        `uvm_field_int(dmatdl, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(dmardl, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rdmae, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(tdmae, UVM_ALL_ON | UVM_DEC)
{% endif %}
{% if internal_dma %}
        `uvm_field_int(write_internal_dma_regs, UVM_ALL_ON)
        `uvm_field_int(idmae, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(ainc, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(awlen, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(arlen, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(spi_inst, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(sdar, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(axiar0, UVM_ALL_ON | UVM_HEX)
{% endif %}
        `uvm_field_int(rx_sample_delay, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(write_rx_sample_delay, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ class_prefix }}settings settings;

    rand host_mode_e host_mode;
    rand transfer_mode_e transfer_mode;
    rand int unsigned spi_frf;
    rand bit spi_ctrlr0_en;
    rand int unsigned wait_cycles;
    rand int unsigned inst_l;
    rand int unsigned addr_l;
    rand int unsigned trans_type;
    rand int unsigned spi_mode;
    rand int unsigned data_frame_bits;
    rand int unsigned ndf;
    rand bit ssi_en;
    rand bit [31:0] ser;
    rand int unsigned baudr;
    rand int unsigned txftlr;
    rand int unsigned rxftlr;
    rand bit txeim;
    rand bit txoim;
    rand bit rxuim;
    rand bit rxoim;
    rand bit rxfim;
    rand bit mstim;
{% if internal_dma or external_dma %}
    rand int unsigned dmatdl;
    rand int unsigned dmardl;
    rand bit rdmae;
    rand bit tdmae;
{% endif %}
{% if internal_dma %}
    rand bit write_internal_dma_regs;
    rand bit idmae;
    rand bit ainc;
    rand bit [15:0] awlen;
    rand bit [15:0] arlen;
    rand bit [31:0] spi_inst;
    rand bit [31:0] sdar;
    rand bit [31:0] axiar0;
{% endif %}
    rand bit [31:0] rx_sample_delay;
    rand bit write_rx_sample_delay;

    function new(string name="{{ class_prefix }}configuration");
        super.new(name);
    endfunction

    constraint cst {
        spi_frf inside {0, 1, 2};
        soft spi_ctrlr0_en == 1'b0;
        wait_cycles inside {[0:31]};
        inst_l inside {[0:3]};
        addr_l inside {[0:15]};
        trans_type inside {[0:2]};
        spi_mode inside {[0:3]};
        data_frame_bits inside {[4:32]};
        ssi_en == 1'b1;
        txeim == 1'b0;
        txoim == 1'b0;
        rxuim == 1'b0;
        rxoim == 1'b0;
        rxfim == 1'b0;
        mstim == 1'b0;
{% if external_dma %}
        soft rdmae == 1'b0;
        soft tdmae == 1'b0;
{% endif %}
{% if internal_dma %}
        soft rdmae == 1'b0;
        soft tdmae == 1'b0;
{% endif %}
{% if internal_dma %}
        soft write_internal_dma_regs == 1'b0;
        soft idmae == 1'b0;
        soft ainc == 1'b0;
        soft awlen == '0;
        soft arlen == '0;
        soft spi_inst == '0;
        soft sdar == '0;
        soft axiar0 == '0;
{% endif %}
        if (settings != null) {
            txftlr == settings.default_tx_fifo_threshold;
            rxftlr == settings.default_rx_fifo_threshold;
{% if internal_dma or external_dma %}
            dmatdl == settings.default_tx_fifo_threshold;
            dmardl == settings.default_rx_fifo_threshold;
{% endif %}
            rx_sample_delay == settings.default_rx_sample_delay_ns;
            write_rx_sample_delay == (settings.default_rx_sample_delay_ns != 0);
        }
    }
endclass

`endif
