`ifndef {{ (settings.class_prefix ~ "registers") | upper }}
`define {{ (settings.class_prefix ~ "registers") | upper }}

class {{ settings.class_prefix }}reg_cfg extends uvm_object;
    localparam int unsigned REG_CTRLR0 = 'h00;
    localparam int unsigned REG_CTRLR1 = 'h04;
    localparam int unsigned REG_SSIENR = 'h08;
    localparam int unsigned REG_SER = 'h10;
    localparam int unsigned REG_BAUDR = 'h14;
    localparam int unsigned REG_TXFTLR = 'h18;
    localparam int unsigned REG_RXFTLR = 'h1c;
    localparam int unsigned REG_TXFLR = 'h20;
    localparam int unsigned REG_RXFLR = 'h24;
    localparam int unsigned REG_SR = 'h28;
    localparam int unsigned REG_IMR = 'h2c;
    localparam int unsigned REG_ISR = 'h30;
    localparam int unsigned REG_ICR = 'h48;
    localparam int unsigned REG_DMACR = 'h4c;
    localparam int unsigned REG_DMATDLR = 'h50;
    localparam int unsigned REG_DMARDLR = 'h54;
    localparam int unsigned REG_DR = 'h60;
    localparam int unsigned REG_RX_SAMPLE_DLY = 'hf0;

    localparam int unsigned CTRLR0_SPI_FRF_STANDARD = 0;
    localparam int unsigned CTRLR0_SPI_FRF_DUAL = 1;
    localparam int unsigned CTRLR0_SPI_FRF_QUAD = 2;
    localparam int unsigned CTRLR0_SPI_FRF_OCTAL = 3;

    localparam int unsigned SR_BUSY = 0;
    localparam int unsigned SR_TFNF = 1;
    localparam int unsigned SR_TFE = 2;
    localparam int unsigned SR_RFNE = 3;
    localparam int unsigned SR_RFF = 4;

    localparam int unsigned ISR_DONES = 0;

    `uvm_object_utils_begin({{ settings.class_prefix }}reg_cfg)
        `uvm_field_int(ctrlr0, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(ctrlr1, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(ssienr_disable, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(ssienr_enable, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(ser, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(baudr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(txftlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rxftlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(imr, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(dmacr, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(dmatdlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(dmardlr, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(rx_sample_dly, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(write_rx_sample_dly, UVM_ALL_ON)
    `uvm_object_utils_end

    bit [31:0] ctrlr0;
    bit [31:0] ctrlr1;
    bit [31:0] ssienr_disable;
    bit [31:0] ssienr_enable;
    bit [31:0] ser;
    bit [31:0] baudr;
    bit [31:0] txftlr;
    bit [31:0] rxftlr;
    bit [31:0] imr;
    bit [31:0] dmacr;
    bit [31:0] dmatdlr;
    bit [31:0] dmardlr;
    bit [31:0] rx_sample_dly;
    bit write_rx_sample_dly;

    function new(string name="{{ settings.class_prefix }}reg_cfg");
        super.new(name);
        ssienr_disable = '0;
        ssienr_enable = 32'h1;
    endfunction
endclass

`endif
