`ifndef {{ (class_prefix ~ "settings") | upper }}
`define {{ (class_prefix ~ "settings") | upper }}

class {{ class_prefix }}settings extends {{ class_prefix }}spec#(uvm_object);
    `uvm_object_utils_begin({{ class_prefix }}settings)
        `uvm_field_enum(ssi_variant_e, ssi_variant, UVM_ALL_ON)
        `uvm_field_int(target_sclk_hz, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(fifo_depth_bytes, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(min_hclk_hz, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(min_ssi_clk_hz, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(clock_check_tolerance_ppm, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(interrupt_timeout_margin_percent, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(interrupt_timeout_extra_ssi_clk_cycles, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(fifo_status_timeout_ssi_clk_cycles, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(default_tx_fifo_threshold, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(default_rx_fifo_threshold, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(default_rx_sample_delay_ns, UVM_ALL_ON | UVM_DEC)
    `uvm_object_utils_end

    rand ssi_variant_e ssi_variant;
    rand longint unsigned target_sclk_hz;
    rand int unsigned fifo_depth_bytes;
    rand longint unsigned min_hclk_hz;
    rand longint unsigned min_ssi_clk_hz;
    rand int unsigned clock_check_tolerance_ppm;
    rand int unsigned interrupt_timeout_margin_percent;
    rand int unsigned interrupt_timeout_extra_ssi_clk_cycles;
    rand int unsigned fifo_status_timeout_ssi_clk_cycles;
    rand int unsigned default_tx_fifo_threshold;
    rand int unsigned default_rx_fifo_threshold;
    rand int unsigned default_rx_sample_delay_ns;
    {{ regmodel_type }} regmodel;
    virtual {{ class_prefix }}interface vif;

    function new(string name="{{ class_prefix }}settings");
        super.new(name);
        ssi_variant = {{ ssi_variant }};
        target_sclk_hz = {{ target_sclk_hz }};
        fifo_depth_bytes = {{ fifo_depth_bytes }};
        min_hclk_hz = {{ min_hclk_hz }};
        min_ssi_clk_hz = {{ min_ssi_clk_hz }};
        clock_check_tolerance_ppm = {{ clock_check_tolerance_ppm }};
        interrupt_timeout_margin_percent = {{ interrupt_timeout_margin_percent }};
        interrupt_timeout_extra_ssi_clk_cycles = {{ interrupt_timeout_extra_ssi_clk_cycles }};
        fifo_status_timeout_ssi_clk_cycles = {{ fifo_status_timeout_ssi_clk_cycles }};
        default_tx_fifo_threshold = {{ default_tx_fifo_threshold }};
        default_rx_fifo_threshold = {{ default_rx_fifo_threshold }};
        default_rx_sample_delay_ns = {{ default_rx_sample_delay_ns }};
    endfunction

    constraint cst {
        soft ssi_variant == {{ ssi_variant }};
        soft target_sclk_hz == {{ target_sclk_hz }};
        soft fifo_depth_bytes == {{ fifo_depth_bytes }};
        soft min_hclk_hz == {{ min_hclk_hz }};
        soft min_ssi_clk_hz == {{ min_ssi_clk_hz }};
        soft clock_check_tolerance_ppm == {{ clock_check_tolerance_ppm }};
        soft interrupt_timeout_margin_percent == {{ interrupt_timeout_margin_percent }};
        soft interrupt_timeout_extra_ssi_clk_cycles == {{ interrupt_timeout_extra_ssi_clk_cycles }};
        soft fifo_status_timeout_ssi_clk_cycles == {{ fifo_status_timeout_ssi_clk_cycles }};
        soft default_tx_fifo_threshold == {{ default_tx_fifo_threshold }};
        soft default_rx_fifo_threshold == {{ default_rx_fifo_threshold }};
        soft default_rx_sample_delay_ns == {{ default_rx_sample_delay_ns }};
        target_sclk_hz > 0;
        fifo_depth_bytes inside {[1:4096]};
        default_tx_fifo_threshold < fifo_depth_bytes;
        default_rx_fifo_threshold < fifo_depth_bytes;
        min_hclk_hz > 0;
        min_ssi_clk_hz > 0;
        clock_check_tolerance_ppm <= 1000000;
        interrupt_timeout_margin_percent <= 1000;
        interrupt_timeout_extra_ssi_clk_cycles > 0;
        fifo_status_timeout_ssi_clk_cycles > 0;
{% if not support_rx_sample_delay %}
        default_rx_sample_delay_ns == 0;
{% endif %}
    }

    constraint cst_user;
    constraint cst_case;
endclass

`endif
