`ifndef {{ (class_prefix ~ "transfer_configuration") | upper }}
`define {{ (class_prefix ~ "transfer_configuration") | upper }}

class {{ class_prefix }}transfer_configuration extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}transfer_configuration)
        `uvm_field_enum(host_mode_e, host_mode, UVM_ALL_ON)
        `uvm_field_enum(frame_mode_e, frame_mode, UVM_ALL_ON)
        `uvm_field_enum(cs_control_mode_e, cs_control_mode, UVM_ALL_ON)
        `uvm_field_int(io_lanes, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(speed_multiplier, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(spi_mode, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(data_frame_bits, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(cs_id, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(addr_bytes, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(dummy_cycles, UVM_ALL_ON | UVM_DEC)
{% if internal_dma or external_dma %}
        `uvm_field_int(use_dma, UVM_ALL_ON)
{% endif %}
{% if internal_dma %}
        `uvm_field_int(awlen, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(arlen, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(axi_addr, UVM_ALL_ON | UVM_HEX)
{% endif %}
    `uvm_object_utils_end

    rand host_mode_e host_mode;
    rand frame_mode_e frame_mode;
    rand cs_control_mode_e cs_control_mode;
    rand int io_lanes;
    rand int speed_multiplier;
    rand int spi_mode;
    rand int data_frame_bits;
    rand int cs_id;
    rand int addr_bytes;
    rand int dummy_cycles;
{% if internal_dma or external_dma %}
    rand bit use_dma;
{% endif %}
{% if internal_dma %}
    rand bit [7:0] awlen;
    rand bit [7:0] arlen;
    rand bit [31:0] axi_addr;
{% endif %}
    {{ class_prefix }}settings settings;

    function new(string name="{{ class_prefix }}transfer_configuration");
        super.new(name);
    endfunction

    constraint cst {
        soft host_mode == {{ "MASTER" if support_master else "SLAVE" }};
        soft frame_mode == {{ default_frame_mode }};
        if (settings != null)
            soft cs_control_mode == settings.default_cs_control_mode;
        else
            soft cs_control_mode == {{ default_cs_control_mode }};
        soft io_lanes == {{ default_io_lanes }};
        soft speed_multiplier == {{ default_speed_multiplier }};
        soft spi_mode == {{ default_spi_mode }};
        soft data_frame_bits == {{ default_data_frame_bits }};
        soft cs_id == {{ default_cs }};
        soft addr_bytes == {{ default_addr_bytes }};
        soft dummy_cycles == 8;
{% if internal_dma or external_dma %}
        soft use_dma == 1'b0;
{% endif %}
{% if internal_dma %}
        soft awlen == '0;
        soft arlen == '0;
        soft axi_addr == '0;
{% endif %}

        io_lanes inside {1, 2, 4};
        speed_multiplier inside {1, 2, 4};
        if (frame_mode == STANDARD) speed_multiplier == 1;
        if (speed_multiplier > 1) frame_mode == ENHANCED;
        if (cs_control_mode == SOFTWARE_CS) {
            host_mode == MASTER;
            frame_mode == STANDARD;
            speed_multiplier == 1;
        }
        spi_mode inside {[0:3]};
        data_frame_bits inside {[4:32]};
        cs_id < {{ num_cs }};
        addr_bytes inside {[0:4]};
{% if not support_master %}
        host_mode != MASTER;
{% endif %}
{% if not support_slave %}
        host_mode != SLAVE;
{% endif %}
{% if not support_standard %}
        frame_mode != STANDARD;
{% endif %}
{% if not support_enhanced %}
        frame_mode != ENHANCED;
{% endif %}
    }
endclass

`endif
