`ifndef {{ (class_prefix ~ "transfer_configuration") | upper }}
`define {{ (class_prefix ~ "transfer_configuration") | upper }}

class {{ class_prefix }}transfer_configuration extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}transfer_configuration)
        `uvm_field_enum(host_mode_e, host_mode, UVM_ALL_ON)
        `uvm_field_enum(cs_control_mode_e, cs_control_mode, UVM_ALL_ON)
        `uvm_field_int(speed_multiplier, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(spi_mode, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(data_frame_bits, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(cs_id, UVM_ALL_ON | UVM_DEC)
        `uvm_field_int(addr_bytes, UVM_ALL_ON | UVM_DEC)
{%- if internal_dma or external_dma %}
        `uvm_field_int(use_dma, UVM_ALL_ON)
{%- endif %}
{%- if internal_dma %}
        `uvm_field_int(axi_addr, UVM_ALL_ON | UVM_HEX)
{%- endif %}
    `uvm_object_utils_end

    rand host_mode_e host_mode;
    rand cs_control_mode_e cs_control_mode;
    rand int speed_multiplier;
    rand int spi_mode;
    rand int data_frame_bits;
    rand int cs_id;
    rand int addr_bytes;
{%- if internal_dma or external_dma %}
    rand bit use_dma;
{%- endif %}
{%- if internal_dma %}
    rand bit [31:0] axi_addr;
{%- endif %}
    {{ class_prefix }}settings settings;

    // Creates one per-transfer controller configuration packet.
    function new(string name="{{ class_prefix }}transfer_configuration");
        super.new(name);
    endfunction

    constraint cst {
        soft host_mode == {{ "MASTER" if support_master else "SLAVE" }};
        if (settings != null)
            soft cs_control_mode == settings.default_cs_control_mode;
        else
            soft cs_control_mode == {{ default_cs_control_mode }};
        soft speed_multiplier == {{ default_speed_multiplier }};
        soft spi_mode == {{ default_spi_mode }};
        soft data_frame_bits == {{ default_data_frame_bits }};
        soft cs_id == {{ default_cs }};
        soft addr_bytes == {{ default_addr_bytes }};
{%- if internal_dma or external_dma %}
        soft use_dma == 1'b0;
        if (use_dma) speed_multiplier > 1;
{%- endif %}
{%- if internal_dma %}
        soft axi_addr == 32'h1000_0000;
        if (use_dma) {
            axi_addr != 0;
            axi_addr[1:0] == 2'b00;
        }
{%- endif %}

        speed_multiplier inside {1{% if max_speed_multiplier >= 2 %}, 2{% endif %}{% if max_speed_multiplier >= 4 %}, 4{% endif %}};
{%- if software_cs %}
        if (cs_control_mode == SOFTWARE_CS) {
            host_mode == MASTER;
            speed_multiplier == 1;
        }
{%- endif %}
        spi_mode inside {[0:3]};
        data_frame_bits inside {[4:32]};
        cs_id < {{ num_cs }};
        addr_bytes inside {[0:4]};
{%- if not support_master %}
        host_mode != MASTER;
{%- endif %}
{%- if not support_slave %}
        host_mode != SLAVE;
{%- endif %}
    }
endclass

`endif
