`ifndef {{ (class_prefix ~ "mask_invalid_pin_seq") | upper }}
`define {{ (class_prefix ~ "mask_invalid_pin_seq") | upper }}

class {{ class_prefix }}mask_invalid_pin_seq extends uvm_sequence #(
        {{ class_prefix }}mask_invalid_pin_req,
        {{ class_prefix }}mask_invalid_pin_rsp);
    `uvm_object_utils({{ class_prefix }}mask_invalid_pin_seq)
    `uvm_declare_p_sequencer({{ class_prefix }}sequencer)

    function new(string name="{{ class_prefix }}mask_invalid_pin_seq");
        super.new(name);
    endfunction

    extern virtual task body();
endclass

task {{ class_prefix }}mask_invalid_pin_seq::body();
    {{ class_prefix }}mask_invalid_pin_rsp rs;
    uvm_status_e status;

    rs = {{ class_prefix }}mask_invalid_pin_rsp::type_id::create("rsp");
    rs.ok = 1'b1;
    p_sequencer.cfg.regmodel.{{ regmodel.mask }}.write(status, p_sequencer.cfg.mask);
    rsp = rs;
endtask

`endif
