`ifndef {{ class_prefix | upper }}CORE_CONFIGURATION
`define {{ class_prefix | upper }}CORE_CONFIGURATION

class {{ class_prefix }}core_configuration extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}core_configuration)
        `uvm_field_int(frequency,UVM_ALL_ON)
        if(use_range) begin
            `uvm_field_int(use_range,UVM_ALL_ON)
            `uvm_field_int(range_max,UVM_ALL_ON)
            `uvm_field_int(range_min,UVM_ALL_ON)
        end
        if(use_offset) begin
            `uvm_field_int(use_offset,UVM_ALL_ON)
            `uvm_field_int(offset,UVM_ALL_ON)
        end
    `uvm_object_utils_end

    function new(string name="{{ class_prefix }}core_configuration");
        super.new(name);
    endfunction

    rand longint frequency; // 频率
    rand bit use_range; // 是否使用范围，在指定范围内随机
    rand longint range_max; // 范围最大值
    rand longint range_min; // 范围最小值
    rand bit use_offset; // 是否使用偏移，在frequency的基础上随机偏移
    rand longint offset; // 偏移值

    constraint cst {
        soft frequency == 0;
        soft use_range == 0;
        soft range_max == 0;
        soft range_min == 0;
        soft use_offset == 0;
        soft offset == 0;

        $countones({use_range,use_offset}) inside {0,1}; // 全关闭或只用一个
    }
endclass
`endif
