`ifndef {{ class_prefix | upper }}TOP
`define {{ class_prefix | upper }}TOP

module {{ class_prefix }}top #(
    {%- for clk in clocks %}
    parameter longint FREQ_{{ clk | upper }}=0{{ "," if not loop.last }}
    {%- endfor %}
)(
    {%- for clk in clocks %}
    output wire {{ clk }}{{ "," if not loop.last }}
    {%- endfor %}
);

    timeunit 1fs;
    timeprecision 1fs;

    {{ class_prefix }}configuration cfg; // 配置包
    string hdl; // 层级路径

    // 初始化
    initial begin
        hdl = $psprintf("%m");
        #1;
        cfg = {{ class_prefix }}configuration::type_id::create(hdl,"cfg");

        // 随机配置
        assert(cfg.randomize() with {
            {%- for clk in clocks %}
            soft {{ clk }}.frequency == local::FREQ_{{ clk | upper }};
            {%- endfor %}
        }) else `uvm_fatal("","randomize failed")
        `uvm_info("",$psprintf("%s clock config:\n%s",hdl,cfg.sprint()),UVM_LOW)

        // 加载配置
        {%- for clk in clocks %}
        {{ clk }}_core.load_config(cfg.{{ clk }});
        {%- endfor %}
    end

    {%- for clk in clocks %}
    {{ class_prefix }}core {{ clk }}_core(
        .clk({{ clk }})
    );
    {%- endfor %}

endmodule
`endif
