`ifndef {{ (class_prefix ~ "configuration") | upper }}
`define {{ (class_prefix ~ "configuration") | upper }}

class {{ class_prefix }}configuration extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}configuration)
{% for group in groups %}
        `uvm_field_object(cfg_{{ group }},UVM_ALL_ON)
{% endfor %}
    `uvm_object_utils_end

{% for group in groups %}
    {{ class_prefix }}sub_configuration cfg_{{ group }};
{% endfor %}

    function new(string name="{{ class_prefix }}configuration");
        super.new(name);

{% for group in groups %}
        cfg_{{ group }} = {{ class_prefix }}sub_configuration::type_id::create({get_full_name(),".cfg_{{ group }}"});
{% endfor %}
{% for group in groups %}
        cfg_{{ group }}.group_name = "{{ group }}";
{% endfor %}
    endfunction
endclass

`endif
