`ifndef {{ (class_prefix ~ "configuration") | upper }}
`define {{ (class_prefix ~ "configuration") | upper }}

class {{ class_prefix }}configuration extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}configuration)
        `uvm_field_string(group_name,UVM_ALL_ON)
        `uvm_field_int(num,UVM_ALL_ON)
        `uvm_field_int(pin_mask,UVM_ALL_ON)
        `uvm_field_object(regmodel,UVM_ALL_ON|UVM_NOPRINT|UVM_NOCOPY)
        `uvm_field_int(has_randomized,UVM_ALL_ON|UVM_NOPRINT)
    `uvm_object_utils_end

    string group_name;
    {{ class_regmodel }} regmodel;
    rand int num;
    rand bit[31:0] pin_mask;
    rand bit has_randomized;

    function new(string name="{{ class_prefix }}configuration");
        super.new(name);
    endfunction

    constraint cst {
        regmodel != null;
        has_randomized == 1;

        foreach(pin_mask[i]) {
            if(i < num)
                soft pin_mask[i] == 1;
            else
                pin_mask[i] == 0;
        }
    }
endclass

`endif
