`ifndef {{ class_prefix | upper }}SWITCH_COMMAND_REQUEST
`define {{ class_prefix | upper }}SWITCH_COMMAND_REQUEST

// 发送CMD6,设置EXT_CSD寄存器
class {{ class_prefix }}switch_command_request extends {{ class_prefix }}command_request;
    typedef enum {
        COMMAND_SET,
        SET_BITS, // 设置置1的位
        CLEAR_BITS, // 清除置1的位
        WRITE_BYTE // 直接写字节
    } access_e;

    `uvm_object_utils_begin({{ class_prefix }}switch_command_request)
        `uvm_field_enum(access_e, access, UVM_ALL_ON)
        `uvm_field_int(index, UVM_ALL_ON)
        `uvm_field_int(offset, UVM_ALL_ON)
        `uvm_field_int(value, UVM_ALL_ON)
        `uvm_field_int(cmd_set, UVM_ALL_ON)
    `uvm_object_utils_end

    rand access_e access; // 访问方式
    rand bit[7:0] index; // 索引
    rand int offset; // 索引偏移
    rand bit[7:0] value; // 值
    rand bit[2:0] cmd_set; // CMD_SET

    function new(string name = "{{ class_prefix }}switch_command_request");
        super.new(name);
    endfunction

    constraint cst_switch_base_prefab {
        // access
        0 == argument[31:26];
        access == argument[25:24];
        index == argument[23:16];
        value == argument[15:8];
        0 == argument[7:3];
        cmd_set == argument[2:0];
        cmd_index == 6;
        resp == R1b;

        // access
        if(access == COMMAND_SET) {
            index == 0;
            value == 0;
        }
        else {
            cmd_set == 0;
        }
        soft access == WRITE_BYTE;
        soft offset == 0;
        foreach(value[j])
            soft value[j] == 0;

        // offset
        //(index == MAX_PRE_LOADING_DATA_SIZE ) -> offset inside {[0:21-18]};
        //(index == MAX_PRE_LOADING_DATA_SIZE ) -> offset inside {[0:25-22]};
        //(index == CONTEXT_CONF ) -> offset inside {[0:51-37]};
        //(index == EXT_PARTITIONS_ATTRIBUTE ) -> offset inside {[0:53-52]};
        //(index == EXCEPTION_EVENTS_STATUS ) -> offset inside {[0:55-54]};
        //(index == EXCEPTION_EVENTS_CTRL ) -> offset inside {[0:57-56]};
        //(index == VENDOR_SPECIFIC_FIELD ) -> offset inside {[0:127-64]};
        //(index == ENH_START_ADDR ) -> offset inside {[0:139-136]};
        //(index == ENH_SIZE_MULT ) -> offset inside {[0:142-140]};
        //(index == GP_SIZE_MULT_GP ) -> offset inside {[0:154-143]};
        //(index == MAX_ENH_SIZE_MULT ) -> offset inside {[0:159-157]};
    }

    // 未实现的
    //typedef enum {
    //    CMDQ_MODE_EN=15,
    //    SECURE_REMOVAL_TYPE=16,
    //    PRODUCT_STATE_AWARENESS_ENABLEMENT=17,
    //    MAX_PRE_LOADING_DATA_SIZE=18,
    //    PRE_LOADING_DATA_SIZE=22,
    //    FFU_STATUS=26,
    //    MODE_OPERATION_CODES=29,
    //    MODE_CONFIG=30,
    //    BARRIER_CTRL=31,
    //    FLUSH_CACHE=32,
    //    CACHE_CTRL=33,
    //    POWER_OFF_NOTIFICATION=34,
    //    PACKED_FAILURE_INDEX=35,
    //    PACKED_COMMAND_STATUS=36,
    //    CONTEXT_CONF=37,
    //    EXT_PARTITIONS_ATTRIBUTE=52,
    //    EXCEPTION_EVENTS_STATUS=54,
    //    EXCEPTION_EVENTS_CTRL=56,
    //    DYNCAP_NEEDED=58,
    //    CLASS_6_CTRL=59,
    //    INI_TIMEOUT_EMU=60,
    //    DATA_SECTOR_SIZE=61,
    //    USE_NATIVE_SECTOR=62,
    //    NATIVE_SECTOR_SIZE=63,
    //    VENDOR_SPECIFIC_FIELD=64,
    //    PROGRAM_CID_CSD_DDR_SUPPORT=130,
    //    PERIODIC_WAKEUP=131,
    //    TCASE_SUPPORT=132,
    //    PRODUCTION_STATE_AWARENESS=133,
    //    SEC_BAD_BLK_MGMNT=134,
    //    ENH_START_ADDR=136,
    //    ENH_SIZE_MULT=140,
    //    GP_SIZE_MULT_GP=143,
    //    PARTITION_SETTING_COMPLETED=155,
    //    PARTITIONS_ATTRIBUTE=156,
    //    MAX_ENH_SIZE_MULT=157,
    //    PARTITIONING_SUPPORT=160,
    //    HPI_MGMT=161,
    //    RST_n_FUNCTION=162,
    //    BKOPS_EN=163,
    //    BKOPS_START=164,
    //    SANITIZE_START=165,
    //    WR_REL_PARAM=166,
    //    WR_REL_SET=167,
    //    RPMB_SIZE_MULT=168,
    //    FW_CONFIG=169,
    //    USER_WP=171,
    //    BOOT_WP=173,
    //    BOOT_WP_STATUS=174,
    //    ERASE_GROUP_DEF=175,
    //    BOOT_BUS_CONDITIONS=177,
    //    BOOT_CONFIG_PROT=178,
    //    ERASED_MEM_CONT=181,
    //    BUS_WIDTH=183,
    //    STROBE_SUPPORT=184,
    //    HS_TIMING=185,
    //    POWER_CLASS=187,
    //    CMD_SET_REV=189,
    //    CMD_SET=191,
    //    INVALID_INDEX=192
    // } index_e;
endclass

`endif
