`ifndef {{ class_prefix | upper }}SWITCH_BUS_WIDTH_COMMAND_REQUEST
`define {{ class_prefix | upper }}SWITCH_BUS_WIDTH_COMMAND_REQUEST

// 设置 总线宽度 和 strobe
class {{ class_prefix }}switch_bus_width_command_request extends {{ class_prefix }}switch_command_request;
  typedef enum {
    BUS_MODE_SELECTION_1BIT_SIMPLEX=0, // 1bit单工
    BUS_MODE_SELECTION_4BIT_SIMPLEX=1, // 4bit单工
    BUS_MODE_SELECTION_8BIT_SIMPLEX=2, // 8bit单工
    BUS_MODE_SELECTION_4BIT_DUPLEX=5,  // 4bit双工
    BUS_MODE_SELECTION_8BIT_DUPLEX=6   // 8bit双工
  } bus_mode_selection_e;

  `uvm_object_utils_begin({{ class_prefix }}switch_bus_width_command_request)
    `uvm_field_int(enhanced_strobe, UVM_ALL_ON)
    `uvm_field_enum(bus_mode_selection_e, bus_mode_selection, UVM_ALL_ON)
    `uvm_field_int(data_width, UVM_ALL_ON)
    `uvm_field_enum(bus_speed_mode_e, bus_speed_mode, UVM_ALL_ON)
  `uvm_object_utils_end

  rand bit enhanced_strobe; // 是否启用增强strobe, 需要 STROBE_SUPPORT 支持, 0 : 只在 data_out 和 crc, 1 : 在 data_out , crc 和 cmd_response
  rand bus_mode_selection_e bus_mode_selection; // 总线模式选择
  rand int data_width; // 数据位宽
  rand bus_speed_mode_e bus_speed_mode; // 总线速度模式

  function new(string name="{{ class_prefix }}switch_bus_width_command_request");
    super.new(name);
  endfunction

  constraint cst_switch_prefab {
    soft enhanced_strobe == 0;
    soft bus_mode_selection == BUS_MODE_SELECTION_4BIT_SIMPLEX;
    value[7] == enhanced_strobe;
    value[3:0] == bus_mode_selection;
    index == 183; // 0xb7
    (data_width == 1) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_1BIT_SIMPLEX
    };
    (data_width == 4) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_4BIT_SIMPLEX,
      BUS_MODE_SELECTION_4BIT_DUPLEX
    };
    (data_width == 8) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_8BIT_SIMPLEX,
      BUS_MODE_SELECTION_8BIT_DUPLEX
    };
    (bus_speed_mode == LEGACY) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_1BIT_SIMPLEX,
      BUS_MODE_SELECTION_4BIT_SIMPLEX,
      BUS_MODE_SELECTION_8BIT_SIMPLEX
    };
    (bus_speed_mode == HIGH_SPEED_SDR) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_1BIT_SIMPLEX,
      BUS_MODE_SELECTION_4BIT_SIMPLEX,
      BUS_MODE_SELECTION_8BIT_SIMPLEX
    };
    (bus_speed_mode == HIGH_SPEED_DDR) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_4BIT_DUPLEX,
      BUS_MODE_SELECTION_8BIT_DUPLEX
    };
    (bus_speed_mode == HS200) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_4BIT_SIMPLEX,
      BUS_MODE_SELECTION_8BIT_SIMPLEX
    };
    (bus_speed_mode == HS400) -> bus_mode_selection inside {
      BUS_MODE_SELECTION_8BIT_DUPLEX
    };
  }
endclass

`endif
