`ifndef {{ class_prefix | upper }}SWITCH_PARTITION_CONFIG_COMMAND_REQUEST
`define {{ class_prefix | upper }}SWITCH_PARTITION_CONFIG_COMMAND_REQUEST

//
class {{ class_prefix }}switch_partition_config_command_request extends {{ class_prefix }}switch_command_request;
  `uvm_object_utils_begin({{ class_prefix }}switch_partition_config_command_request)
    `uvm_field_int(boot_ack,UVM_ALL_ON)
    `uvm_field_enum(boot_partition_enable_e,boot_partition_enable,UVM_ALL_ON)
    `uvm_field_enum(boot_partition_access_e,boot_partition_access,UVM_ALL_ON)
  `uvm_object_utils_end

  rand bit boot_ack; // 启动操作期间是否发送启动应答
  rand boot_partition_enable_e boot_partition_enable; // 用户选择发送该梯卡机的启动数据服务
  rand boot_partition_access_e boot_partition_access; // 用户选择访问的分区

  function new(string name="{{ class_prefix }}switch_partition_config_command_request");
    super.new(name);
  endfunction

  constraint cst_prefab {
    soft boot_ack == 0;
    soft boot_partition_enable == BOOT_PARTITION_ENABLE_NO;
    soft boot_partition_access == BOOT_PARTITION_ACCESS_NO;

    value[7] == 0;
    value[6] == boot_ack;
    value[5:3] == boot_partition_enable;
    value[2:0] == boot_partition_access;
    index == 179; // 0xb3
  }
endclass

`endif
