`ifndef {{ class_prefix | upper }}PASSWORD_TEST_SEQ
`define {{ class_prefix | upper }}PASSWORD_TEST_SEQ

// 密码测试
// 使用本文件验证密码,也能进行错误密码测试
// 参数正确password决定是否正确

class {{ class_prefix }}password_test_seq extends {{ class_prefix }}base_seq;
    `uvm_object_utils({{ class_prefix }}password_test_seq)

    typedef enum {
        LOCK_ON_LIMIT, // 达到错误次数后锁
        LOCK_AFTER_LIMIT // 达到一次错误后锁
    } mode_e;

    rand mode_e mode; // 模式
    rand int max_error_time; // 最大错误次数

    function new(string name = "{{ class_prefix }}password_test_seq");
        super.new(name);
    endfunction

    constraint cst_test {
        max_error_time == 4;
    }

    task body();
        execute_test();
    endtask

    // 测试程序说明，首先将密码写错n次后再写正确密码，然后继续写几次错误密码，观察系统
    // 测试关闭状态时，应当测试错误密码后仍然保持关闭状态
    extern virtual task execute_test();

    // 密码写入测试
    extern virtual task password_test(bit is_correct,bit exp_pass);

    // 输入密码，is_correct：是否正确密码
    extern virtual task enter_password(bit is_correct);

    // 连通测试，exp_pass：期望是否连通
    extern virtual task connect_test(bit exp_pass);
endclass

task {{ class_prefix }}password_test_seq::execute_test();
    connect_test(0);
    case(mode)
        LOCK_ON_LIMIT : begin
            repeat(max_error_time)
                password_test(0,0);
            password_test(1,0);
        end
        LOCK_AFTER_LIMIT : begin
            repeat(max_error_time - 1)
                password_test(0,0);
            password_test(1,1);
        end
    endcase
endtask

task {{ class_prefix }}password_test_seq::connect_test(bit exp_pass);
    {{ class_prefix }}connect_test_seq con_test_seq;

    `uvm_do_with(con_test_seq,{
        should_connected == exp_pass;
    })
endtask

task {{ class_prefix }}password_test_seq::enter_password(bit is_correct);
    {{ class_prefix }}register_password_req pwd_req;

    `uvm_do_with(pwd_req,{
        local::is_correct == (value == p_sequencer.cfg.password);
    })
endtask

task {{ class_prefix }}password_test_seq::password_test(bit is_correct,bit exp_pass);
    enter_password(is_correct);
    connect_test(exp_pass);
endtask

`endif
