`ifndef {{ class_prefix | upper }}BASE_SEQ
`define {{ class_prefix | upper }}BASE_SEQ

class {{ class_prefix }}base_seq#(type RSP={{ class_prefix }}base_item) extends {{ class_prefix }}spec#(uvm_sequence#(RSP));
    `uvm_object_param_utils({{ class_prefix }}base_seq)
    `uvm_declare_p_sequencer({{ class_prefix }}sequencer)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}boot_configuration boot_cfg;
    {{ class_prefix }}context ctx;

    function new(string name="{{ class_prefix }}base_seq");
        super.new(name);
    endfunction

    // 当随机失败时，自动报错并终止仿真
    protected int cnt_pre_randomize;
    protected int cnt_post_randomize;

    extern function void pre_randomize();
    extern function void post_randomize();
endclass

function void {{ class_prefix }}base_seq::pre_randomize();
    super.pre_randomize();

    $cast(settings,p_sequencer.settings);
    $cast(boot_cfg,settings.boot_cfg);
    $cast(ctx,p_sequencer.ctx);

    cnt_pre_randomize++;
    fork
        begin
            #0;
            if(cnt_pre_randomize != cnt_post_randomize)
                `uvm_fatal("","randomize failed")
        end
    join_none
endfunction

function void {{ class_prefix }}base_seq::post_randomize();
    cnt_post_randomize++;
endfunction

`endif
