`ifndef {{ class_prefix | upper }}XFER_WRITE_SEQ
`define {{ class_prefix | upper }}XFER_WRITE_SEQ

// EMMC 主机写数据，从机接收写数据
class {{ class_prefix }}xfer_write_seq extends {{ class_prefix }}xfer_base_seq;
  `uvm_object_utils_begin({{ class_prefix }}xfer_write_seq)
    `uvm_field_int(write_protected, UVM_ALL_ON)
    `uvm_field_queue_int(wdata, UVM_ALL_ON)
  `uvm_object_utils_end

  rand bit write_protected; // 是否写保护。开启写保护时，写无效
  rand bit[7:0] wdata[$]; // 写数据

  function new(string name="{{ class_prefix }}xfer_write_seq");
    super.new(name);
  endfunction

  constraint cst_xfer_prefab {
    soft write_protected == 0;
    data_xfer_dir == XFER_WRITE;
    wdata.size == len;
  }

  virtual task execute_command();
    {%- if is_emmc or is_sdcard %}
    {{ class_prefix }}write_block_command_seq write_block_seq;
    {{ class_prefix }}write_multiple_block_command_seq write_multiple_block_seq;

    if(count > 1) begin
      if(!abort)
        set_block_count();

      `uvm_do_with(write_multiple_block_seq, {
        cmd_req.block_count == local::count;
        cmd_req.block_size == local::size;
        cmd_req.addr == local::addr;
        cmd_req.dma_enable == local::dma_enable;
        cmd_req.dma_sel == local::dma_sel;
        if(local::abort) {
          cmd_req.auto_cmd_enable == AUTO_CMD12_ENABLED;
        }
        if(local::write_protected)
          cmd_req.data_present_sel == 0;

        cmd_req.wdata.size == local::wdata.size;
        foreach(local::wdata[j])
          cmd_req.wdata[j] == local::wdata[j];
      })
    end
    else begin
      `uvm_do_with(write_block_seq, {
        cmd_req.block_count == local::count;
        cmd_req.block_size == local::size;
        cmd_req.addr == local::addr;
        cmd_req.dma_enable == local::dma_enable;
        cmd_req.dma_sel == local::dma_sel;
        if(local::abort) {
          cmd_req.auto_cmd_enable == AUTO_CMD12_ENABLED;
        }
        if(local::write_protected)
          cmd_req.data_present_sel == 0;

        cmd_req.wdata.size == local::wdata.size;
        foreach(local::wdata[j])
          cmd_req.wdata[j] == local::wdata[j];
      })
    end
    {%- elif is_sdio %}
    execute_sdio(wdata);
    {%- endif %}
  endtask
endclass

`endif
