`ifndef {{ (class_prefix ~ "interface") | upper }}
`define {{ (class_prefix ~ "interface") | upper }}

interface {{ class_prefix }}interface(
{% for group in groups %}    input wire clk_{{ group.name }},
    input wire intr_{{ group.name }},
    inout wire[{{ group.num - 1 }}:0] data_{{ group.name }}{% if not loop.last %},{% endif %}
{% endfor -%}
);

{% for group in groups %}{{ class_prefix }}sub_interface #(
    .NUM({{ group.num }})
) {{ group.name }} (
    .clk(clk_{{ group.name }}),
    .intr(intr_{{ group.name }}),
    .data(data_{{ group.name }})
);
{% endfor %}
endinterface

`endif
