`ifndef {{ (class_prefix ~ "interface") | upper }}
`define {{ (class_prefix ~ "interface") | upper }}

interface {{ class_prefix }}interface(
{% for group in groups %}    input wire intr_{{ group.name }},
    inout wire[31:0] data_{{ group.name }}{% if not loop.last %},{% endif %}
{% endfor -%}
);

{% for group in groups %}{{ class_prefix }}sub_interface {{ group.name }} (
    .intr(intr_{{ group.name }}),
    .data(data_{{ group.name }})
);
{% endfor %}
endinterface

`endif
