`ifndef {{ class_prefix | upper }}RESET_RSP
`define {{ class_prefix | upper }}RESET_RSP

class {{ class_prefix }}reset_response extends {{ class_prefix }}base_response;
    `uvm_object_utils({{ class_prefix }}reset_response)

    function new(string name = "{{ class_prefix }}reset_response");
        super.new(name);
    endfunction
endclass

`endif