`ifndef {{ class_prefix | upper }}SD_SEND_OP_COND_ACMD_REQUEST
`define {{ class_prefix | upper }}SD_SEND_OP_COND_ACMD_REQUEST

// ACMD41 发送主机容量支持信息到OCR寄存器
class {{ class_prefix }}sd_send_op_cond_acmd_request extends {{ class_prefix }}base_acmd_request;
    typedef enum {
        XPC_100=0,
        XPC_150=1
    } xpc_e;

    `uvm_object_utils_begin({{ class_prefix }}sd_send_op_cond_acmd_request)
        `uvm_field_int(hcs, UVM_ALL_ON)
        `uvm_field_enum(xpc_e, xpc, UVM_ALL_ON)
        `uvm_field_int(s18a, UVM_ALL_ON)
        `uvm_field_int(vdd, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit hcs; // 主机容量支持信息。参考OCR[30]。0=只支持 SDSC; 1=也支持 SDHC 或 SDXC
    rand xpc_e xpc; // 控制目前最大默认速度(SDXC+)(单位mA)
    rand bit s18a; // 0=保持当前电压; 1=切换到1.8V
    rand bit[23:0] vdd; // 参考OCR[23:0]。如果这个参数是0，表示问询而非初始化，此时其他参数也应该为0

    function new(string name="{{ class_prefix }}sd_send_op_cond_acmd_request");
        super.new(name);
    endfunction

    constraint cst_acmd_prefab {
        cmd_index == 41;
        argument[30] == hcs;
        argument[28] == xpc;
        argument[24] == s18a;
        argument[23:0] == vdd;
        resp == R3;

        if(vdd == 0) {
            argument == 0;
            soft hcs == 1;
            soft xpc == 1;
            soft vdd == 'h008000;
        }
    }

endclass

`endif
