`ifndef {{ class_prefix | upper }}SEND_SCR_ACMD_REQUEST
`define {{ class_prefix | upper }}SEND_SCR_ACMD_REQUEST

// ACMD51 读SCR寄存器
class {{ class_prefix }}send_scr_acmd_request extends {{ class_prefix }}base_acmd_request;
  `uvm_object_utils({{ class_prefix }}send_scr_acmd_request)

  function new(string name="{{ class_prefix }}send_scr_acmd_request");
    super.new(name);
  endfunction

  constraint cst_acmd_prefab {
    cmd_index == 51;
    resp == R1;
    block_count == 1;
    block_size == 32;
  }
endclass

`endif
