`ifndef {{ (class_prefix ~ "clk") | upper }}
`define {{ (class_prefix ~ "clk") | upper }}

class {{ class_prefix }}clk extends {{ class_prefix }}node_base;
    `uvm_object_utils({{ class_prefix }}clk)

    constraint cst_clk_from_src {
        clk_on == 1'b1;
    }

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
