`ifndef {{ (class_prefix ~ "div") | upper }}
`define {{ (class_prefix ~ "div") | upper }}

class {{ class_prefix }}div extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}div)
        `uvm_field_int(div_ratio, UVM_ALL_ON)
    `uvm_object_utils_end

    int div_ratio;
{% for key in div_reg_keys %}
    uvm_reg_field {{ key }}_rf;
{% endfor %}

    constraint cst_freq_from_src {
        source != null && div_ratio > 0 -> frequence == source.frequence / div_ratio;
    }

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
