`ifndef {{ (class_prefix ~ "gate") | upper }}
`define {{ (class_prefix ~ "gate") | upper }}

class {{ class_prefix }}gate extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}gate)
        `uvm_field_int(gate, UVM_ALL_ON)
    `uvm_object_utils_end

    bit gate;
{% if gate_reg_enabled %}
    uvm_reg_field reg_gate_f;
{% endif %}

    constraint cst_clk_from_src {
        source != null -> clk_on == (source.clk_on && gate);
    }

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
