`ifndef {{ (class_prefix ~ "inv") | upper }}
`define {{ (class_prefix ~ "inv") | upper }}

class {{ class_prefix }}inv extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}inv)
        `uvm_field_int(inv, UVM_ALL_ON)
    `uvm_object_utils_end

    bit inv;

    function new(string name = "");
        super.new(name);
        kind = "inv";
    endfunction
endclass

`endif
