`ifndef {{ (class_prefix ~ "pll") | upper }}
`define {{ (class_prefix ~ "pll") | upper }}

class {{ class_prefix }}pll extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}pll)
        `uvm_field_enum(pll_kind_e, pll_kind, UVM_ALL_ON)
        `uvm_field_int(locked, UVM_ALL_ON)
    `uvm_object_utils_end

    pll_kind_e pll_kind;
    bit locked;
{% for key in pll_reg_keys %}
    uvm_reg_field {{ key }}_rf;
{% endfor %}

    constraint cst_freq_from_src;

    function new(string name = "");
        super.new(name);
        kind = "pll";
    endfunction
endclass

`endif
