`ifndef {{ (class_prefix ~ "source") | upper }}
`define {{ (class_prefix ~ "source") | upper }}

class {{ class_prefix }}source extends {{ class_prefix }}node_base;
    `uvm_object_utils({{ class_prefix }}source)

    constraint cst_freq_from_src;

    function new(string name = "");
        super.new(name);
        kind = "source";
    endfunction
endclass

`endif
