`ifndef {{ class_prefix | upper }}BASE_DATA
`define {{ class_prefix | upper }}BASE_DATA

class {{ class_prefix }}base_data extends {{ class_prefix }}base_item;
    uvm_object_utils_begin({{ class_prefix }}base_data)
        `uvm_field_int(size,UVM_ALL_ON | UVM_NOPACK | UVM_NOPRINT)
        `uvm_field_sarray_int(d,UVM_ALL_ON)
    uvm_object_utils_end

    function new(string name="{{ class_prefix }}base_data");
        super.new(name);
    endfunction

    int size();

    // 打包数据
    extern function {{ class_prefix }}bytes unpack();
    extern function void pre_randomize();
endclass

function {{ class_prefix }}bytes {{ class_prefix }}base_data::unpack();
    uvm_packer pk;
    byte unsigned d[];

    pk = new();
    pk.big_endian = 0;

    this.pack_bytes(d,pk);
    foreach(d[i])
        unpack[i] = d[i];
endfunction

function void {{ class_prefix }}base_data::pre_randomize();
    bit[7:0] dis;
    super.pre_randomize();

    d = unpack();
    size = d.size();
endfunction
`endif
