`ifndef {{ (class_prefix ~ "test_duty_wavefront_req") | upper }}
`define {{ (class_prefix ~ "test_duty_wavefront_req") | upper }}

class {{ class_prefix }}test_duty_wavefront_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}test_duty_wavefront_req)
        `uvm_field_queue_object(nodes, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ class_prefix }}node_base nodes[$];

    function new(string name = "{{ class_prefix }}test_duty_wavefront_req");
        super.new(name);
    endfunction
endclass

`endif
