`ifndef {{ class_prefix | upper }}BASE_OP_SEQ
`define {{ class_prefix | upper }}BASE_OP_SEQ

class {{ class_prefix }}base_operation_seq#(type RSP={{ class_prefix }}base_response)
    extends {{ class_prefix }}base_seq#({{ class_prefix }}base_request, RSP);
    `uvm_object_param_utils({{ class_prefix }}base_operation_seq#(RSP))

    {{ class_regmodel_rm }} rm; // 主寄存器
    {{ class_regmodel_rm_vd1 }} rm_vd1; // 供应商寄存器1
    uvm_status_e status;

    function new(string name="{{ class_prefix }}base_operation_seq");
        super.new(name);
    endfunction

    extern task pre_start();
    extern task post_start();
    extern function void pre_randomize();
    extern function void post_randomize();
endclass

task {{ class_prefix }}base_operation_seq#(RSP)::pre_start();
    super.pre_start();

    `uvm_create(rsp)
endtask

task {{ class_prefix }}base_operation_seq#(RSP)::post_start();
    super.post_start();

    if(!rsp.has_randomized)
        rsp.randomize();
endtask

function void {{ class_prefix }}base_operation_seq#(RSP)::pre_randomize();
    super.pre_randomize();

    $cast(rm,settings.regmodel.DWC_mshc_map_DWC_mshc_block);
    $cast(rm_vd1,settings.regmodel.DWC_mshc_map_DWC_mshc_vendor1_block);
endfunction

function void {{ class_prefix }}base_operation_seq#(RSP)::post_randomize();
    super.post_randomize();

    `uvm_info("",$psprintf("behavior config:\n%s",sprint()),UVM_DEBUG)
endfunction

`endif
