`ifndef {{ (class_prefix ~ "agent") | upper }}
`define {{ (class_prefix ~ "agent") | upper }}

class {{ class_prefix }}agent extends uvm_agent;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}configuration cfg;
{% for group in groups %}
    {{ class_prefix }}sub_agent agt_{{ group }};
{% endfor %}

    function new(string name, uvm_component parent);
        super.new(name, parent);

        cfg = {{ class_prefix }}configuration::type_id::create({get_full_name(), ".cfg"});
{% for group in groups %}
        agt_{{ group }} = {{ class_prefix }}sub_agent::type_id::create("agt_{{ group }}", this);
{% endfor %}
{% for group in groups %}
        agt_{{ group }}.cfg = cfg.cfg_{{ group }};
{% endfor %}
    endfunction

    extern function void connect_phase(uvm_phase phase);
endclass

function void {{ class_prefix }}agent::connect_phase(uvm_phase phase);
    super.connect_phase(phase);

{% for group in groups %}
    agt_{{ group }}.cfg = cfg.cfg_{{ group }};
    agt_{{ group }}.sqr.cfg = cfg.cfg_{{ group }};
{% endfor %}
endfunction

`endif
