`ifndef {{ (class_prefix ~ "agent") | upper }}
`define {{ (class_prefix ~ "agent") | upper }}

class {{ class_prefix }}agent extends uvm_agent;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}kit_sequencer sqr;
{% for group in groups %}    {{ class_prefix }}sub_agent agt_{{ group.name }};
{% endfor %}
    function new(string name, uvm_component parent);
        super.new(name, parent);

        settings = {{ class_prefix }}settings::type_id::create({get_full_name(), ".settings"});
        sqr = {{ class_prefix }}kit_sequencer::type_id::create("sqr", this);
{% for group in groups %}        agt_{{ group.name }} = {{ class_prefix }}sub_agent::type_id::create("agt_{{ group.name }}", this);
{% endfor %}
{% for group in groups %}        agt_{{ group.name }}.settings = settings;
        agt_{{ group.name }}.cfg = settings.cfg_{{ group.name }};
{% endfor %}
    endfunction

    extern function void connect_phase(uvm_phase phase);
endclass

function void {{ class_prefix }}agent::connect_phase(uvm_phase phase);
    super.connect_phase(phase);

{% for group in groups %}    agt_{{ group.name }}.settings = settings;
    agt_{{ group.name }}.cfg = settings.cfg_{{ group.name }};
    agt_{{ group.name }}.sqr.settings = settings;
    agt_{{ group.name }}.sqr.cfg = settings.cfg_{{ group.name }};
    sqr.settings = settings;
    sqr.sqr_{{ group.name }} = agt_{{ group.name }}.sqr;
    if (settings.vif != null) begin
        agt_{{ group.name }}.vif = settings.vif.{{ group.name }};
        agt_{{ group.name }}.sqr.vif = settings.vif.{{ group.name }};
    end
{% endfor %}
endfunction

`endif
