`ifndef {{ (class_prefix ~ "kit_sequencer") | upper }}
`define {{ (class_prefix ~ "kit_sequencer") | upper }}

class {{ class_prefix }}kit_sequencer extends uvm_component;
    `uvm_component_utils({{ class_prefix }}kit_sequencer)

    {{ class_prefix }}settings settings;
{% for group in groups %}    {{ class_prefix }}sub_kit_sequencer sqr_{{ group.name }};
{% endfor %}
    function new(string name="{{ class_prefix }}kit_sequencer", uvm_component parent=null);
        super.new(name, parent);
    endfunction

    extern function void check_ready();
    extern task mask_invalid_pin();
    extern task set_dir(bit[31:0] data);
    extern task set_value(bit[31:0] data);
    extern task drive_input(bit[31:0] data, bit[31:0] enable = '0);
    extern task get_value(output bit[31:0] data[string]);
    extern task clear_intr_status();
    extern task set_rise_intr(bit[31:0] data);
    extern task wait_intr(int timeout = 100);
    extern task get_intr_status(output bit intr[string]);
    extern task run_inout_test();
    extern task run_intr_test();
endclass

function void {{ class_prefix }}kit_sequencer::check_ready();
    if (settings == null)
        `uvm_fatal("", "require settings")
{% for group in groups %}    if (sqr_{{ group.name }} == null)
        `uvm_fatal("", "require sqr_{{ group.name }}")
{% endfor %}endfunction

task {{ class_prefix }}kit_sequencer::mask_invalid_pin();
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.mask_invalid_pin();
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::set_dir(bit[31:0] data);
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.set_dir(data);
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::set_value(bit[31:0] data);
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.set_value(data);
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::drive_input(bit[31:0] data, bit[31:0] enable);
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.drive_input(data, enable);
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::get_value(output bit[31:0] data[string]);
    bit[31:0] group_data;

    check_ready();
    data.delete();
{% for group in groups %}    sqr_{{ group.name }}.get_value(group_data);
    data["{{ group.name }}"] = group_data;
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::clear_intr_status();
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.clear_intr_status();
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::set_rise_intr(bit[31:0] data);
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.set_rise_intr(data);
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::wait_intr(int timeout);
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.wait_intr(timeout);
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::get_intr_status(output bit intr[string]);
    bit group_intr;

    check_ready();
    intr.delete();
{% for group in groups %}    sqr_{{ group.name }}.get_intr_status(group_intr);
    intr["{{ group.name }}"] = group_intr;
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::run_inout_test();
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.run_inout_test();
{% endfor %}endtask

task {{ class_prefix }}kit_sequencer::run_intr_test();
    check_ready();
{% for group in groups %}    sqr_{{ group.name }}.run_intr_test();
{% endfor %}endtask

`endif
