`ifndef {{ (class_prefix ~ "sequencer") | upper }}
`define {{ (class_prefix ~ "sequencer") | upper }}

class {{ class_prefix }}sequencer extends uvm_sequencer;
    `uvm_component_utils({{ class_prefix }}sequencer)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}configuration cfg;
    virtual {{ class_prefix }}sub_interface vif;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    extern function void start_of_simulation();
    extern function void resolve_vif();
    extern task reset_phase(uvm_phase phase);
endclass

task {{ class_prefix }}sequencer::reset_phase(uvm_phase phase);
    super.reset_phase(phase);

    stop_sequences();
    start_phase_sequence(phase);
endtask

function void {{ class_prefix }}sequencer::start_of_simulation();
    super.start_of_simulation();

    if (cfg == null)
        `uvm_fatal("", "require cfg")
    if (settings == null)
        `uvm_fatal("", "require settings")
    if (!settings.has_randomized)
        assert(settings.randomize()) else `uvm_fatal("", "randomize settings failed")
    resolve_vif();
    if (!vif)
        `uvm_fatal("", "require vif")
    if (!cfg.has_randomized)
        `uvm_fatal("", "configuration is not randomized by settings")
    if (cfg.regmodel == null)
        `uvm_fatal("", "require cfg.regmodel")
    `uvm_info("", $sformatf("config:\n%s", cfg.sprint()), UVM_LOW)
endfunction

function void {{ class_prefix }}sequencer::resolve_vif();
    if (vif != null || settings == null || settings.vif == null || cfg == null)
        return;

{% for group in groups %}    if (cfg.group_name == "{{ group.name }}") begin
        vif = settings.vif.{{ group.name }};
        return;
    end
{% endfor %}endfunction

`endif
