{%- macro monitor_context(name, variable_format) -%}
    forever begin @(ctx.{{ name }}); `uvm_info("",$psprintf("context.{{ name }} has changed to {{ variable_format }}",ctx.{{ name }}),UVM_HIGH) end
{%- endmacro -%}

`ifndef {{ (class_prefix | upper) }}AGENT
`define {{ (class_prefix | upper) }}AGENT

class {{ class_prefix }}agent extends uvm_component;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}system_configuration sys_cfg;
    {{ class_prefix }}context ctx;
    {{ class_prefix }}sequencer sqr;

    function new(string name="{{ class_prefix }}agent",uvm_component parent=null);
        super.new(name,parent);

        sqr = {{ class_prefix }}sequencer::type_id::create("sqr",this);
        sys_cfg = {{ class_prefix }}system_configuration::type_id::create({get_full_name(),".sys_cfg"});
    endfunction

    extern function void build();
    extern function void connect();
    extern function void start_of_simulation();
    extern task reset_phase(uvm_phase phase);
    extern task main_phase(uvm_phase phase);

    // 监控上下文，变化时报告
    extern task monitor_context();
endclass

function void {{ class_prefix }}agent::build();
    super.build();

    uvm_config_db#({{ class_prefix }}system_configuration)::get(this,"","sys_cfg",sys_cfg);

    uvm_config_db #(uvm_object_wrapper)::set(sqr,
        "main_phase",
        "default_sequence",
        {{ class_prefix }}default_seq::type_id::get());
endfunction


function void {{ class_prefix }}agent::connect();
    super.connect();

    $cast(sqr.sys_cfg,sys_cfg);
endfunction

function void {{ class_prefix }}agent::start_of_simulation();
    super.start_of_simulation();

    if(!sys_cfg.has_randomized)
        assert(sys_cfg.randomize()) else `uvm_fatal("","randomize failed")

    `uvm_info("",$psprintf("system config:\n%s",sys_cfg.sprint()),UVM_LOW)
endfunction

task {{ class_prefix }}agent::reset_phase(uvm_phase phase);
    super.reset_phase(phase);

    ctx = {{ class_prefix }}context::type_id::create({get_full_name(),".ctx"});
    assert(ctx.randomize()) else `uvm_fatal("","randomize failed");
    $cast(sqr.ctx,ctx);
endtask

task {{ class_prefix }}agent::main_phase(uvm_phase phase);
    super.main_phase(phase);

    fork
        monitor_context();
    join
endtask

task {{ class_prefix }}agent::monitor_context();
    fork
        {{ monitor_context("data_width_cur", "%0d") }}
        {{ monitor_context("bus_speed_mode_cur", "%s") }}
        {{ monitor_context("has_power_up", "%0d") }}
        {{ monitor_context("has_initialized", "%0d") }}
    join
endtask

`endif
