`ifndef {{ class_agents | upper }}
`define {{ class_agents | upper }}

class {{ class_agents }} extends uvm_agent;
    `uvm_component_utils({{ class_agents }})

    {{ class_configurations }} cfgs;
{% for group in groups %}
    {{ class_agent }} agt_{{ group }};
{% endfor %}

    function new(string name,uvm_component parent);
        super.new(name,parent);

        cfgs = {{ class_configurations }}::type_id::create({get_full_name(),".cfgs"});
{% for group in groups %}
        agt_{{ group }} = {{ class_agent }}::type_id::create("agt_{{ group }}",this);
{% endfor %}

{% for group in groups %}
        agt_{{ group }}.cfg = cfgs.cfg_{{ group }};
{% endfor %}
    endfunction
endclass

`endif
