`ifndef {{ (class_prefix ~ "gate") | upper }}
`define {{ (class_prefix ~ "gate") | upper }}

class {{ class_prefix }}gate extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}gate)
        `uvm_field_int(gate, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit gate;

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
