`ifndef {{ (class_prefix ~ "mux") | upper }}
`define {{ (class_prefix ~ "mux") | upper }}

class {{ class_prefix }}mux extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}mux)
        `uvm_field_int(route, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit route;

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
