`ifndef {{ (class_prefix ~ "wire") | upper }}
`define {{ (class_prefix ~ "wire") | upper }}

class {{ class_prefix }}wire extends {{ class_prefix }}node_base;
    `uvm_object_utils_begin({{ class_prefix }}wire)
    `uvm_object_utils_end

    function new(string name = "");
        super.new(name);
    endfunction
endclass

`endif
