`ifndef {{ class_prefix | upper }}CORE
`define {{ class_prefix | upper }}CORE

module {{ class_prefix }}core(
    output reg clk
);

    timeunit 1fs;
    timeprecision 1fs;

    longint freq_cur; // 当前时钟频率

    // 初始化
    initial begin
        clk <= 1'b0;
        // 随机种子
        randomize_seed();
    end

    // 生成时钟
    initial generate_clock(freq_cur,clk);

    /*
        更新时钟频率

        frequence : 时钟频率(Hz)
    */
    function automatic void set_frequence(longint frequence);
        freq_cur = frequence;
    endfunction

    // 加载配置
    function automatic void load_config({{ class_prefix }}core_configuration cfg);
        longint f;

        case(1)
            cfg.use_offset : f = $urandom_range(cfg.frequency-cfg.offset,cfg.frequency+cfg.offset);
            cfg.use_range : f = $urandom_range(cfg.range_min,cfg.range_max);
            default : f = cfg.frequency;
        endcase

        set_frequence(f);
    endfunction

    /*  生成某个频率的波动时钟并输出持续变化的clock_output信号

        frequence : 频率变量，可以实时改变
        clock_output : 输出的时钟信号
    */
    function automatic void generate_clock(ref longint frequence,ref reg clock_output);
        longint interval; // 半个周期对应的时间间隔

        // 初始化
        clock_output = 0;

        fork
            forever begin
                // 计算
                if(frequence > 0)
                    interval = 1e15 / (frequence) / 2;
                else
                    interval = 0;

                wait(interval > 0);

                // 随机相位
                #($urandom_range(1,int'(interval+2-1)));

                // 产生时钟
                while(interval > 0) begin
                    clock_output = ~clock_output;
                    #interval;
                end
            end
        join_none
    endfunction

    // 根据字符串生成哈希值
    function automatic int hash(string str);
        int hash = 0;
        int multiplier = 31;
        int str_len = str.len();

        for (int i = 0; i < str_len; i++)
            hash = hash * multiplier + str[i];
    endfunction

    // 随机设置种子
    function automatic void randomize_seed();
        int seed;

        $value$plusargs("ntb_random_seed=%0d",seed);
        $srandom(hash($psprintf("%m"))+seed);
    endfunction

endmodule
`endif
