`ifndef {{ class_prefix | upper }}SEND_STATUS_COMMAND_REQUEST
`define {{ class_prefix | upper }}SEND_STATUS_COMMAND_REQUEST

// 发送CMD13，要求设备发送状态
class {{ class_prefix }}send_status_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}send_status_command_request)
        `uvm_field_int(rca, UVM_ALL_ON)
        `uvm_field_int(sqs, UVM_ALL_ON)
        `uvm_field_int(hpi, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit [15:0] rca; // 相对地址
    rand bit sqs; // 0=要求从机发送状态; 1=要求设备发送 QSR (队列状态寄存器)
    rand bit hpi; // 1=sqs为0时，要求设备在合适的时候停下来；其他情况均为0

    function new(string name = "{{ class_prefix }}send_status_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 13;
        argument[31:16] == rca;
        argument[15] == sqs;
        argument[0] == hpi;
        resp == R1;
        rca != 0;
        soft rca == sys_cfg.boot_cfg.relative_addr;
    }
endclass

`endif
