`ifndef {{ class_prefix | upper }}SET_RELATIVE_ADDR_COMMAND_REQUEST
`define {{ class_prefix | upper }}SET_RELATIVE_ADDR_COMMAND_REQUEST

// 发送CMD3，设置从机相对地址
class {{ class_prefix }}set_relative_addr_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}set_relative_addr_command_request)
        `uvm_field_int(rca, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit[15:0] rca; // 相对地址

    function new(string name="{{ class_prefix }}set_relative_addr_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 3;
        argument[31:16] == rca;
        resp == R1;
        rca != 0;
        soft rca == sys_cfg.boot_cfg.relative_addr;
    }
endclass

`endif
