model/spec.sv
{% if any_node_path %}
top/measure_interface.sv
top/interface.sv
{% endif %}
model/base.sv
model/node_base.sv
{% if regs_enabled %}
model/reg.sv
{% endif %}
model/source_base.sv
model/source.sv
model/source_pad.sv
model/clk.sv
model/div_base.sv
model/div_div.sv
model/div_dto.sv
model/div_div_r.sv
model/gate.sv
model/mux.sv
model/inv_base.sv
model/inv.sv
model/inv_mux.sv
model/inv_cell.sv
model/pll_base.sv
model/pll_tci.sv
model/pll_sc.sv
model/pll_dw.sv
model/pll_inno.sv
model/tree_base.sv
{% if regs_enabled %}
core/reg_access.sv
core/node_ratio.sv
core/node_reg_config.sv
core/pll_config.sv
core/core_tools.sv
core/tree_nodes.sv
{% endif %}
{% if route_test_enabled %}
core/route_ctrl_snap.sv
core/route_structure.sv
{% endif %}
trees.sv
component/sequencer.sv
sequence/base.sv
{% if regs_enabled %}
sequence/operation/config_reg/req.sv
sequence/operation/config_reg/rsp.sv
sequence/operation/config_reg/op.sv
{% endif %}
{% if any_node_path %}
sequence/operation/check_measure/req.sv
sequence/operation/check_measure/rsp.sv
sequence/operation/check_measure/op.sv
{% if any_node_path and regs_enabled %}
sequence/test/test_measure/req.sv
sequence/test/test_measure/rsp.sv
sequence/test/test_measure/test.sv
{% endif %}
{% if route_test_enabled %}
sequence/test/test_flip/req.sv
sequence/test/test_flip/rsp.sv
sequence/test/test_flip/test.sv
sequence/test/test_route/req.sv
sequence/test/test_route/rsp.sv
sequence/test/test_route/test.sv
{% endif %}
{% endif %}
component/kit_sequencer.sv
component/agent.sv
