model/spec.sv
{% if any_node_path %}
top/generate_interface.sv
top/measure_interface.sv
top/interface.sv
{% endif %}
model/base.sv
model/node_base.sv
model/reg_bind.sv
model/source.sv
model/clk.sv
model/div.sv
model/dto.sv
model/gate.sv
model/mux.sv
model/inv.sv
model/base_pll.sv
model/pll_tci.sv
model/pll_sc.sv
model/pll_dw.sv
core/reg_access.sv
core/node_ratio.sv
core/node_reg_config.sv
core/pll_config.sv
core/core_tools.sv
model/base_tree.sv
trees.sv
constraint.sv
{% if any_node_path %}
top/connect.sv
{% endif %}
component/sequencer.sv
component/kit_sequencer.sv
component/agent.sv
sequence/base.sv
{% if any_node_path %}
sequence/operation/set_clock_gen/req.sv
sequence/operation/set_clock_gen/rsp.sv
sequence/operation/set_clock_gen/operation.sv
{% endif %}
sequence/operation/config_reg/req.sv
sequence/operation/config_reg/rsp.sv
sequence/operation/config_reg/operation.sv
{% if any_node_path %}
sequence/operation/check_clk/req.sv
sequence/operation/check_clk/rsp.sv
sequence/operation/check_clk/operation.sv
sequence/operation/check_pll/req.sv
sequence/operation/check_pll/rsp.sv
sequence/operation/check_pll/operation.sv
sequence/operation/check_duty/req.sv
sequence/operation/check_duty/rsp.sv
sequence/operation/check_duty/operation.sv
sequence/test/test_duty_wavefront/req.sv
sequence/test/test_duty_wavefront/rsp.sv
sequence/test/test_duty_wavefront/test.sv
{% endif %}
