{% if settings.direct_config -%}
model/spec.sv
model/base.sv
model/node_base.sv
model/reg.sv
model/source_base.sv
model/source.sv
model/source_pad.sv
model/clk.sv
model/div_base.sv
model/div_div.sv
model/div_dto.sv
model/div_div_r.sv
model/gate.sv
model/cell.sv
model/mux.sv
model/inv_base.sv
model/inv.sv
model/inv_mux.sv
model/inv_cell.sv
model/pll_base.sv
model/pll_tci.sv
model/pll_sc.sv
model/pll_dw.sv
model/pll_inno.sv
model/tree_base.sv
core/reg_access.sv
core/node_ratio.sv
core/node_reg_config.sv
core/pll_config.sv
core/core_tools.sv
core/tree_nodes.sv
core/config_reg.sv
model/tree.sv
core/config_reg_entry.sv
{% endif %}
