{% if settings.direct_config -%}
# 时钟树

## 导入

使用 `-F` 添加 `config.f`

```
-F path-to-dir/config.f
```

## 部署

传入 `{{ settings.class_regmodel }}` 寄存器对象: `path-to-your-regmodel`

```systemverilog
{{ settings.class_prefix }}tree tree;

// 例化 tree
tree = {{ settings.class_prefix }}tree::type_id::create("tree");
// 绑定寄存器
tree.build(path-to-your-regmodel);
```

## 低功耗

关闭全部时钟以加速仿真，同时也会关闭你可能需要的时钟，不会关闭 PLL。

```systemverilog
// 尽可能关闭全部时钟
tree.low_power();
```

## 配置

灵活地开关时钟，或者修改频率。
{%- if first_clk_name %}

以 {{ first_clk_name }} 为例。
{% endif %}
```systemverilog
{% if first_clk_name -%}
// 使能目标时钟
tree.{{ first_clk_name }}.enabled = 1;

// 设置目标频率 123.456MHz
tree.{{ first_clk_name }}.frequence = 123456000;

{% endif -%}
{% if first_pll_access -%}
// 关闭 PLL
tree.{{ first_pll_access }}.enabled = 0;

{% endif -%}

// 应用配置
{{ settings.class_prefix }}config_reg(tree);
```

{% if configurable_clks -%}
## 可配置时钟

| 时钟 | 推荐频率 |
| --- | --- |
{% for clk in configurable_clks -%}
| `{{ clk.name }}` | {{ clk.freq_label }} |
{% endfor -%}
{% endif -%}
{{ "\n" if configurable_clks and configurable_plls else "" -}}
{% if configurable_plls -%}
## 可配置 PLL

| PLL | 推荐频率 |
| --- | --- |
{% for pll in configurable_plls -%}
| `{{ pll.name }}` | {{ pll.freq_label }} |
{% endfor -%}
{% endif %}
## 约束

时钟的频率和开关需要遵循时钟树的结构，否则会导致约束错误：

1. 时钟与时钟源（pll/晶振）的频率通常需要遵守倍数关系
2. 一个时钟要想打开，它的源头也必须打开
3. 有时两个时钟的频率相互矛盾，无法同时满足你的要求
4. 具体配置以时钟图为准
{% endif -%}