`ifndef {{ (settings.class_prefix ~ "connect") | upper }}
`define {{ (settings.class_prefix ~ "connect") | upper }}

function automatic void {{ settings.class_prefix }}connect(
        virtual {{ settings.class_prefix }}tree_interface tree_if,
        {{ settings.class_prefix }}tree tree);
    if (tree_if == null)
        `uvm_fatal("CLK_TREE", "connect: tree_if is null")
    if (tree == null)
        `uvm_fatal("CLK_TREE", "connect: tree is null")
{%- for slot in tree.connectable_slots %}
`ifndef {{ (settings.class_prefix | upper) }}{{ slot.disable_macro_suffix }}
{%- if slot.role == "in" and slot.port_key == "default" %}
    tree.{{ slot.access }}.in_vif = tree_if.{{ slot.instance_name }};
{%- if tree.nodes[slot.node_key].kind in ["clk", "cell"] %}
    tree.{{ slot.access }}.vif = tree_if.{{ slot.instance_name }};
    tree.{{ slot.access }}.out_vif = tree_if.{{ slot.instance_name }};
{%- endif %}
{%- elif slot.role == "in" %}
    tree.{{ slot.access }}.in_vifs["{{ slot.port_key }}"] = tree_if.{{ slot.instance_name }};
{%- elif slot.role == "out" and slot.port_key == "default" %}
    tree.{{ slot.access }}.out_vif = tree_if.{{ slot.instance_name }};
{%- else %}
    tree.{{ slot.access }}.out_vifs["{{ slot.port_key }}"] = tree_if.{{ slot.instance_name }};
{%- endif %}
`endif
{%- endfor %}
endfunction

`endif
