`ifndef {{ (settings.class_prefix ~ "cst_base") | upper }}
`define {{ (settings.class_prefix ~ "cst_base") | upper }}

{%- for tree in trees %}
constraint {{ settings.class_prefix }}{{ tree.name }}_tree::cst_base {
{%- for node in tree.nodes_ordered %}
{%- if node.kind in ["clk", "pll", "source"] and node.freq is not none %}
    soft {{ node.name }}.frequence == {{ node.freq }};
{%- endif %}
{%- if any_node_path and node.allow_bad_duty %}
    soft {{ node.name }}.allow_bad_duty == 1;
{%- endif %}
{%- if node.kind == "mux" and node.mux_sel_inside %}
    {{ node.name }}.sel inside { {{ node.mux_sel_inside }} };
{%- endif %}
{%- endfor %}
}

{%- endfor %}
`endif
