# 说明

{% if any_node_path %}
## 例化接口

```systemverilog
module your_top_module;
    ...
    {{ settings.class_prefix }}tree_interface clk_tree_if();
    ...
endmodule
```

{% endif %}
## 搭建

```systemverilog
{{ settings.class_prefix }}agent clk_agt;
{{ settings.class_prefix }}kit_sequencer clk_sqr;
{{ settings.class_prefix }}tree tree;

function void build_phase(uvm_phase phase);
    ...
    clk_agt = {{ settings.class_prefix }}agent::type_id::create("clk_agt", this);
    tree = {{ settings.class_prefix }}tree::type_id::create("tree");
{% if any_node_path and regs_enabled %}
    tree.build(your_regmodel);
    {{ settings.class_prefix }}connect(tree, your_top_module.clk_tree_if);
{% elif any_node_path %}
    tree.build();
    {{ settings.class_prefix }}connect(tree, your_top_module.clk_tree_if);
{% elif regs_enabled %}
    tree.build(your_regmodel);
{% else %}
    tree.build();
{% endif %}
    $cast(clk_sqr, clk_agt.sqr);
    uvm_config_db#({{ settings.class_prefix }}tree)::set(this, "clk_agt", "tree", tree);
endfunction
```

## 使用

```systemverilog
task main_phase(uvm_phase phase);
    phase.raise_objection(this);
    ...
{% if any_node_path and regs_enabled %}
    clk_sqr.test_measure();
{% elif any_node_path %}
    clk_sqr.check_measure();
{% elif regs_enabled %}
    clk_sqr.config_reg();
{% endif %}
    ...
endtask
```
