`ifndef {{ class_prefix | upper }}WAIT_FIELD_OP_SEQ
`define {{ class_prefix | upper }}WAIT_FIELD_OP_SEQ

class {{ class_prefix }}wait_field_operation_seq extends {{ class_prefix }}base_operation_seq#({{ class_prefix }}wait_field_response);
    `uvm_object_utils({{ class_prefix }}wait_field_operation_seq)

    rand {{ class_prefix }}wait_field_request wait_field_request;
    rand {{ class_prefix }}check_error_request chk_err_request;

    function new(string name="{{ class_prefix }}wait_field_operation_seq");
        super.new(name);
    endfunction

    {{ class_prefix }}check_error_operation_seq chk_err_seq;

    extern function void pre_randomize();
    extern task body();

    // 持续等待寄存器某一field，直到值为期望值
    extern task wait_field(uvm_reg_field f, int value);
{%- if is_mobile_storage %}
    extern task wait_status_bit(int bit_idx, int value, string field_name);
{%- endif %}
endclass

function void {{ class_prefix }}wait_field_operation_seq::pre_randomize();
    super.pre_randomize();

    if(!wait_field_request)
        `uvm_create(wait_field_request)
    if(!chk_err_request)
        `uvm_create(chk_err_request)
    `uvm_create(chk_err_seq)
    $cast(chk_err_seq.chk_err_request, chk_err_request);
endfunction

task {{ class_prefix }}wait_field_operation_seq::body();
    `uvm_info("", $psprintf("wait field:\n%s", wait_field_request.sprint()), UVM_DEBUG)

{%- if is_mobile_storage %}
    if(wait_field_request.cmd_uninhibit)
        `uvm_info("", "skip CMD_INHIBIT wait for mobile_storage", UVM_DEBUG)
    if(wait_field_request.cmd_uninhibit_dat) wait_status_bit(9, 0, "STATUS_R.DATA_BUSY");
    if(wait_field_request.internal_clk_stable)
        `uvm_info("", "skip INTERNAL_CLK_STABLE wait for mobile_storage", UVM_DEBUG)
    if(wait_field_request.card_inserted) wait_field(rm.CARD_DETECT_R.CARD_DETECT, 0);
    if(wait_field_request.card_stable)
        `uvm_info("", "skip CARD_STABLE wait for mobile_storage", UVM_DEBUG)
    if(wait_field_request.rd_xfer_inactive) wait_status_bit(9, 0, "STATUS_R.DATA_BUSY");
    if(wait_field_request.wr_xfer_inactive) wait_status_bit(9, 0, "STATUS_R.DATA_BUSY");
    if(wait_field_request.dat_line_inactive) wait_status_bit(9, 0, "STATUS_R.DATA_BUSY");
{%- else %}
    if(wait_field_request.cmd_uninhibit) wait_field(rm.PSTATE_REG.CMD_INHIBIT, 0);
    if(wait_field_request.cmd_uninhibit_dat) wait_field(rm.PSTATE_REG.CMD_INHIBIT_DAT, 0);
    if(wait_field_request.internal_clk_stable) wait_field(rm.CLK_CTRL_R.INTERNAL_CLK_STABLE, 1);
    if(wait_field_request.card_inserted) wait_field(rm.PSTATE_REG.CARD_INSERTED, 1);
    if(wait_field_request.card_stable) wait_field(rm.PSTATE_REG.CARD_STABLE, 1);
    if(wait_field_request.rd_xfer_inactive) wait_field(rm.PSTATE_REG.RD_XFER_ACTIVE, 0);
    if(wait_field_request.wr_xfer_inactive) wait_field(rm.PSTATE_REG.WR_XFER_ACTIVE, 0);
    if(wait_field_request.dat_line_inactive) wait_field(rm.PSTATE_REG.DAT_LINE_ACTIVE, 0);
{%- endif %}

    `uvm_info("", "wait field done", UVM_DEBUG)
endtask

task {{ class_prefix }}wait_field_operation_seq::wait_field(uvm_reg_field f, int value);
    int t;
    bit [31:0] rdata;
    uvm_reg r;

    r = f.get_register();
    `uvm_info("", $psprintf("wait field.f = %s", f.get_full_name()), UVM_DEBUG)
    `uvm_info("", $psprintf("wait field.r = %s", r.get_full_name()), UVM_DEBUG)

    fork begin
        fork
            begin
                p_sequencer.vif.wait_timeout(wait_field_request.timeout_us);
                `uvm_fatal("", $psprintf("wait field timeout:\n%s", wait_field_request.sprint()))
            end
            forever begin
                `uvm_rand_send(chk_err_seq)

                r.read(status, rdata);
                `uvm_info("", $psprintf("wait field.rdata = 0x%0h", rdata), UVM_DEBUG)
                `uvm_info("", $psprintf("wait field.f.get = 0x%0h | 0x%0h", f.get(), value), UVM_DEBUG)
                if(f.get() == value)
                    break;
            end
        join_any
        disable fork;
    end
    join
endtask

{%- if is_mobile_storage %}
task {{ class_prefix }}wait_field_operation_seq::wait_status_bit(int bit_idx, int value, string field_name);
    bit [31:0] rdata;

    `uvm_info("", $psprintf("wait field.f = %s", field_name), UVM_DEBUG)
    `uvm_info("", "wait field.r = STATUS_R", UVM_DEBUG)

    fork begin
        fork
            begin
                p_sequencer.vif.wait_timeout(wait_field_request.timeout_us);
                `uvm_fatal("", $psprintf("wait status timeout:\n%s", wait_field_request.sprint()))
            end
            forever begin
                `uvm_rand_send(chk_err_seq)

                rm.STATUS_R.read(status, rdata);
                `uvm_info("", $psprintf("wait status.rdata = 0x%0h", rdata), UVM_DEBUG)
                if (rdata[bit_idx] == value)
                    break;
            end
        join_any
        disable fork;
    end
    join
endtask
{%- endif %}

`endif
