{%- set _rst = reset | default(false) %}
{%- if _rst %}
`ifndef {{ (class_prefix ~ "single_reg_fd_reset_seq") | upper }}
`define {{ (class_prefix ~ "single_reg_fd_reset_seq") | upper }}

class {{ class_prefix }}single_reg_fd_reset_seq extends uvm_sequence;
    `uvm_object_utils({{ class_prefix }}single_reg_fd_reset_seq)

    uvm_reg rg;

    function new(string name = "{{ class_prefix }}single_reg_fd_reset_seq");
        super.new(name);
    endfunction

    virtual task body();
        uvm_reg_map maps[$];

        if (rg == null) begin
            `uvm_error("RAL_TEST/REG_FD", "No register specified to run sequence on")
            return;
        end

        if (uvm_resource_db#(bit)::get_by_name({"REG::", rg.get_full_name()},
                "NO_REG_TESTS", 0) != null ||
                uvm_resource_db#(bit)::get_by_name({"REG::", rg.get_full_name()},
                "NO_REG_HW_RESET_TEST", 0) != null) begin
            return;
        end

        rg.get_maps(maps);

        foreach (maps[j]) begin
            uvm_status_e status;

            `uvm_info("RAL_TEST/REG_FD", {"Verifying reset value of register '",
                rg.get_full_name(), "' in map '", maps[j].get_full_name(),
                "' ..."}, UVM_LOW)

            rg.mirror(status, UVM_CHECK, UVM_FRONTDOOR, maps[j], this);
            if (status != UVM_IS_OK) begin
                `uvm_error("RAL_TEST/REG_FD", {"Status was '", status.name(),
                    "' when reading reset value of register '",
                    rg.get_full_name(), "' through map '",
                    maps[j].get_full_name(), "'"})
            end
        end
    endtask
endclass

`endif
{%- endif %}
