`ifndef {{ (class_prefix ~ "seq") | upper }}
`define {{ (class_prefix ~ "seq") | upper }}

{%- set _rst = reset | default(false) %}
{%- set _acc = access | default(false) %}
{%- set _mh = mem_hdl_paths | default(false) %}
{%- set _bb = bit_bash | default(false) %}
class {{ class_prefix }}seq extends uvm_sequence;
    `uvm_object_utils({{ class_prefix }}seq)
    `uvm_declare_p_sequencer(uvm_sequencer #(uvm_reg_item))

    // RAL 根块句柄
    uvm_reg_block regmodel;
    // 跳过内建测试的寄存器；空队列表示不排除
    uvm_reg no_test_regs[$];

    function new(string name = "{{ class_prefix }}seq");
        super.new(name);
    endfunction

    task body();
{%- if _rst %}
        {{ class_prefix }}reg_fd_reset_seq reg_fd_reset_seq;
{%- endif %}
{%- if _acc %}
        {{ class_prefix }}reg_fd_access_seq reg_fd_access_seq;
{%- endif %}
{%- if _mh %}
        uvm_reg_mem_hdl_paths_seq mem_hdl_paths_seq;
{%- endif %}
{%- if _bb %}
        uvm_reg_bit_bash_seq bit_bash_seq;
{%- endif %}

        if (regmodel == null)
            `uvm_fatal("RAL_TEST/MODEL", "regmodel is null; assign before start")

        foreach (no_test_regs[i]) begin
            if (no_test_regs[i] != null)
                uvm_resource_db#(bit)::set({"REG::", no_test_regs[i].get_full_name()},
                    "NO_REG_TESTS", 1);
        end
{%- if _rst %}

        reg_fd_reset_seq = {{ class_prefix }}reg_fd_reset_seq::type_id::create({get_name(), ".reg_fd_reset"});
        reg_fd_reset_seq.model = regmodel;
        reg_fd_reset_seq.start(p_sequencer);
{%- endif %}
{%- if _acc %}

        reg_fd_access_seq = {{ class_prefix }}reg_fd_access_seq::type_id::create({get_name(), ".reg_fd_access"});
        reg_fd_access_seq.model = regmodel;
        reg_fd_access_seq.start(p_sequencer);
{%- endif %}
{%- if _mh %}

        mem_hdl_paths_seq = uvm_reg_mem_hdl_paths_seq::type_id::create({get_name(), ".mem_hdl_paths"});
        mem_hdl_paths_seq.model = regmodel;
        mem_hdl_paths_seq.start(p_sequencer);
{%- endif %}
{%- if _bb %}

        bit_bash_seq = uvm_reg_bit_bash_seq::type_id::create({get_name(), ".bit_bash"});
        bit_bash_seq.model = regmodel;
        bit_bash_seq.start(p_sequencer);
{%- endif %}
    endtask
endclass

`endif
