`ifndef {{ class_prefix | upper }}ALL_SEND_CID_COMMAND_REQ
`define {{ class_prefix | upper }}ALL_SEND_CID_COMMAND_REQ

// 发送CMD2，要求所有设备发送 CID
class {{ class_prefix }}all_send_cid_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils({{ class_prefix }}all_send_cid_command_request)

    function new(string name="{{ class_prefix }}all_send_cid_command_request");
        super.new(name);
    endfunction

    constraint cst_command {
        cmd_index == 2;
        resp == R2;
    }
endclass

`endif
