{% if is_emmc -%}
`ifndef {{ class_prefix | upper }}BOOT_INITIATION_COMMAND_REQ
`define {{ class_prefix | upper }}BOOT_INITIATION_COMMAND_REQ


// 发送CMD0启动初始化附加选项
class {{ class_prefix }}boot_initiation_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils({{ class_prefix }}boot_initiation_command_request)

    function new(string name="{{ class_prefix }}boot_initiation_command_request");
        super.new(name);
    endfunction

    constraint cst_command {
        cmd_index == 0;
        argument == 'hffff_fffa;
        resp == NR;
    }
endclass

`endif
{% endif %}
