`ifndef {{ class_prefix | upper }}READ_SINGLE_BLOCK_COMMAND_REQ
`define {{ class_prefix | upper }}READ_SINGLE_BLOCK_COMMAND_REQ

/*
    发送CMD17读单块

    需要先发送 SET_BLOCKLEN
    需要注意块的到边界, 指令设置了 READ BLK MISALIGN
*/
class {{ class_prefix }}read_single_block_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}read_single_block_command_request)
        `uvm_field_int(data_address, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit[31:0] data_address; // 地址, <=2GB, 表示字节地址; > 2GB, 表示块 (512B) 地址

    function new(string name = "{{ class_prefix }}read_single_block_command_request");
        super.new(name);
    endfunction

    constraint cst_command {
        cmd_index == 17;
        resp == R1;
        data_xfer_dir == XFER_READ;
        data_present_sel == 1;
        multi_blk_sel == SINGLE;
        data_address == addr[31:0];
        data_address == argument;
    }
endclass

`endif
