{% if is_sd -%}
`ifndef {{ class_prefix | upper }}VOLTAGE_SWITCH_COMMAND_REQ
`define {{ class_prefix | upper }}VOLTAGE_SWITCH_COMMAND_REQ

// 发送CMD11，切换到 1.8V 总线信号等级
class {{ class_prefix }}voltage_switch_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils({{ class_prefix }}voltage_switch_command_request)

    function new(string name="{{ class_prefix }}voltage_switch_command_request");
        super.new(name);
    endfunction

    constraint cst_command {
        cmd_index == 11;
        resp == R1;
    }
endclass

`endif
{% endif %}
