`ifndef {{ class_reporter | upper }}
`define {{ class_reporter | upper }}

typedef class Data_packet;

class {{ class_reporter }} extends uvm_component;
    `uvm_component_utils({{ class_reporter }})
    `uvm_analysis_imp_decl(_i)
    uvm_analysis_imp_i #(Data_packet, {{ class_reporter }}) imp; // 输入 apb 转换后的数据

    function new(string name="{{ class_reporter }}", uvm_component parent=null);
        super.new(name,parent);

        imp = new("imp",this);
    endfunction

    {{ class_config }} cfg;
    protected bit is_enabled; // 是否启用
    bit has_written; // 是否写过

    extern function void build();

    // 获取目录
    extern function string dir(string str);

    // 记录内容
    extern function void mkdir();

    // 写文本
    extern function void write_content(string s);

    // 写文件
    extern function void file_write(string dst,string str,string op="a");

    // 写数据
    extern virtual function void write(Data_packet i);
endclass

function void {{ class_reporter }}::build();
    super.build();

    is_enabled = cfg.log_path.len > 0;
endfunction

function void {{ class_reporter }}::write(Data_packet i);
    bit[31:0] dat;
    string op;
    string s;

    if(!is_enabled)
        return;

    $cast(i,i.clone());

    `uvm_info("",$spsprintf("i:\n%s",i.sprint()),UVM_DEBUG)

    case(i.xact_type)
        I_READ  : op = "R";
        I_WRITE : op = "W";
        default : `uvm_fatal("", "")
    endcase

    dat = $bits(dat)'(i.data);

    s = $spsprintf("%s\t0x%h\t0x%h",op,i.addr,dat);

    write_content(s);
endfunction

function void {{ class_reporter }}::write_content(string s);
    string op;

    if(!has_written) begin
        op = "w";
        has_written = 1;

        // 创建目录
        mkdir();

        `uvm_info("",$spsprintf("output : `%s`",cfg.log_path),UVM_LOW)
    end
    else begin
        op = "a";
    end

    file_write(cfg.log_path,s,op);
endfunction

function string {{ class_reporter }}::dir(string str);
    string c;

    // 从末尾开始
    for(int i=str.len()-1;i>=0;i--) begin
        c = str.getc(i);

        if(c == "/")
            return str.substr(0,i-1);
    end

    return "";
endfunction

function void {{ class_reporter }}::mkdir();
    string base;

    base = dir(cfg.log_path);

    if(!base.len)
        return;

    $system($spsprintf("mkdir -p %s",base));
endfunction

function void {{ class_reporter }}::file_write(string dst,string str,string op);
    int file;

    // alias
    if(op == "a")
        str = {"\n",str};

    // 写
    file = $fopen(dst,op);
    $fwrite(file,"%s",str);
    $fclose(file);
endfunction

`endif
