`ifndef {{ (class_prefix ~ "set_pll_req") | upper }}
`define {{ (class_prefix ~ "set_pll_req") | upper }}

class {{ class_prefix }}set_pll_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}set_pll_req)
        `uvm_field_object(node, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ class_prefix }}pll node;

    function new(string name = "{{ class_prefix }}set_pll_req");
        super.new(name);
    endfunction
endclass

`endif
