{%- macro typedef(postfix_name, postfix_request) -%}
class {{ class_prefix }}{{ postfix_name }} extends {{ class_prefix }}base_acmd_seq#({{ class_prefix }}{{ postfix_request }});
    `uvm_object_utils({{ class_prefix }}{{ postfix_name }})
    function new(string name="{{ class_prefix }}{{ postfix_name }}");
        super.new(name);
    endfunction
endclass
{%- endmacro -%}

`ifndef {{ class_prefix | upper }}ACMD_SEQ
`define {{ class_prefix | upper }}ACMD_SEQ

class {{ class_prefix }}base_acmd_seq
    #(type CLASS_CMD_REQUEST={{ class_prefix }}base_acmd_request)
    extends {{ class_prefix }}base_seq;
    `uvm_object_param_utils({{ class_prefix }}base_acmd_seq#(CLASS_CMD_REQUEST))

    rand {{ class_prefix }}app_cmd_command_request app_cmd_req;
    rand CLASS_CMD_REQUEST cmd_req;

    function new(string name="{{ class_prefix }}base_acmd_seq");
        super.new(name);
    endfunction

    {{ class_prefix }}app_cmd_command_seq app_cmd_seq;
    {{ class_prefix }}command_request_seq#(CLASS_CMD_REQUEST) cmd_seq;

    task body();
        `uvm_rand_send(app_cmd_seq)
        `uvm_rand_send(cmd_seq)
    endtask

    function void pre_randomize();
        super.pre_randomize();

        if(!app_cmd_req)
            `uvm_create(app_cmd_req)
        if(!cmd_req)
            `uvm_create(cmd_req)

        `uvm_create(app_cmd_seq)
        $cast(app_cmd_seq.cmd_req, app_cmd_req);

        `uvm_create(cmd_seq)
        $cast(cmd_seq.cmd_req, cmd_req);
    endfunction
endclass

{{ typedef('sd_send_op_cond_acmd_seq', 'sd_send_op_cond_acmd_request') }}
{{ typedef('send_scr_acmd_seq', 'send_scr_acmd_request') }}

class {{ class_prefix }}set_bus_width_acmd_seq extends {{ class_prefix }}base_acmd_seq#({{ class_prefix }}set_bus_width_acmd_request);
    `uvm_object_utils({{ class_prefix }}set_bus_width_acmd_seq)

    function new(string name="{{ class_prefix }}set_bus_width_acmd_seq");
        super.new(name);
    endfunction

    task post_start();
        super.post_start();

        ctx.data_width_cur = cmd_req.bus_width;
    endtask
endclass

`endif
