`ifndef {{ (class_prefix ~ "init_registers_req") | upper }}
`define {{ (class_prefix ~ "init_registers_req") | upper }}

class {{ class_prefix }}init_registers_req extends {{ class_prefix }}base_item;
    `uvm_object_utils_begin({{ class_prefix }}init_registers_req)
        `uvm_field_object(transfer_req, UVM_ALL_ON)
    `uvm_object_utils_end

    rand {{ class_prefix }}transfer_req transfer_req;

    function new(string name="{{ class_prefix }}init_registers_req");
        super.new(name);
    endfunction
endclass

`endif
