`ifndef {{ (class_prefix ~ "init_registers_rsp") | upper }}
`define {{ (class_prefix ~ "init_registers_rsp") | upper }}

class {{ class_prefix }}init_registers_rsp extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}init_registers_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
        `uvm_field_object(cfg, UVM_ALL_ON)
    `uvm_object_utils_end

    bit ok;
    {{ class_prefix }}configuration cfg;

    function new(string name="{{ class_prefix }}init_registers_rsp");
        super.new(name);
        ok = 1'b1;
    endfunction
endclass

`endif
