`ifndef {{ class_get_signal_rsp | upper }}
`define {{ class_get_signal_rsp | upper }}

class {{ class_get_signal_rsp }} extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_get_signal_rsp }})
        `uvm_field_int(ok,UVM_ALL_ON)
        `uvm_field_int(value,UVM_ALL_ON)
    `uvm_object_utils_end

    bit ok = 1'b1;
    logic[31:0] value;

    // Initializes a successful pad signal read response.
    function new(string name="{{ class_get_signal_rsp }}");
        super.new(name);
    endfunction
endclass

`endif
