`ifndef {{ class_intr_test_seq | upper }}
`define {{ class_intr_test_seq | upper }}

// 中断测试
class {{ class_intr_test_seq }} extends {{ class_base_seq }};
    `uvm_object_utils({{ class_intr_test_seq }})

    function new(string name = "{{ class_intr_test_seq }}");
        super.new(name);
    endfunction

    /*
        中断触发前清中断，并设置上升沿中断
        等待配置了，发中断后，清中断

        中断后测试是否恢复
    */
    extern task body();

    extern task test_rise();
endclass

task {{ class_intr_test_seq }}::body();
    // 清除中断
    sdk.set_dir(0);

    // 关闭中断
    sdk.set_rise_intr(0);

    // 清中断
    sdk.clear_intr_status();

    // 置同输入0
    vif.set(0);

    // 中断为上升沿中断
    sdk.set_rise_intr(1);

    // 比如延迟时间
    repeat(20)
        @(posedge vif.clk);

    // 测试
    test_rise();

    // 清中断
    sdk.clear_intr_status();

    // 关闭中断
    sdk.set_rise_intr(0);
endtask

task {{ class_intr_test_seq }}::test_rise();
    // 断言：没有中断
    if(sdk.get_intr_status())
        `uvm_error("", "require interrupt, but not received")

    // 置同高，引起中断
    vif.set(1);

    // 等待触发
    sdk.wait_intr();

    // 判断：有中断
    if(!sdk.get_intr_status())
        `uvm_error("", "not require interrupt, but received")
endtask

`endif
