{% if route_test_enabled %}
`ifndef {{ (settings.class_prefix ~ "test_route_req") | upper }}
`define {{ (settings.class_prefix ~ "test_route_req") | upper }}

class {{ settings.class_prefix }}test_route_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}test_route_req)
        `uvm_field_object(tree, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_queue_object(required_clk_nodes, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(quiet, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ settings.class_prefix }}tree_base tree;
    {{ settings.class_prefix }}node_base required_clk_nodes[$];
    bit quiet;

    function new(string name = "{{ settings.class_prefix }}test_route_req");
        super.new(name);
    endfunction
endclass

`endif
{% endif %}
