`ifndef {{ (class_prefix ~ "dma_engine") | upper }}
`define {{ (class_prefix ~ "dma_engine") | upper }}

class {{ class_prefix }}dma_engine extends {{ class_prefix }}spec#(uvm_object);
    `uvm_object_utils({{ class_prefix }}dma_engine)

    {{ class_prefix }}scoreboard scoreboard;

    function new(string name="{{ class_prefix }}dma_engine");
        super.new(name);
    endfunction

    extern function bit move_payload(
        uvm_tlm_generic_payload payload,
        bit use_dma,
        output bit [7:0] read_data[$]);
endclass

function bit {{ class_prefix }}dma_engine::move_payload(
        uvm_tlm_generic_payload payload,
        bit use_dma,
        output bit [7:0] read_data[$]);
    read_data.delete();
    if (scoreboard == null)
        `uvm_fatal("DW_SPI_DMA", "scoreboard is null")
    if (payload == null) begin
        `uvm_error("DW_SPI_DMA", "payload is null")
        return 1'b0;
    end
    if (!use_dma) begin
        `uvm_error("DW_SPI_DMA", "move_payload called for non-DMA transfer")
        return 1'b0;
    end

    return scoreboard.apply_payload(payload, read_data);
endfunction

`endif
