{% if any_node_path %}
`ifndef {{ (settings.class_prefix ~ "check_measure_req") | upper }}
`define {{ (settings.class_prefix ~ "check_measure_req") | upper }}

class {{ settings.class_prefix }}check_measure_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}check_measure_req)
        `uvm_field_object(tree, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(quiet, UVM_ALL_ON)
        `uvm_field_int(check_freq, UVM_ALL_ON)
        `uvm_field_int(check_duty, UVM_ALL_ON)
        `uvm_field_int(min_freq_hz, UVM_ALL_ON | UVM_DEC)
    `uvm_object_utils_end

    {{ settings.class_prefix }}tree_base tree;
    bit quiet;
    bit check_freq;
    bit check_duty;
    int min_freq_hz;

    function new(string name = "{{ settings.class_prefix }}check_measure_req");
        super.new(name);
        check_freq = 1'b1;
        check_duty = 1'b1;
        min_freq_hz = 0;
    endfunction
endclass

`endif
{% endif %}
