{% if any_node_path %}
`ifndef {{ (settings.class_prefix ~ "check_measure_rsp") | upper }}
`define {{ (settings.class_prefix ~ "check_measure_rsp") | upper }}

class {{ settings.class_prefix }}check_measure_rsp extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}check_measure_rsp)
        `uvm_field_int(ok, UVM_ALL_ON)
        `uvm_field_queue_object(failed_nodes, UVM_ALL_ON | UVM_NOPRINT)
    `uvm_object_utils_end

    bit ok;
    {{ settings.class_prefix }}node_base failed_nodes[$];

    function new(string name = "{{ settings.class_prefix }}check_measure_rsp");
        super.new(name);
    endfunction
endclass

`endif
{% endif %}
