`ifndef {{ class_scoreboard | upper }}
`define {{ class_scoreboard | upper }}

class {{ class_scoreboard }}#(bit NO_DATA=0,int SIZE=16) extends uvm_component;
    `uvm_component_param_utils({{ class_scoreboard }}#(NO_DATA,SIZE))

    uvm_analysis_port#(Data_packet) {{ monitor_port_name }};
    `uvm_analysis_imp_decl(_monitor) protected uvm_analysis_imp_monitor #(Data_packet,{{ class_scoreboard }}#(NO_DATA,SIZE)) mon_imp;
    uvm_analysis_port#(Data_packet) {{ golden_port_name }}[SIZE];
    `{{ define_array_imp_decl }}(_golden) protected uvm_analysis_imp_golden #(Data_packet,{{ class_scoreboard }}#(NO_DATA,SIZE)) gld_imp[SIZE];

    function new(string name="{{ class_scoreboard }}",uvm_component parent);
        super.new(name,parent);

        mon_imp = new("mon_imp",this);
        foreach(gld_imp[j])
            gld_imp[j] = new($psprintf("gld_imp[%0d]",j),this,j);
        {{ monitor_port_name }} = new("{{ monitor_port_name }}",this);
        foreach({{ golden_port_name }}[j])
            {{ golden_port_name }}[j] = new($psprintf("{{ golden_port_name }}[%0d]",j),this);
    endfunction

    extern function void connect();
    extern function void start_of_simulation();
    extern task reset_phase(uvm_phase phase);
    extern task shutdown_phase(uvm_phase phase);
    extern function void report();
    extern function void pre_abort();

    protected Data_packet fifo_mon[$]; // ????
    protected Data_packet fifo_gld[int][$]; // ????
    protected string report_path; // ????
    protected string csv_path; // CSV????
    protected bit result=1; // ??????

    // ? monitor ??
    extern function void write_monitor(Data_packet data_in);

    // ? golden ??
    extern function void write_golden(Data_packet data_in,int id);

    // ?????????????????
    extern protected function void try_main();

    // ????????????????
    extern protected function void main();

    // ?????????
    extern protected function void segment_data(input Data_packet in,ref Data_packet queue[$]);

    // ?????????
    extern protected function void segment_channel(input Data_packet channel[int][$],output Data_packet data[$][$]);
endclass

function void {{ class_scoreboard }}::connect();
    super.connect();

    {{ monitor_port_name }}.connect(mon_imp);
    foreach({{ golden_port_name }}[j])
        {{ golden_port_name }}[j].connect(gld_imp[j]);
endfunction

function void {{ class_scoreboard }}::start_of_simulation();
    super.start_of_simulation();

    if(uvm_config_db#(string)::get(this,"","report",report_path))
        `uvm_info("",$psprintf("set report path=%s",report_path),UVM_DEBUG)
    if(uvm_config_db#(string)::get(this,"","csv",csv_path))
        `uvm_info("",$psprintf("set csv path=%s",csv_path),UVM_DEBUG)
endfunction

task {{ class_scoreboard }}::reset_phase(uvm_phase phase);
    super.reset_phase(phase);

    fifo_mon.delete;
    fifo_gld.delete;
endtask

task {{ class_scoreboard }}::shutdown_phase(uvm_phase phase);
    super.shutdown_phase(phase);

    main();
endtask

function void {{ class_scoreboard }}::report();
    super.report();

    foreach({{ class_reporter }}::file_reported[filepath]) begin
        if(result)
            `uvm_info("",$psprintf("success : %s",filepath),UVM_LOW)
        else
            `uvm_error("",$psprintf("failed : %s",filepath))
    end
endfunction

function void {{ class_scoreboard }}::pre_abort();
    super.pre_abort();

    report();
endfunction

function void {{ class_scoreboard }}::write_monitor(Data_packet data_in);
    $cast(data_in, data_in.clone());

    `uvm_info("",$psprintf("input monitor:\n%s",data_in.sprint()),UVM_HIGH)

    // ???????
    segment_data(data_in,fifo_mon);

    // ????
    try_main();
endfunction

function void {{ class_scoreboard }}::write_golden(Data_packet data_in,int id);
    $cast(data_in, data_in.clone());

    `uvm_info("",$psprintf("input golden[%0d]:\n%s",id,data_in.sprint()),UVM_HIGH)

    // ???????
    segment_data(data_in,fifo_gld[id]);

    // ????
    try_main();
endfunction

function void {{ class_scoreboard }}::try_main();
    fork begin
        #1;

        if(fifo_mon.size == fifo_gld.sum() with (item.size))
            main();
    end join_none
endfunction

function void {{ class_scoreboard }}::main();
    {{ class_table }} tb;
    {{ class_comparator }}#(NO_DATA) comparator;
    {{ class_formatter }} formatter;
    {{ class_reporter }} reporter;
    string content;
    string title[$];
    string body[$][$];
    bit is_pass;
    bit is_report;
    bit is_csv;

    if(!fifo_mon.size && !(fifo_gld.sum() with (item.size)))
        return;

    `uvm_info("","Enter compare",UVM_LOW)

    is_report = report_path.len > 0;
    is_csv = csv_path.len > 0;

    // ??
    comparator = new;
    tb = comparator.match(fifo_mon,fifo_gld);
    if(tb.is_empty) begin
        `uvm_info("","Exit compare",UVM_LOW)
        return;
    end

    // ??
    foreach(tb.block_list[j]) begin
        {{ class_scoreboard }}_compressor compressor;

        compressor = new(tb.block_list[j]);

        if(tb.block_list[j].pass)
            compressor.compress_together();
        else
            compressor.compress_single();
    end

    // ??
    formatter = new(tb);
    title = formatter.get_title();
    body = formatter.body;
    content = formatter.layout();
    is_pass = formatter.pass;

    // ??
    reporter = new;
    if(is_csv)
        reporter.write_csv(csv_path,title,body);
    if(is_report)
        reporter.write_text(report_path,content);

    begin
        string s;

        s = {"compare ",is_pass ? "pass" : "fail"};
        // ????????????????
        if(!is_report && !is_csv && content.len && !is_pass)
            s = $psprintf("%s :\n%s",s,content);

        if(is_pass)
            `uvm_info("",s,UVM_LOW)
        else
            `uvm_error("",s)
    end

    // ????
    this.result &= is_pass;

    `uvm_info("","Exit compare",UVM_LOW)
endfunction

function void {{ class_scoreboard }}::segment_data(input Data_packet in,ref Data_packet queue[$]);
    $cast(in,in.clone());

    while(in.len > 0) begin
        Data_packet out;

        // cut
        $cast(out,in.clone());
        if(!in.dat_no_cmp) begin
            out.data.delete;
            out.data.push_back(in.data.pop_front());
        end
        else begin
            out.data.delete;
        end

        in.addr += 1;

        out.len = 1;
        in.len -= 1;

        // push
        queue.push_back(out);
    end
endfunction

`endif
