`ifndef {{ class_prefix | upper }}ACCESS_OP_SEQ
`define {{ class_prefix | upper }}ACCESS_OP_SEQ

class {{ class_prefix }}access_operation_seq extends {{ class_prefix }}base_operation_seq#({{ class_prefix }}access_response);
    `uvm_object_utils({{ class_prefix }}access_operation_seq)

    rand {{ class_prefix }}access_request access_request;
    rand {{ class_prefix }}reset_request rst_request;
    rand {{ class_prefix }}check_error_request chk_err_request;

    function new(string name="{{ class_prefix }}access_operation_seq");
        super.new(name);
    endfunction

    {{ class_prefix }}reset_operation_seq reset_seq;

    extern function void pre_randomize();
    extern task body();

    // 传输命令。完成后，再等待 cmd complete, 后备类型为 RESP LEN 48B 时,还需要等待 xfer_complete
    extern task execute_access();

    // 配置测试模式
    extern task config_tune();

    // 清空中断
    extern task clear_interrupt_status();

    extern function {{ class_prefix }}wait_field_operation_seq create_wait_field_seq();
    extern function {{ class_prefix }}wait_interrupt_operation_seq create_wait_intr_seq();
endclass

function void {{ class_prefix }}access_operation_seq::pre_randomize();
    super.pre_randomize();

    if(!access_request)
        `uvm_create(access_request)
    if(!rst_request)
        `uvm_create(rst_request)
    if(!chk_err_request)
        `uvm_create(chk_err_request)

    `uvm_create(reset_seq)
    $cast(reset_seq.rst_request, rst_request);
endfunction

task {{ class_prefix }}access_operation_seq::body();
    // 清空中断
    clear_interrupt_status();

    // 复位
    `uvm_rand_send(reset_seq)

    // 配置测试
    config_tune();

    execute_access();
endtask

task {{ class_prefix }}access_operation_seq::execute_access();
    bit[31:0] rdata;
    {{ class_prefix }}wait_field_operation_seq wait_field_seq;

    // 设置HOST控制1
{%- if is_mobile_storage %}
    rm.CTYPE_R.CARD_WIDTH0.set(access_request.data_width);
    rm.CTYPE_R.write(status, rm.CTYPE_R.get());
    rm.UHS_REG_R.write(status, access_request.uhs_mode_sel);
{%- else %}
    rm.HOST_CTRL1_R.LED_CTRL.set(0);
    rm.HOST_CTRL1_R.DAT_XFER_WIDTH.set(access_request.dat_xfer_width);
    rm.HOST_CTRL1_R.HIGH_SPEED_EN.set(access_request.high_speed_en);
{%- if enable_dma %}
    rm.HOST_CTRL1_R.DMA_SEL.set(access_request.dma_sel);
{%- endif %}
    rm.HOST_CTRL1_R.EXT_DAT_XFER.set(access_request.ext_dat_xfer);
    rm.HOST_CTRL1_R.CARD_DETECT_TEST_LVL.set(0);
    rm.HOST_CTRL1_R.CARD_DETECT_SIG_SEL.set(0);
    rm.HOST_CTRL1_R.write(status, rm.HOST_CTRL1_R.get());

    // 设置HOST控制2
    rm.HOST_CTRL2_R.read(status, rdata);
    rm.HOST_CTRL2_R.UHS_MODE_SEL.set(access_request.uhs_mode_sel);
    rm.HOST_CTRL2_R.write(status, rm.HOST_CTRL2_R.get());
{%- endif %}

    // 等待命令寄存器
    $cast(wait_field_seq, create_wait_field_seq());
    `uvm_rand_send_with(wait_field_seq, {
        wait_field_request.cmd_uninhibit;
        wait_field_request.cmd_uninhibit_dat;
    })

    // [0x00] 设置地址
{%- if is_mobile_storage %}
{%- if enable_dma %}
    if(access_request.dma_enable) begin
        rm.DBADDR_R.write(status, access_request.dma_addr);
        rm.PLDMND_R.write(status, 32'h1);
    end
{%- endif %}
{%- else %}
    rm.SDMASA_R.write(status, access_request.sdmasa);
{%- endif %}

    // [0x04] 设置buffer型号
{%- if is_mobile_storage %}
    rm.BLKSIZ_R.BLOCK_SIZE.set(access_request.xfer_block_size);
    rm.BLKSIZ_R.write(status, rm.BLKSIZ_R.get());
    rm.BYTCNT_R.BYTE_COUNT.set(access_request.xfer_block_size * access_request.sdmasa);
    rm.BYTCNT_R.write(status, rm.BYTCNT_R.get());
{%- else %}
    rm.BLOCKSIZE_R.XFER_BLOCK_SIZE.set(access_request.xfer_block_size); // 1 byte
{%- if enable_dma %}
    rm.BLOCKSIZE_R.SDMA_BUF_BDARY.set(access_request.sdma_buf_bdary); // DMA用
{%- endif %}
    rm.BLOCKSIZE_R.write(status, rm.BLOCKSIZE_R.get());
{%- endif %}

{%- if enable_dma %}
    // DMA
{%- if is_mshc %}
    if(access_request.dma_enable) begin
        rm.ADMA_SA_LOW_R.write(status, access_request.dma_addr);
        // rm.ADMA_SA_HIGH_R.write(status, 0);
    end
{%- endif %}
{%- endif %}

    // [0x0c] 设置数据传输选项
{%- if is_mobile_storage %}
    rm.CMDARG_R.CMD_ARG.set(access_request.argument);
    rm.CMDARG_R.write(status, rm.CMDARG_R.get());

    rm.CMD_R.RESPONSE_EXPECT.set(access_request.resp_type_select != access_request.NO_RESP);
    rm.CMD_R.RESPONSE_LENGTH.set(access_request.resp_type_select == access_request.RESP_LEN_136);
    rm.CMD_R.CHECK_RESPONSE_CRC.set(access_request.cmd_crc_chk_enable);
    rm.CMD_R.DATA_EXPECTED.set(access_request.data_present_sel);
    rm.CMD_R.READ_WRITE.set(access_request.data_xfer_dir);
    rm.CMD_R.SEND_AUTO_STOP.set(access_request.auto_cmd_enable != AUTO_CMD_DISABLED);
    rm.CMD_R.WAIT_PRVDATA_COMPLETE.set(1);
    rm.CMD_R.CMD_INDEX.set(access_request.cmd_index);
    rm.CMD_R.START_CMD.set(1);
    rm.CMD_R.write(status, rm.CMD_R.get());
{%- else %}
{%- if enable_dma %}
    rm.XFER_MODE_R.DMA_ENABLE.set(access_request.dma_enable);
{%- endif %}
    rm.XFER_MODE_R.BLOCK_COUNT_ENABLE.set(1);
    rm.XFER_MODE_R.AUTO_CMD_ENABLE.set(access_request.auto_cmd_enable);
    rm.XFER_MODE_R.DATA_XFER_DIR.set(access_request.data_xfer_dir);
    rm.XFER_MODE_R.MULTI_BLK_SEL.set(access_request.multi_blk_sel);
    rm.XFER_MODE_R.RESP_TYPE.set(access_request.resp_type);
    rm.XFER_MODE_R.RESP_ERR_CHK_ENABLE.set(0);
    rm.XFER_MODE_R.RESP_INT_DISABLE.set(0);
    rm.XFER_MODE_R.write(status, rm.XFER_MODE_R.get());

    // [0x08] 设置参数
    rm.ARGUMENT_R.write(status, access_request.argument);

    // [0x0e] 设置命令
    rm.CMD_R.RESP_TYPE_SELECT.set(access_request.resp_type_select);
    rm.CMD_R.SUB_CMD_FLAG.set(0);
    rm.CMD_R.CMD_CRC_CHK_ENABLE.set(access_request.cmd_crc_chk_enable);
    rm.CMD_R.CMD_IDX_CHK_ENABLE.set(access_request.cmd_idx_chk_enable);
    rm.CMD_R.DATA_PRESENT_SEL.set(access_request.data_present_sel);
    rm.CMD_R.CMD_TYPE.set(0);
    rm.CMD_R.CMD_INDEX.set(access_request.cmd_index);
    rm.CMD_R.write(status, rm.CMD_R.get());
{%- endif %}
endtask

task {{ class_prefix }}access_operation_seq::config_tune();
    bit[31:0] rdata;

    if(!access_request.tune_en)
        return;

{%- if is_mobile_storage %}
    `uvm_fatal("", "mobile_storage tune is not implemented without a product-specific tuning register map")
{%- else %}
    // close sample clock
    rm.CLK_CTRL_R.read(status,rdata);
    rm.CLK_CTRL_R.SD_CLK_EN.set(0);
    rm.CLK_CTRL_R.write(status,rm.CLK_CTRL_R.get());

    // configure tuning control
    rm_vd1.AT_CTRL_R.read(status,rdata);
    rm_vd1.AT_CTRL_R.SW_TUNE_EN.set(1);
    rm_vd1.AT_CTRL_R.write(status,rm_vd1.AT_CTRL_R.get());

    rm_vd1.AT_STAT_R.read(status,rdata);
    rm_vd1.AT_STAT_R.CENTER_PH_CODE.set(access_request.center_ph_code);
    rm_vd1.AT_STAT_R.write(status,rm_vd1.AT_STAT_R.get());

    // open sample clock
    rm.CLK_CTRL_R.read(status,rdata);
    rm.CLK_CTRL_R.SD_CLK_EN.set(1);
    rm.CLK_CTRL_R.write(status,rm.CLK_CTRL_R.get());
{%- endif %}
endtask

task {{ class_prefix }}access_operation_seq::clear_interrupt_status();
{%- if is_mobile_storage %}
    rm.RINTSTS_R.write(status,'hffff_ffff);
{%- else %}
    rm.NORMAL_INT_STAT_R.write(status,'hffff_ffff);
{%- endif %}
endtask

function {{ class_prefix }}wait_field_operation_seq {{ class_prefix }}access_operation_seq::create_wait_field_seq();
    {{ class_prefix }}wait_field_operation_seq wait_field_seq;

    `uvm_create(wait_field_seq)
    $cast(wait_field_seq.chk_err_request,chk_err_request);

    return wait_field_seq;
endfunction

function {{ class_prefix }}wait_interrupt_operation_seq {{ class_prefix }}access_operation_seq::create_wait_intr_seq();
    {{ class_prefix }}wait_interrupt_operation_seq wait_intr_seq;

    `uvm_create(wait_intr_seq)
    $cast(wait_intr_seq.chk_err_request,chk_err_request);

    return wait_intr_seq;
endfunction

`endif
