`ifndef {{ class_interface | upper }}
`define {{ class_interface | upper }}

interface {{ class_interface }}(
    input wire clk,
    input wire intr,
    inout wire[31:0] data
);

bit[31:0] out_en;
bit[31:0] out;

genvar i;
generate
    for(i = 0; i < $bits(data); i++) begin
        assign data[i] = out_en[i] ? out[i] : 1'bz;
    end
endgenerate

// 设置输出
function automatic void set(bit[31:0] value,bit[31:0] enable=0);
    out = value;
    out_en = enable;
endfunction

endinterface

`endif
