`ifndef {{ (class_prefix ~ "rw_test_req") | upper }}
`define {{ (class_prefix ~ "rw_test_req") | upper }}

class {{ class_prefix }}rw_test_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}rw_test_req)
        `uvm_field_int(address, UVM_ALL_ON | UVM_HEX)
        `uvm_field_queue_int(write_data, UVM_ALL_ON | UVM_HEX)
        `uvm_field_object(configuration, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit [31:0] address;
    rand bit [7:0] write_data[$];
    rand {{ class_prefix }}transfer_configuration configuration;

    function new(string name="{{ class_prefix }}rw_test_req");
        super.new(name);
        configuration = {{ class_prefix }}host_configuration::type_id::create("configuration");
    endfunction

    constraint cst {
        soft address == '0;
        soft write_data.size() == {{ default_rw_data_bytes }};
    }
endclass

`endif
