`ifndef {{ class_base_seq | upper }}
`define {{ class_base_seq | upper }}

class {{ class_base_seq }} extends uvm_sequence;
    `uvm_object_utils({{ class_base_seq }})
    `uvm_declare_p_sequencer({{ class_sequencer }})

    {{ class_configuration }} cfg;

    function new(string name = "{{ class_base_seq }}");
        super.new(name);
    endfunction

    extern function void pre_randomize();
endclass

function void {{ class_base_seq }}::pre_randomize();
    super.pre_randomize();

    $cast(cfg,p_sequencer.cfg);
endfunction

`endif
