`ifndef {{ class_base_seq | upper }}
`define {{ class_base_seq | upper }}

class {{ class_base_seq }} extends uvm_sequence;
    `uvm_object_utils({{ class_base_seq }})
    `uvm_declare_p_sequencer({{ class_sequencer }})

    {{ class_settings }} settings;

    function new(string name = "{{ class_base_seq }}");
        super.new(name);
    endfunction

    extern task pre_start();
endclass

task {{ class_base_seq }}::pre_start();
    super.pre_start();

    settings = p_sequencer.settings;
    if (settings == null)
        `uvm_fatal("PAD", "require settings")
endtask

`endif
