`ifndef {{ class_main_phase_seq | upper }}
`define {{ class_main_phase_seq | upper }}

class {{ class_main_phase_seq }} extends {{ class_base_seq }};
    `uvm_object_utils({{ class_main_phase_seq }})

    function new(string name = "{{ class_main_phase_seq }}");
        super.new(name);
    endfunction

    extern task pre_start();
    extern task body();
    extern task post_start();
endclass

task {{ class_main_phase_seq }}::pre_start();
    super.pre_start();

    if (starting_phase)
        starting_phase.raise_objection(this);
    `uvm_info("PAD", "Enter", UVM_LOW)
endtask

task {{ class_main_phase_seq }}::body();
    `uvm_info("PAD", "override or call p_sequencer.connection_test()/pull_test()", UVM_LOW)
endtask

task {{ class_main_phase_seq }}::post_start();
    super.post_start();

    `uvm_info("PAD", "Exit", UVM_LOW)
    if (starting_phase)
        starting_phase.drop_objection(this);
endtask

`endif
