`ifndef {{ (class_prefix ~ "dual_page_program_flash_command") | upper }}
`define {{ (class_prefix ~ "dual_page_program_flash_command") | upper }}

class {{ class_prefix }}dual_page_program_flash_command extends {{ class_prefix }}flash_command;
    `uvm_object_utils({{ class_prefix }}dual_page_program_flash_command)

    function new(string name="{{ class_prefix }}dual_page_program_flash_command");
        super.new(name);
    endfunction

    constraint cst_dual_page_program {
        opcode == 8'hA2;
        frame_mode == ENHANCED;
        transfer_mode == TX_ONLY;
        io_lanes == 2;
        address_lanes == 1;
        speed_multiplier == 2;
        inst_bytes == 1;
        addr_bytes inside {3, 4};
        payload_is_read == 1'b0;
        payload_is_write == 1'b1;
        records_memory_write == 1'b1;
    }
endclass

`endif
