`ifndef {{ (class_prefix ~ "write_status_qe_flash_command") | upper }}
`define {{ (class_prefix ~ "write_status_qe_flash_command") | upper }}

class {{ class_prefix }}write_status_qe_flash_command extends {{ class_prefix }}flash_command;
    `uvm_object_utils({{ class_prefix }}write_status_qe_flash_command)

    function new(string name="{{ class_prefix }}write_status_qe_flash_command");
        super.new(name);
    endfunction

    constraint cst_write_status_qe {
        opcode == 8'h01;
        frame_mode == STANDARD;
        transfer_mode == TX_ONLY;
        io_lanes == 1;
        address_lanes == 1;
        speed_multiplier == 1;
        data_frame_bits == 8;
        inst_bytes == 1;
        addr_bytes == 0;
        dummy_cycles == 0;
        payload_is_read == 1'b0;
        payload_is_write == 1'b1;
        records_memory_write == 1'b0;
    }
endclass

`endif
