`ifndef {{ (class_prefix ~ "build") | upper }}
`define {{ (class_prefix ~ "build") | upper }}

function automatic void {{ class_prefix }}build(
        virtual {{ class_interface }} vif,
        {{ class_regmodel }} regmodel,
        ref {{ class_pad_data }} pads[$]);
    {{ class_pad_data }} data;
    {{ class_signal_data }} sig;

    if (vif == null)
        `uvm_fatal("PAD", "build: vif is null")
    if (regmodel == null)
        `uvm_fatal("PAD", "build: regmodel is null")

    pads.delete();
{% for pad in pad_items %}
    data = new("{{ pad.name }}");
    data.vif = vif.{{ pad.name }};
{% for signal_name, signal in pad.signals.items() %}
    sig = new("{{ signal_name }}", {{ signal.width }});
    sig.has_fix = {{ "1'b1" if signal.has_fix else "1'b0" }};
    sig.fix_value = 32'h{{ "%08x" % signal.fix_value }};
{% if signal.has_reg %}
    sig.has_reg = 1'b1;
    sig.reg_bind = new(regmodel.{{ signal.reg_path }}, {{ signal.reg_lsb }}, {{ signal.reg_width }});
{% endif %}
    data.signals.push_back(sig);
{% endfor %}
    pads.push_back(data);
{% endfor %}
endfunction

`endif
