`ifndef {{ (class_prefix ~ "build") | upper }}
`define {{ (class_prefix ~ "build") | upper }}

function automatic void {{ class_prefix }}build(
        virtual {{ class_interface }} vif,
        {{ class_regmodel }} regmodel,
        ref {{ class_pad_data }} pads[$]);
    {{ class_pad_data }} data;

    if (vif == null)
        `uvm_fatal("PAD", "build: vif is null")
    if (regmodel == null)
        `uvm_fatal("PAD", "build: regmodel is null")

    pads.delete();
{% for pad in pads %}
    data = new("{{ pad.name }}");
    data.vif = vif.{{ pad.name }};
    data.output_reg = new(regmodel.{{ pad.signals.output.reg_path }}, {{ pad.signals.output.reg_lsb if pad.signals.output.reg_lsb is not none else 0 }}, {{ pad.signals.output.reg_width if pad.signals.output.reg_width is not none else pad.signals.output.width }});
    data.pull_up_reg = new(regmodel.{{ pad.signals.pull_up.reg_path }}, {{ pad.signals.pull_up.reg_lsb if pad.signals.pull_up.reg_lsb is not none else 0 }}, {{ pad.signals.pull_up.reg_width if pad.signals.pull_up.reg_width is not none else pad.signals.pull_up.width }});
    data.pull_down_reg = new(regmodel.{{ pad.signals.pull_down.reg_path }}, {{ pad.signals.pull_down.reg_lsb if pad.signals.pull_down.reg_lsb is not none else 0 }}, {{ pad.signals.pull_down.reg_width if pad.signals.pull_down.reg_width is not none else pad.signals.pull_down.width }});
    data.drive_strength_reg = new(regmodel.{{ pad.signals.drive_strength.reg_path }}, {{ pad.signals.drive_strength.reg_lsb if pad.signals.drive_strength.reg_lsb is not none else 0 }}, {{ pad.signals.drive_strength.reg_width if pad.signals.drive_strength.reg_width is not none else pad.signals.drive_strength.width }});
    data.output_width = {{ pad.signals.output.width }};
    data.pull_up_width = {{ pad.signals.pull_up.width }};
    data.pull_down_width = {{ pad.signals.pull_down.width }};
    data.drive_strength_width = {{ pad.signals.drive_strength.width }};
    data.pad_value_width = {{ pad.signals.pad_value.width }};
    data.fixed_pull_up = {{ "1'b1" if pad.fixed_pull_up else "1'b0" }};
    data.fixed_pull_down = {{ "1'b1" if pad.fixed_pull_down else "1'b0" }};
    pads.push_back(data);
{% endfor %}
endfunction

`endif
