`ifndef {{ class_interface | upper }}
`define {{ class_interface | upper }}

interface {{ class_interface }};
{%- for pad in pad_items %}
    {{ class_sub_interface }} {{ pad.name }}();
{%- endfor %}

{%- for pad in pad_items %}
{%- for signal in signal_keys %}
{%- if pad.signals[signal.name].present %}
    assign {{ pad.name }}.{{ signal.sv_name }} = {{ pad.signals[signal.name].path }};
{%- endif %}
{%- endfor %}
{%- endfor %}
endinterface

`endif
