`ifndef {{ class_sub_interface | upper }}
`define {{ class_sub_interface | upper }}

interface {{ class_sub_interface }};
{% for signal in signal_keys %}
    logic[31:0] {{ signal.sv_name }};
{% endfor %}
endinterface

`endif
