`ifndef {{ class_prefix | upper }}FREQUENCE_SET_REQ
`define {{ class_prefix | upper }}FREQUENCE_SET_REQ

class {{ class_prefix }}frequence_set_request extends {{ class_prefix }}base_request;
    `uvm_object_utils_begin({{ class_prefix }}frequence_set_request)
        `uvm_field_int(frequence, UVM_ALL_ON)
    `uvm_object_utils_end

    rand int frequence;

    function new(string name = "{{ class_prefix }}frequence_set_request");
        super.new(name);
    endfunction

    constraint cst_frequence_set_request {
                                                                                            {%- if is_emmc %}

        (ctx.bus_speed_mode_cur == LEGACY)         -> soft frequence == settings.boot_cfg.frequence_legacy;
        (ctx.bus_speed_mode_cur == HIGH_SPEED_SDR) -> soft frequence == settings.boot_cfg.frequence_high_speed_sdr;
        (ctx.bus_speed_mode_cur == HIGH_SPEED_DDR) -> soft frequence == settings.boot_cfg.frequence_high_speed_ddr;
        (ctx.bus_speed_mode_cur == HS200)          -> soft frequence == settings.boot_cfg.frequence_hs200;
        (ctx.bus_speed_mode_cur == HS400)          -> soft frequence == settings.boot_cfg.frequence_hs400;
                                                                                            {%- elif is_sd %}

        (ctx.bus_speed_mode_cur == DS)    -> soft frequence == settings.boot_cfg.frequence_ds;
        (ctx.bus_speed_mode_cur == SDR12) -> soft frequence == settings.boot_cfg.frequence_sdr12;
        (ctx.bus_speed_mode_cur == HS)    -> soft frequence == settings.boot_cfg.frequence_hs;
        (ctx.bus_speed_mode_cur == SDR25) -> soft frequence == settings.boot_cfg.frequence_sdr25;
        (ctx.bus_speed_mode_cur == DDR50) -> soft frequence == settings.boot_cfg.frequence_ddr50;
        (ctx.bus_speed_mode_cur == SDR50) -> soft frequence == settings.boot_cfg.frequence_sdr50;
        (ctx.bus_speed_mode_cur == SDR104)-> soft frequence == settings.boot_cfg.frequence_sdr104;
                                                                                            {%- endif %}
    }
endclass

`endif
