#ifndef {{ class_prefix | upper }}APP_CMD_COMMAND_REQUEST
#define {{ class_prefix | upper }}APP_CMD_COMMAND_REQUEST

// 发送CMD55，作为ACMD的第一个命令
class {{ class_prefix }}app_cmd_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}app_cmd_command_request)
        `uvm_field_int(rca,UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit[15:0] rca; // 相对地址

    function new(string name="{{ class_prefix }}app_cmd_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 55;
        argument[31:16] == rca;
        resp == R1;
        soft rca == sys_cfg.boot_cfg.relative_addr;
    }
endclass

`endif
