#ifndef {{ class_prefix | upper }}GO_PRE_IDLE_STATE_COMMAND_REQUEST
#define {{ class_prefix | upper }}GO_PRE_IDLE_STATE_COMMAND_REQUEST

// 发送CMD0，到 pre-idle 状态
class {{ class_prefix }}go_pre_idle_state_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils({{ class_prefix }}go_pre_idle_state_command_request)

    function new(string name="{{ class_prefix }}go_pre_idle_state_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 0;
        argument == 'hf0f0_f0f0;
        resp == NR;
    }
endclass

`endif
