`ifndef {{ class_prefix | upper }}READ_MULTIPLE_BLOCK_COMMAND_REQUEST
`define {{ class_prefix | upper }}READ_MULTIPLE_BLOCK_COMMAND_REQUEST

// 发送CMD18，读多块
class {{ class_prefix }}read_multiple_block_command_request extends {{ class_prefix }}command_request;
  `uvm_object_utils_begin({{ class_prefix }}read_multiple_block_command_request)
    `uvm_field_int(data_address, UVM_ALL_ON)
  `uvm_object_utils_end

  rand bit[31:0] data_address; // 地址，<=2GB，表示字节地址；> 2GB，表示块（512B）地址

  function new(string name="{{ class_prefix }}read_multiple_block_command_request");
    super.new(name);
  endfunction

  constraint cst_prefab {
    cmd_index == 18;
    resp == R1;
    data_xfer_dir == XFER_READ;
    data_present_sel == 1;
    multi_blk_sel == MULTI;
    data_address == addr[31:0];
    data_address == argument;
  }
endclass

`endif
