#ifndef {{ class_prefix | upper }}SEND_TUNING_BLOCK_COMMAND_REQUEST
#define {{ class_prefix | upper }}SEND_TUNING_BLOCK_COMMAND_REQUEST

// 接收调试块
class {{ class_prefix }}send_tuning_block_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils({{ class_prefix }}send_tuning_block_command_request)

    function new(string name="{{ class_prefix }}send_tuning_block_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 21;
        argument == 0;
        accept_req_retune_cmd == phreq;

        {% if is_emmc %}
        cmd_index == 21;
        {% elif is_sd %}
        cmd_index == 19;
        {% endif %}

        resp == R1;
        data_xfer_dir == XFER_READ;
        data_present_sel == 1;
        multi_blk_sel == SINGLE;
        block_count == 1;
        ctx_data_width_cur inside {4,8};
        (ctx_data_width_cur == 4) -> (block_size == 64);
        (ctx_data_width_cur == 8) -> (block_size == 128);
        access_reg_tune_en == 1;

        // error
        chk_err_req_cmd_tout_err_en == 0;
        chk_err_req_cmd_crc_err_en == 0;
        chk_err_req_cmd_end_bit_err_en == 0;
        chk_err_req_cmd_idx_err_en == 0;
        chk_err_req_data_tout_err_en == 0;
        chk_err_req_data_crc_err_en == 0;
        chk_err_req_data_end_bit_err_en == 0;

        // reset
        rst_req_sw_rst_dat == 1;

        {% if is_sd %}
        ctx_bus_speed_mode_cur inside {SDR12,SDR25,SDR50,SDR104,DDR50};
        {% endif %}
    }
endclass

`endif
