`ifndef {{ class_prefix | upper }}SEND_OP_COND_COMMAND_REQUEST
`define {{ class_prefix | upper }}SEND_OP_COND_COMMAND_REQUEST

// 发送CMD1, 要求 idle状态中的设备发送它的 OCR
class {{ class_prefix }}send_op_cond_command_request extends {{ class_prefix }}command_request;
  `uvm_object_utils_begin({{ class_prefix }}send_op_cond_command_request)
    `uvm_field_int(ocr,UVM_ALL_ON)
  `uvm_object_utils_end

  rand bit[31:0] ocr;

  function new(string name="{{ class_prefix }}send_op_cond_command_request");
    super.new(name);
  endfunction

  constraint cst_prefab {
    cmd_index == 1;
    argument == ocr;
    resp == R3;
  }
endclass

`endif
