#ifndef {{ class_prefix | upper }}SEND_IF_COND_COMMAND_REQUEST
#define {{ class_prefix | upper }}SEND_IF_COND_COMMAND_REQUEST

// 发送CMD8，查询电压是否支持
class {{ class_prefix }}send_if_cond_command_request extends {{ class_prefix }}command_request;
    `uvm_object_utils_begin({{ class_prefix }}send_if_cond_command_request)
        `uvm_field_int(vhs,UVM_ALL_ON)
        `uvm_field_int(check_pattern,UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit[3:0] vhs; // 支持的电压
    rand bit[7:0] check_pattern; // 用于检查Card能否在指定的电压下返回给host，什么值都可以

    function new(string name="{{ class_prefix }}send_if_cond_command_request");
        super.new(name);
    endfunction

    constraint cst_prefab {
        cmd_index == 8;
        resp == R7;
        argument[11:8] == vhs;
        argument[7:0] == check_pattern;
        vhs inside {'b0001};

        // 没有指定模式版本低于2.00
        chk_err_req_cmd_tout_err_en == 0;
        soft check_pattern == 'b10101010;
    }
endclass

`endif
