`ifndef {{ (class_prefix ~ "flash_read_req") | upper }}
`define {{ (class_prefix ~ "flash_read_req") | upper }}

class {{ class_prefix }}flash_read_req extends {{ class_prefix }}spec#(uvm_sequence_item);
    `uvm_object_utils_begin({{ class_prefix }}flash_read_req)
        `uvm_field_int(address, UVM_ALL_ON | UVM_HEX)
        `uvm_field_int(length, UVM_ALL_ON | UVM_DEC)
        `uvm_field_object(configuration, UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit [31:0] address;
    rand int unsigned length;
    rand {{ class_prefix }}transfer_configuration configuration;

    function new(string name="{{ class_prefix }}flash_read_req");
        super.new(name);
        configuration = {{ class_prefix }}host_configuration::type_id::create("configuration");
    endfunction
endclass

`endif
