`ifndef {{ (class_prefix | upper) }}CONNECTION_INTERFACE
`define {{ (class_prefix | upper) }}CONNECTION_INTERFACE

interface {{ class_prefix }}connection_interface#(
    parameter int DW=1,
    parameter int LATENCY=4e6 // 允许传播延迟
)(
    input wire[DW-1:0] lhs,
    input wire[DW-1:0] rhs
);

timeunit 1fs;
timeprecision 1fs;

bit req; // 请求，检测到开始检查，检查完毕后置低

{{ class_prefix }}sample_interface#(.DW(DW)) sample_lhs_if(lhs);
{{ class_prefix }}sample_interface#(.DW(DW)) sample_rhs_if(rhs);

initial begin
    req <= 0;
end

// 请求检查
function automatic void request();
    req <= 1;
endfunction

// 请求后发起检查
initial forever begin
    wait(req);
    check();
    req = 0;
end

// 进行检查
task automatic check();
    bit failed;

    sample_lhs_if.enable(1);
    sample_rhs_if.enable(1);

    // 立即检查
    if(!failed) begin
        fork
            check_connection(sample_lhs_if.r,sample_rhs_if.r,failed);
            check_connection(sample_rhs_if.r,sample_lhs_if.r,failed);
        join
    end

    // 下次变化后检查
    if(!failed) begin
        fork
            check_changed_connection(sample_lhs_if.r,sample_rhs_if.r,failed);
            check_changed_connection(sample_rhs_if.r,sample_lhs_if.r,failed);
        join
    end

    // 报错
    if(failed)
        `uvm_error("",$psprintf("%m: connect failed"))

    sample_lhs_if.enable(0);
    sample_rhs_if.enable(0);
endtask

// 检查连接情况
task automatic check_connection(ref reg[DW-1:0] i,ref reg[DW-1:0] o,ref bit failed);
    bit[DW-1:0] value;

    value = i;
    #(LATENCY);
    if(o != value)
        failed = 1;
endtask

// 在变化后检查连接情况
task automatic check_changed_connection(ref reg[DW-1:0] i,ref reg[DW-1:0] o,ref bit failed);
    @(i);
    check_connection(i,o,failed);
endtask

endinterface

`endif
