`ifndef {{ class_prefix | upper }}MONITOR_INTERFACE
`define {{ class_prefix | upper }}MONITOR_INTERFACE

interface {{ class_prefix }}monitor_interface(
{% for clk in monitored_clocks %}
    input wire {{ clk.name }}{{ "," if not loop.last }}
{% endfor %}
);

timeunit 1fs;
timeprecision 1fs;

{% for clk in monitored_clocks %}
{{ class_prefix }}sample_interface sample_{{ clk.name }}_if({{ clk.name }});

// 检查 {{ clk.name }} 时钟频率
task automatic check_clock_{{ clk.name }}_frequence(input longint freq,output bit is_pass,output bit is_timeout,output int measure_result,input real tol=0);
    if($isunknown({{ clk.name }})) begin
        `uvm_fatal("", "require connect {{ clk.name }} clock signal to monitor_if")
    end
    sample_{{ clk.name }}_if.enable(1);
    check_clock_frequence(sample_{{ clk.name }}_if.r,freq,is_pass,is_timeout,measure_result,tol);
    sample_{{ clk.name }}_if.enable(0);
endtask

{% endfor %}

// 检查时钟频率（非变频点采样稳定）
//
// clk : reg类型时钟信号
// freq : 要求的时钟频率
// is_pass : 检查结果是否通过
// is_timeout : 检查是否超时
// measure_result : 当前时间窗口测量结果
// tol : 允许误差(0~100)
task automatic check_clock_frequence(ref reg clk,input longint freq,output bit is_pass,output bit is_timeout,output int measure_result,input real tol=0);
    longint freq_min;
    longint freq_max;
    longint freq_tol;
    longint timeout;

    if(tol < 0 || tol > 1)
        `uvm_fatal("",$spsrintf("invalid tol=%0f",tol))
    if(freq <= 0)
        `uvm_fatal("",$spsrintf("invalid freq=%0d",freq))

    freq_tol = tol * freq;
    freq_min = freq - freq_tol;
    freq_max = freq + freq_tol;
    timeout = 1e15 / freq_min + 1 * 100;

    fork begin
        fork
            begin
                #(timeout);
                is_timeout = 1;
            end
            begin
                longint start_time;
                longint end_time;
                longint period;

                @(clk);
                start_time = $realtime;
                @(clk);
                end_time = $realtime;
                period = end_time - start_time * 2;
                measure_result = 1e15 / period;
            end
        join any
        disable fork;
    end join

    if(is_timeout)
        return;

    is_pass = measure_result >= freq_min && measure_result <= freq_max;
endtask
endinterface

`endif
