`ifndef {{ class_prefix | upper }}SAMPLE_INTERFACE
`define {{ class_prefix | upper }}SAMPLE_INTERFACE

interface {{ class_prefix }}sample_interface#(
    parameter int DW=1
)(
    input wire[DW-1:0] w
);

timeunit 1fs;
timeprecision 1fs;

bit is_enabled;
reg[DW-1:0] r;

initial begin
    {{ " r <= {DW{1'bz}};" }}
    is_enabled = 0;
end

// 采样
initial forever begin @(w); r <= w; wait(is_enabled); end

// 设置使能
function automatic void enable(bit en);
    is_enabled = en;
    if(en) begin
        r = w;
    end
endfunction

endinterface
`endif
