{% if settings.direct_config %}
`ifndef {{ (settings.class_prefix ~ "config_reg_entry") | upper }}
`define {{ (settings.class_prefix ~ "config_reg_entry") | upper }}

task automatic {{ settings.class_prefix }}config_reg(
        {{ settings.class_prefix }}tree_base tree,
        bit quiet = 1'b0);
    {{ settings.class_prefix }}core_tools tools;
    {{ settings.class_prefix }}config_reg_core cfg;

    if (tree == null)
        `uvm_fatal("CLK_TREE", "config_reg: tree is null")
    tools = new;
    cfg = new(tools);
    cfg.configure(tree, quiet);
endtask

`endif
{% endif %}
