`ifndef {{ (settings.class_prefix ~ "core_tools") | upper }}
`define {{ (settings.class_prefix ~ "core_tools") | upper }}

class {{ settings.class_prefix }}core_tools;
    {{ settings.class_prefix }}reg_rw rw;
    {{ settings.class_prefix }}node_cfg node;
    {{ settings.class_prefix }}pll_cfg pll;

    // 构造 reg_rw、node_cfg、pll_cfg
    function new();
        rw = new;
        node = new(rw);
        pll = new(rw);
    endfunction
endclass

`endif
