{% if route_test_enabled %}
`ifndef {{ (settings.class_prefix ~ "route_ctrl_snap") | upper }}
`define {{ (settings.class_prefix ~ "route_ctrl_snap") | upper }}

class {{ settings.class_prefix }}route_ctrl_snap;
    bit     gate_open;
    int     mux_sel;
    int     ratio;
{%- if enable_node_fix %}
    bit     unfix_open;
    bit     fix_open;
    bit     fix_close;
    bit     unfix_sel;
    bit     unfix_ratio;
{%- endif %}

    // 清零为可恢复的默认控制状态
    function new();
        gate_open = 1'b0;
        mux_sel = 0;
        ratio = 1;
{%- if enable_node_fix %}
        unfix_open = 1'b1;
        fix_open = 1'b0;
        fix_close = 1'b0;
        unfix_sel = 1'b1;
        unfix_ratio = 1'b1;
{%- endif %}
    endfunction
endclass

`endif
{% endif %}
