#ifndef {{ class_prefix | upper }}IO_RW_DIRECT_FN0_BLOCK_SIZE_COMMAND_REQUEST
#define {{ class_prefix | upper }}IO_RW_DIRECT_FN0_BLOCK_SIZE_COMMAND_REQUEST

// CCCR, I/O FN0 Block Size command request
class {{ class_prefix }}io_rw_direct_fn0_block_size_command_request extends {{ class_prefix }}io_rw_direct_command_request;
    `uvm_object_utils_begin({{ class_prefix }}io_rw_direct_fn0_block_size_command_request)
        `uvm_field_int(io_hi,UVM_ALL_ON)
        `uvm_field_int(local_function_number,UVM_ALL_ON)
        `uvm_field_int(block_length,UVM_ALL_ON)
    `uvm_object_utils_end

    rand bit io_hi;
    rand int local_function_number;
    rand bit[11:0] block_length;

    function new(string name="{{ class_prefix }}io_rw_direct_fn0_block_size_command_request");
        super.new(name);
    endfunction

    constraint cst_io_rw_direct_prefab {
        function_number == 0;
        register_address[16:8] == local_function_number;
        if(io_hi == 0) {
            register_address[7:0] == 8'h10;
            write_data == block_length[7:0];
        }
        else if(io_hi == 1) {
            register_address[7:0] == 8'h11;
            write_data == block_length[15:8];
        }
        local_function_number inside {[1:7]};
        block_length > 0;
        soft rw_flag == 1;
        soft block_length inside {[1:2048]};
    }
endclass

`endif
