`ifndef {{ class_prefix | upper }}COMMAND_REQUEST
`define {{ class_prefix | upper }}COMMAND_REQUEST

class {{ class_prefix }}command_request extends {{ class_prefix }}base_request;
    typedef enum {
        NR, // 不应答
        R1,
        R1b, // 应答后包含忙碌
        R2,
        R3,
        R4,
        R5,
        R6,
        R7
    } resp_e;

    `uvm_object_utils_begin({{ class_prefix }}command_request)
        `uvm_field_int(cmd_index, UVM_ALL_ON)
        `uvm_field_int(argument, UVM_ALL_ON)
        `uvm_field_enum(resp_e, resp, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(cmd_crc_chk_enable, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(cmd_idx_chk_enable, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(data_present_sel, UVM_ALL_ON)
        if(data_present_sel) begin
            `uvm_field_int(addr, UVM_ALL_ON)
            `uvm_field_enum(auto_cmd_enable_e, auto_cmd_enable, UVM_ALL_ON)
            `uvm_field_enum(data_xfer_dir_e, data_xfer_dir, UVM_ALL_ON)
            `uvm_field_enum(multi_blk_sel_e, multi_blk_sel, UVM_ALL_ON)
            `uvm_field_int(block_count, UVM_ALL_ON)
            `uvm_field_int(block_size, UVM_ALL_ON)
            `uvm_field_int(len, UVM_ALL_ON)
            `uvm_field_int(dma_enable, UVM_ALL_ON)
            if(dma_enable) begin
                `uvm_field_enum(dma_sel_e, dma_sel, UVM_ALL_ON)
            end
            else begin
                `uvm_field_queue_int(wdata, UVM_ALL_ON)
                `uvm_field_int(rd_blocking, UVM_ALL_ON)
            end
        end
        `uvm_field_object(access_req, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_object(chk_err_req, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_object(rst_req, UVM_ALL_ON | UVM_NOPRINT)
    `uvm_object_utils_end

    rand bit[5:0] cmd_index; // 传输命令索引
    rand int argument; // 传输参数
    rand resp_e resp; // 应答
    rand auto_cmd_enable_e auto_cmd_enable; // 自动命令
    rand data_xfer_dir_e data_xfer_dir; // 传输方向
    rand bit data_present_sel; // 是否发送数据
    rand multi_blk_sel_e multi_blk_sel; // 是否传输多块
    rand int block_size; // 传输数据块大小
    rand int block_count; // 传输数据块数
    rand int len; // 数据长度（字节）
    rand bit cmd_crc_chk_enable; // 是否检查命令CRC
    rand bit cmd_idx_chk_enable; // 是否检查命令索引
    rand bit dma_enable; // DMA使能
    rand dma_sel_e dma_sel; // DMA传输模式
    rand bit rd_blocking; // 是否读取阻塞（若不读，最后一个请求返回）
    rand bit[63:0] addr; // 传输数据地址
    rand bit[7:0] wdata[$]; // 写数据
    rand {{ class_prefix }}access_request access_req;
    rand {{ class_prefix }}check_error_request chk_err_req;
    rand {{ class_prefix }}reset_request rst_req;

    constraint cst_command_request {
        // default
        soft rd_blocking == 0;
        soft wdata.size == 0;
        soft addr == 0;

        len == block_size * block_count;

        // rw
        if(data_xfer_dir == XFER_WRITE) {
            rd_blocking == 0;
            wdata.size == block_size * block_count;
        }

        (dma_enable) -> data_present_sel == 1;

        // crc chk
        (resp == R3) -> cmd_crc_chk_enable == 0;
        (resp inside {NR, R1, R1b, R2, R4, R5}) -> cmd_crc_chk_enable == 1;

        // idx chk
        (resp == R2) -> cmd_idx_chk_enable == 0;
        (resp == R3) -> cmd_idx_chk_enable == 0;
        (resp inside {NR,R1,R1b,R4,R5}) -> cmd_idx_chk_enable == 1;

        if(data_present_sel) {
            block_size > 0;
            block_count > 0;
        }

        access_req.cmd_index == cmd_index;
        access_req.argument == argument;
        access_req.auto_cmd_enable == auto_cmd_enable;
        access_req.data_xfer_dir == data_xfer_dir;
        access_req.data_present_sel == data_present_sel;
        access_req.multi_blk_sel == multi_blk_sel;
        access_req.xfer_block_size == block_size;
        access_req.sdmasa == block_count;
        access_req.cmd_crc_chk_enable == cmd_crc_chk_enable;
        access_req.cmd_idx_chk_enable == cmd_idx_chk_enable;
        access_req.dma_enable == dma_enable;
        access_req.dma_sel == dma_sel;

        (dma_enable) -> access_req.dma_addr == addr[31:0];

        // resp type select
        (resp == NR)  -> access_req.resp_type_select == access_req.NO_RESP;
        (resp == R1b) -> access_req.resp_type_select == access_req.RESP_LEN_48B;
        (resp == R2)  -> access_req.resp_type_select == access_req.RESP_LEN_136;
        (resp == R3)  -> access_req.resp_type_select == access_req.RESP_LEN_48;
        (resp inside {
            R1,
            R4,
            R5,
            R6,
            R7
        }) -> access_req.resp_type_select == access_req.RESP_LEN_48;

        // resp写在具体命令中, 这里是未实现的命令
        // (cmd_index == 14) -> resp == R1;
        // (cmd_index == 19) -> resp == R1;
        // (cmd_index == 26) -> resp == R1;
        // (cmd_index == 27) -> resp == R1;
        // (cmd_index == 28) -> resp == R1b;
        // (cmd_index == 29) -> resp == R1b;
        // (cmd_index == 30) -> resp == R1;
        // (cmd_index == 31) -> resp == R1;
        // (cmd_index == 35) -> resp == R1;
        // (cmd_index == 36) -> resp == R1;
        // (cmd_index == 38) -> resp == R1b;
        // (cmd_index == 39) -> resp == R4;
        // (cmd_index == 42) -> resp == R1;
        // (cmd_index == 44) -> resp == R1;
        // (cmd_index == 45) -> resp == R1;
        // (cmd_index == 46) -> resp == R1;
        // (cmd_index == 47) -> resp == R1;
        // (cmd_index == 48) -> resp == R1b;
        // (cmd_index == 49) -> resp == R1;
        // (cmd_index == 53) -> resp == R1;
        // (cmd_index == 54) -> resp == R1;
        // (cmd_index == 55) -> resp == R1;
        // (cmd_index == 56) -> resp == R1;
    }

    function new(string name="{{ class_prefix }}command_request");
        super.new(name);

        access_req = {{ class_prefix }}access_request::type_id::create("access_req");
        chk_err_req = {{ class_prefix }}check_error_request::type_id::create("chk_err_req");
        rst_req = {{ class_prefix }}reset_request::type_id::create("rst_req");
    endfunction

    function void pre_randomize();
        super.pre_randomize();

        set_child_context(access_req);
        set_child_context(chk_err_req);
        set_child_context(rst_req);
    endfunction
endclass

`endif
