`ifndef {{ class_prefix | upper }}POWER_UP_REQUEST
`define {{ class_prefix | upper }}POWER_UP_REQUEST

class {{ class_prefix }}power_up_request extends {{ class_prefix }}base_request;
        typedef enum {
                CLK_GEN_SELECT_POWER, // 默认，1/2N
                CLK_GEN_SELECT_CONST  // 确定数字，1/(N+1)
        } clk_gen_select_e;

        `uvm_object_utils_begin({{ class_prefix }}power_up_request)
                `uvm_field_int(freq_divide, UVM_ALL_ON)
                `uvm_field_int(freq_sel, UVM_ALL_ON)
                `uvm_field_enum(clk_gen_select_e, clk_gen_select, UVM_ALL_ON)
                `uvm_field_int(sd_bus_pwr_vdd1, UVM_ALL_ON)
                `uvm_field_int(sd_bus_pwr_vdd2, UVM_ALL_ON)
                `uvm_field_int(sd_bus_vol_vdd1, UVM_ALL_ON)
                `uvm_field_int(sd_bus_vol_vdd2, UVM_ALL_ON)
                `uvm_field_int(signaling_en, UVM_ALL_ON)
        `uvm_object_utils_end

        rand int freq_divide; // 时钟分频系数
        rand bit[9:0] freq_sel; // 时钟分频参数 (取决于 freq_divide)
        rand bit sd_bus_pwr_vdd1; // vdd1 使能
        rand int sd_bus_vol_vdd1; // vdd1 电压
        rand bit sd_bus_pwr_vdd2; // vdd2 使能
        rand int sd_bus_vol_vdd2; // vdd2 电压
        rand bit signaling_en; // 1.8V使能
        rand clk_gen_select_e clk_gen_select; // 时钟分频计算方式 (取决于 freq_divide)

        function new(string name="{{ class_prefix }}power_up_request");
                super.new(name);
        endfunction

        constraint cst_power_up_request {
                // default
                soft freq_divide == 1;
                soft clk_gen_select == CLK_GEN_SELECT_POWER;
                soft sd_bus_pwr_vdd1 == 1;
                soft sd_bus_pwr_vdd2 == 1;
                soft sd_bus_vol_vdd1 == 7;
                soft sd_bus_vol_vdd2 == 5;

                // voltage
                if(sys_cfg.boot_cfg.voltage == V3_3) {
                        {%- if is_emmc or is_sdio or is_sdcard %}
                        sd_bus_vol_vdd1 == 7;
                        {%- endif %}
                }
                else if(sys_cfg.boot_cfg.voltage == V3_0) {
                        {%- if is_sd %}
                        sd_bus_vol_vdd1 == 6;
                        {%- endif %}
                }
                else if(sys_cfg.boot_cfg.voltage == V1_8) {
                        {%- if is_emmc %}
                        sd_bus_vol_vdd1 == 6;
                        {%- elif is_sd %}
                        sd_bus_vol_vdd1 == 5;
                        {%- endif %}
                }
                else if(sys_cfg.boot_cfg.voltage == V1_2) {
                        {%- if is_emmc %}
                        sd_bus_vol_vdd1 == 5;
                        {%- endif %}
                }

                // valid
                freq_divide inside {[1:2046]};

                if(clk_gen_select == CLK_GEN_SELECT_CONST) {
                        freq_divide == freq_sel+1;
                }
                else if(clk_gen_select == CLK_GEN_SELECT_POWER) {
                        if(freq_divide == 1)
                                freq_sel == 0;
                        else
                                freq_divide == freq_sel*2;
                }

                if(sys_cfg.boot_cfg.voltage == V3_3) {
                        signaling_en == 0;
                }
                else if(sys_cfg.boot_cfg.voltage == V1_8) {
                        signaling_en == 1;
                }
        }
endclass

`endif
