`ifndef {{ (class_prefix ~ "agent") | upper }}
`define {{ (class_prefix ~ "agent") | upper }}

class {{ class_prefix }}agent extends uvm_agent;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}kit_interface sqr;

    function new(string name="{{ class_prefix }}agent", uvm_component parent=null);
        super.new(name, parent);
        sqr = {{ class_prefix }}kit_interface::type_id::create("sqr", this);
    endfunction

    extern function void build_phase(uvm_phase phase);
endclass

function void {{ class_prefix }}agent::build_phase(uvm_phase phase);
    {{ class_prefix }}base_tree trees[$];

    super.build_phase(phase);

    if (!uvm_config_db #({{ class_prefix }}base_tree)::get(this, "", "trees", trees) || trees.size() == 0)
        `uvm_fatal("CLK_TREE", "uvm_config_db #({{ class_prefix }}base_tree) trees is required on agent")

    uvm_config_db #({{ class_prefix }}base_tree)::set(this, "sqr", "trees", trees);
endfunction

`endif
