{% if any_node_path %}
`ifndef {{ (settings.class_prefix ~ "check_duty_req") | upper }}
`define {{ (settings.class_prefix ~ "check_duty_req") | upper }}

class {{ settings.class_prefix }}check_duty_req extends uvm_sequence_item;
    `uvm_object_utils_begin({{ settings.class_prefix }}check_duty_req)
        `uvm_field_queue_object(nodes, UVM_ALL_ON | UVM_NOPRINT)
        `uvm_field_int(quiet, UVM_ALL_ON)
    `uvm_object_utils_end

    {{ settings.class_prefix }}node_base nodes[$];
    bit quiet;

    function new(string name = "{{ settings.class_prefix }}check_duty_req");
        super.new(name);
    endfunction
endclass

`endif
{% endif %}
