`ifndef {{ (class_prefix ~ "agent") | upper }}
`define {{ (class_prefix ~ "agent") | upper }}

class {{ class_prefix }}agent extends uvm_agent;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}kit_sequencer sqr;
    {{ class_prefix }}scoreboard sb;
    {{ class_prefix }}settings settings;

    function new(string name="{{ class_prefix }}agent", uvm_component parent=null);
        super.new(name, parent);
        settings = {{ class_prefix }}settings::type_id::create("settings");
        sb = {{ class_prefix }}scoreboard::type_id::create("sb", this);
        sqr = {{ class_prefix }}kit_sequencer::type_id::create("sqr", this);
    endfunction

    extern function void build_phase(uvm_phase phase);
endclass

function void {{ class_prefix }}agent::build_phase(uvm_phase phase);
    bit got_settings;

    super.build_phase(phase);
    got_settings = uvm_config_db #({{ class_prefix }}settings)::get(this, "", "settings", settings);
    if (!got_settings || settings == null) begin
        settings = {{ class_prefix }}settings::type_id::create("settings");
        if (!settings.randomize())
            `uvm_fatal("DW_SPI", "failed to randomize auto-created agent settings")
        `uvm_info("DW_SPI", $sformatf("auto-created agent settings:\n%s", settings.sprint()), UVM_LOW)
    end
    uvm_config_db #({{ class_prefix }}settings)::set(this, "sb", "settings", settings);
    uvm_config_db #({{ class_prefix }}settings)::set(this, "sqr", "settings", settings);
    uvm_config_db #({{ class_prefix }}scoreboard)::set(this, "sqr", "scoreboard", sb);
endfunction

`endif
