`ifndef {{ (class_prefix ~ "agent") | upper }}
`define {{ (class_prefix ~ "agent") | upper }}

class {{ class_prefix }}agent extends uvm_agent;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}kit_sequencer sqr;
    {{ class_prefix }}scoreboard sb;
    {{ class_prefix }}settings settings;

    function new(string name="{{ class_prefix }}agent", uvm_component parent=null);
        super.new(name, parent);
        settings = {{ class_prefix }}settings::type_id::create("settings");
        sb = {{ class_prefix }}scoreboard::type_id::create("sb", this);
        sqr = {{ class_prefix }}kit_sequencer::type_id::create("sqr", this);
    endfunction

    extern function void build_phase(uvm_phase phase);
endclass

function void {{ class_prefix }}agent::build_phase(uvm_phase phase);
    super.build_phase(phase);
    void'(uvm_config_db #({{ class_prefix }}settings)::get(this, "", "settings", settings));
    if (settings == null)
        `uvm_fatal("DW_SPI", "agent settings is null")
    uvm_config_db #({{ class_prefix }}settings)::set(this, "sb", "settings", settings);
    uvm_config_db #({{ class_prefix }}settings)::set(this, "sqr", "settings", settings);
    uvm_config_db #({{ class_prefix }}scoreboard)::set(this, "sqr", "scoreboard", sb);
endfunction

`endif
