`ifndef {{ (class_prefix ~ "sequencer") | upper }}
`define {{ (class_prefix ~ "sequencer") | upper }}

class {{ class_prefix }}sequencer extends uvm_sequencer;
    `uvm_component_utils({{ class_prefix }}sequencer)
    `uvm_register_cb({{ class_prefix }}sequencer, {{ class_prefix }}callback)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}scoreboard scoreboard;
    virtual {{ class_prefix }}interface vif;

    function new(string name="{{ class_prefix }}sequencer", uvm_component parent=null);
        super.new(name, parent);
        settings = {{ class_prefix }}settings::type_id::create("settings");
    endfunction

    extern function void build_phase(uvm_phase phase);
    extern task activate_chip_select(int unsigned cs_id);
    extern task release_chip_select(int unsigned cs_id);
    extern task cpu_read(bit [63:0] addr, output bit [31:0] data);
    extern task cpu_write(bit [63:0] addr, bit [31:0] data);
endclass

function void {{ class_prefix }}sequencer::build_phase(uvm_phase phase);
    super.build_phase(phase);
    void'(uvm_config_db #({{ class_prefix }}settings)::get(this, "", "settings", settings));
    void'(uvm_config_db #({{ class_prefix }}scoreboard)::get(this, "", "scoreboard", scoreboard));
    void'(uvm_config_db #(virtual {{ class_prefix }}interface)::get(this, "", "vif", vif));
    if (settings == null)
        `uvm_fatal("DW_SPI", "sequencer settings is null")
    if (scoreboard == null)
        `uvm_fatal("DW_SPI", "sequencer scoreboard is null")
    if (settings.vif == null)
        settings.vif = vif;
    if (vif == null)
        vif = settings.vif;
endfunction

task {{ class_prefix }}sequencer::activate_chip_select(int unsigned cs_id);
    `uvm_do_obj_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, this, activate_chip_select(cs_id))
endtask

task {{ class_prefix }}sequencer::release_chip_select(int unsigned cs_id);
    `uvm_do_obj_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, this, release_chip_select(cs_id))
endtask

task {{ class_prefix }}sequencer::cpu_read(bit [63:0] addr, output bit [31:0] data);
    `uvm_do_obj_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, this, cpu_read(addr, data))
endtask

task {{ class_prefix }}sequencer::cpu_write(bit [63:0] addr, bit [31:0] data);
    `uvm_do_obj_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, this, cpu_write(addr, data))
endtask

`endif
