`ifndef {{ class_config | upper }}
`define {{ class_config | upper }}

class {{ class_config }} extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_config }})
        `uvm_field_int(addr_width,UVM_ALL_ON)
        `uvm_field_int(data_width,UVM_ALL_ON)
        `uvm_field_int(master_active,UVM_ALL_ON)
        `uvm_field_int(num_slave,UVM_ALL_ON)
        `uvm_field_sarray_int(slave_active,UVM_ALL_ON)

        {%- if reg_sync.is_enabled %}
        `uvm_field_int(should_reg_sync,UVM_ALL_ON)
        {%- endif %}
        {%- if report.is_enabled %}
        `uvm_field_string(log_path,UVM_ALL_ON)
        {%- endif %}
        `uvm_field_int(has_randomized,UVM_ALL_ON|UVM_NOPRINT)
    `uvm_object_utils_end

    virtual {{ class_interface }} vif;
    uvm_reg_block regmodel;
    rand int addr_width;
    rand int data_width;
    rand bit master_active;
    rand int num_slave;
    rand bit slave_active[16];

    {%- if reg_sync.is_enabled %}
    rand bit should_reg_sync;
    uvm_reg masked_regs[$];
    {%- endif %}
    {%- if report.is_enabled %}
    string log_path;
    {%- endif %}
    rand bit has_randomized;

    constraint cst {
        has_randomized == 1;
        soft addr_width == 32;
        soft data_width == 32;
        soft master_active == 1;
        soft num_slave == 1;
        foreach(slave_active[i])
            soft slave_active[i] == 0;
        num_slave inside {[0:16]};

        {%- if reg_sync.is_enabled %}
        soft should_reg_sync == 0;
        {%- endif %}
    }

    // 构造 APB 环境配置对象。
    function new(string name = "{{ class_config }}");
        super.new(name);
    endfunction

    constraint cst_base;
    constraint cst_extern;
    constraint cst_case;
endclass

`endif
