`define SVT_APB_PWDATA_WIDTH 32
`define SVT_APB_PRDATA_WIDTH 32
`define SVT_APB_MAX_DATA_WIDTH 32
`include "svt_apb_if.svi"
`include "svt_apb.uvm.pkg"

import uvm_pkg::*;
import svt_uvm_pkg::*;
import svt_apb_uvm_pkg::*;
