`ifndef {{ class_interface | upper }}
`define {{ class_interface | upper }}

`define SVT_APB_CONNECT_SLAVE(ID) \
    assign ssel[ID] = svt_if.slave_if[ID].psel; \
    assign senable[ID] = svt_if.slave_if[ID].penable; \
    assign swrite[ID] = svt_if.slave_if[ID].pwrite; \
    assign saddr[ID] = svt_if.slave_if[ID].paddr; \
    assign swdata[ID] = svt_if.slave_if[ID].pwdata; \
    assign svt_if.slave_if[ID].prdata = srdata[ID]; \
    assign svt_if.slave_if[ID].pready = sready[ID]; \
    assign svt_if.slave_if[ID].pslverr = 0;

interface {{ class_interface }}(
    input wire clk,
    input wire rst_n,
    // Master 0 APB bus.
    input wire [`SVT_APB_MAX_NUM_SLAVES-1:0] msel,
    input wire menable,
    input wire mwrite,
    input wire [`SVT_APB_MAX_ADDR_WIDTH-1:0] maddr,
    input wire [`SVT_APB_MAX_DATA_WIDTH-1:0] mwdata,
    output wire [`SVT_APB_MAX_DATA_WIDTH-1:0] mrdata[`SVT_APB_MAX_NUM_SLAVES-1:0],
    output wire mready[`SVT_APB_MAX_NUM_SLAVES-1:0],
    output wire ssel[`SVT_APB_MAX_NUM_SLAVES],
    output wire senable[`SVT_APB_MAX_NUM_SLAVES],
    output wire swrite[`SVT_APB_MAX_NUM_SLAVES],
    output wire [`SVT_APB_MAX_ADDR_WIDTH-1:0] saddr[`SVT_APB_MAX_NUM_SLAVES],
    output wire [`SVT_APB_MAX_DATA_WIDTH-1:0] swdata[`SVT_APB_MAX_NUM_SLAVES],
    input wire [`SVT_APB_MAX_DATA_WIDTH-1:0] srdata[`SVT_APB_MAX_NUM_SLAVES],
    input wire sready[`SVT_APB_MAX_NUM_SLAVES]
);

    svt_apb_if svt_if();
    assign svt_if.pclk = clk;
    assign svt_if.presetn = rst_n;
    assign svt_if.psel = msel;
    assign svt_if.penable = menable;
    assign svt_if.pwrite = mwrite;
    assign svt_if.paddr = maddr;
    assign svt_if.pwdata = mwdata;
    assign mrdata = svt_if.prdata;
    assign mready = svt_if.pready;

    `SVT_APB_CONNECT_SLAVE(0)
    `SVT_APB_CONNECT_SLAVE(1)
    `SVT_APB_CONNECT_SLAVE(2)
    `SVT_APB_CONNECT_SLAVE(3)
    `SVT_APB_CONNECT_SLAVE(4)
    `SVT_APB_CONNECT_SLAVE(5)
    `SVT_APB_CONNECT_SLAVE(6)
    `SVT_APB_CONNECT_SLAVE(7)
    `SVT_APB_CONNECT_SLAVE(8)
    `SVT_APB_CONNECT_SLAVE(9)
    `SVT_APB_CONNECT_SLAVE(10)
    `SVT_APB_CONNECT_SLAVE(11)
    `SVT_APB_CONNECT_SLAVE(12)
    `SVT_APB_CONNECT_SLAVE(13)
    `SVT_APB_CONNECT_SLAVE(14)
    `SVT_APB_CONNECT_SLAVE(15)
endinterface

`undef SVT_APB_CONNECT_SLAVE
`endif
