`ifndef {{ class_reg_test_seq | upper }}
`define {{ class_reg_test_seq | upper }}

class {{ class_reg_test_seq }} extends uvm_sequence;
    `uvm_object_utils({{ class_reg_test_seq }})

    function new(string name="{{ class_reg_test_seq }}");
        super.new(name);
    endfunction

    static bit has_done; // 是否完成过
    static bit is_fail; // 是否失败

    task body;
        int err_cnt;
        uvm_reg_block blks[$];

        // 防止仿真因执行一次
        if(has_done)
            return;

        `uvm_info("", "Enter reg test",UVM_LOW)

        // stores
        has_done = 1;
        err_cnt = get_error_count();

        if(starting_phase)
            starting_phase.raise_objection(this);

        uvm_reg_block::get_root_blocks(blks);

        foreach(blks[i])
            do_block(blks[i]);

        // report
        if(get_error_count() > err_cnt)
            `uvm_fatal("", "Exists error")

        `uvm_info("", "Exit reg test",UVM_LOW)

        if(starting_phase)
            starting_phase.drop_objection(this);
    endtask

    extern virtual task do_block(uvm_reg_block blk);

    // 不包含group，因为用路径过滤
    extern virtual task do_reg(uvm_reg r);

    // 获取寄存器路径
    extern virtual task do_address_offset(string path_reg,bit[31:0] offset);

    // 解析field的slice
    extern virtual task do_field(string path_reg,uvm_hdl_path_slice slice);

    // 获取 ERROR 数量
    extern virtual function int get_error_count();

    // 获取 starting phase
    extern virtual function uvm_phase get_starting_phase(uvm_sequence seq=null);

    // 获取一个field的hdl路径，用完整path拼出来
    extern virtual function string get_reg_hdl_path(string field_hdl_path);

    // 获取路径，递归拼接组路径
    extern virtual function bit[31:0] get_reg_rdata(string path_reg);
endclass

function uvm_phase {{ class_reg_test_seq }}::get_starting_phase(uvm_sequence seq=null);
    uvm_sequence p;

    if(!seq)
        seq = this;

    if(seq.starting_phase)
        return seq.starting_phase;

    $cast(p,seq.get_parent_sequence());
    if(!p)
        `uvm_fatal("", "")

    return get_starting_phase(p);
endfunction

task {{ class_reg_test_seq }}::do_block(uvm_reg_block blk);
    uvm_reg regs[$];
    uvm_reg_block blks[$];

    `uvm_info("",$spsprintf("test reg block : '%s'",blk.get_full_name()),UVM_LOW)

    blk.get_registers(regs, UVM_NO_HIER);
    foreach(regs[i])
        do_reg(regs[i]);

    blk.get_blocks(blks);
    foreach(blks[i])
        do_block(blks[i]);
endtask

task {{ class_reg_test_seq }}::do_reg(uvm_reg r);
    uvm_hdl_path_concat paths[$];
    uvm_status_e status;
    string path_reg;

    if(!r.get_regfile())
        return;

    if(!r.has_hdl_path())
        return;

    r.get_full_hdl_path(paths);
    if(!paths.size)
        return;

    // alias
    path_reg = get_reg_hdl_path(paths[0].slices[0].path);

    `uvm_info("",$spsprintf("test reg : '%s'",r.get_full_name()),UVM_LOW)

    // addr
    do_address_offset(path_reg,r.get_offset());

    // field
    foreach(paths[i]) begin
        uvm_hdl_path_concat path=paths[i];

        foreach(path.slices[j])
            do_field(path_reg,path.slices[j]);
    end
endtask

function string {{ class_reg_test_seq }}::get_reg_hdl_path(string field_hdl_path);
    string p;

    // alias
    p = field_hdl_path;

    for(int i=p.len()-1;i>=0;i--)
        if(p.getc(i) == ".")
            return p.substr(0,i-1);
endfunction

task {{ class_reg_test_seq }}::do_address_offset(string path_reg,bit[31:0] offset);
    string p_sel;
    string p_addr;
    bit[31:0] sel;

    // alias
    p_sel = {path_reg,".wsel0"};
    p_addr = {path_reg,".i_apb_waddr"};

    // 检查sel
    if(!uvm_hdl_check_path(p_sel))
        return;

    // 测试
    if(!uvm_hdl_force(p_addr,offset))
        `uvm_error("",$sformatf("HDL path '%s' is not writeable",p_addr));

    #0;
    if(!uvm_hdl_read(p_sel,sel))
        `uvm_error("",$sformatf("HDL path '%s' is not readable",p_sel));
    if(!sel)
        `uvm_error("",$sformatf("HDL path '%s'.address offset != 0x%0h",path_reg,offset));

    // 释放
    if(!uvm_hdl_release(p_addr))
        `uvm_error("",$sformatf("HDL path '%s' is not writeable",p_addr));
endtask

task {{ class_reg_test_seq }}::do_field(string path_reg,uvm_hdl_path_slice slice);
    string p;
    string p_rst;
    int w;
    int lsb;
    int msb;
    bit[31:0] rdat;
    bit[31:0] wdat;
    bit[31:0] d;
    bit[31:0] mask;

    // alias
    p = slice.path;
    p_rst = {path_reg,".rst_n"};
    lsb = slice.offset;
    w = slice.size;
    msb = lsb + w - 1;
    mask = 2**w-1 << lsb;

    // 判断字段是否存在
    if(!uvm_hdl_check_path(p_rst))
        return;

    repeat(2) begin
        // rst
        wdat = get_reg_rdata(path_reg);
        wdat = (wdat & ~mask) | (~wdat & mask);

        // 读取
        if(!uvm_hdl_read(p,d))
            `uvm_error("",$sformatf("HDL path '%s' is not readable",p));
        if(!uvm_hdl_force(p,~d))
            `uvm_error("",$sformatf("HDL path '%s' is not writeable",p));

        #0;

        // 检查
        rdat = get_reg_rdata(path_reg);
        if(rdat != wdat)
            `uvm_error("",$sformatf("HDL path '%s'[%0d:%0d] lsb or width error. rdata require 0x%0h, but 0x%0h",p,msb,lsb,wdat,rdat));
    end

    // 释放
    if(!uvm_hdl_release(p))
        `uvm_error("",$sformatf("HDL path '%s' is not writable",p));
endtask

function bit[31:0] {{ class_reg_test_seq }}::get_reg_rdata(string path_reg);
    string p;

    p = {path_reg,".o_apb_rdata"};

    if(!uvm_hdl_read(p,get_reg_rdata))
        `uvm_error("",$sformatf("HDL path '%s' is not readable",p));
endfunction

function int {{ class_reg_test_seq }}::get_error_count();
    return uvm_root::get().get_report_server().get_severity_count(UVM_ERROR);
endfunction

`endif
