{%- macro monitor_context(name, variable_format) -%}
    forever begin @(ctx.{{ name }}); `uvm_info("",$psprintf("context.{{ name }} has changed to {{ variable_format }}",ctx.{{ name }}),UVM_HIGH) end
{%- endmacro -%}

`ifndef {{ class_prefix | upper }}AGENT
`define {{ class_prefix | upper }}AGENT

class {{ class_prefix }}agent extends uvm_component;
    `uvm_component_utils({{ class_prefix }}agent)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}context ctx;
    {{ class_prefix }}kit_sequencer sqr;
    {{ class_prefix }}scoreboard scb;
    bit monitor_started;

    function new(string name="{{ class_prefix }}agent",uvm_component parent=null);
        super.new(name,parent);

        sqr = {{ class_prefix }}kit_sequencer::type_id::create("sqr",this);
        scb = {{ class_prefix }}scoreboard::type_id::create("scb", this);
        settings = {{ class_prefix }}settings::type_id::create("settings");
    endfunction

    extern function void build();
    extern function void connect();
    extern function void start_of_simulation();
    extern task reset_phase(uvm_phase phase);
    // 监控上下文，变化时报告
    extern task monitor_context();
endclass

function void {{ class_prefix }}agent::build();
    {{ class_prefix }}settings cfg_settings;

    super.build();

    if (uvm_config_db#({{ class_prefix }}settings)::get(this, "", "settings", cfg_settings)) begin
        if (cfg_settings == null)
            `uvm_fatal("", "config_db settings is null")
        settings = cfg_settings;
    end
endfunction

function void {{ class_prefix }}agent::connect();
    super.connect();

    $cast(sqr.settings,settings);
    $cast(sqr.scoreboard,scb);
endfunction

function void {{ class_prefix }}agent::start_of_simulation();
    super.start_of_simulation();

    if(!settings.has_randomized)
        assert(settings.randomize()) else `uvm_fatal("","randomize failed")

    `uvm_info("",$psprintf("settings:\n%s",settings.sprint()),UVM_LOW)
endfunction

task {{ class_prefix }}agent::reset_phase(uvm_phase phase);
    super.reset_phase(phase);

    ctx = {{ class_prefix }}context::type_id::create({get_full_name(),".ctx"});
    assert(ctx.randomize()) else `uvm_fatal("","randomize failed")
    $cast(sqr.ctx,ctx);

    if(!monitor_started) begin
        monitor_started = 1;
        fork
            monitor_context();
        join_none
    end
endtask

task {{ class_prefix }}agent::monitor_context();
    fork
        {{ monitor_context("data_width_cur", "%0d") }}
        {{ monitor_context("bus_speed_mode_cur", "%s") }}
        {{ monitor_context("has_power_up", "%0d") }}
        {{ monitor_context("has_initialized", "%0d") }}
    join
endtask

`endif
