`ifndef {{ class_prefix | upper }}KIT_SEQUENCER
`define {{ class_prefix | upper }}KIT_SEQUENCER

class {{ class_prefix }}kit_sequencer extends {{ class_prefix }}sequencer;
    `uvm_component_utils({{ class_prefix }}kit_sequencer)

    function new(string name = "{{ class_prefix }}kit_sequencer", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    // operation shortcuts
    extern task frequence_set_operation(int frequence);
    extern task power_up_operation(bit enable_soft_reset = 0, {{ class_prefix }}power_up_request req = null);
    extern task reset_operation(bit sw_rst_cmd = 0, bit sw_rst_dat = 0);
    extern task cpu_read_bytes(input bit[63:0] addr, input int len, ref bit[7:0] rdata[$]);
    extern task cpu_write_bytes(input bit[63:0] addr, ref bit[7:0] wdata[$]);

    // flow shortcuts
    extern task initial_card();
    extern task switch_bus(int bus_speed_mode, int data_width);
{% if is_emmc %}
    extern task send_ext_csd(int bus_speed_mode, int data_width);
{% endif %}
    extern task tune_phase(bit[7:0] phase);

    // test shortcuts
    extern task rw_test(bit[63:0] addr = 0, int count = 1, bit write_enable = 1, bit read_enable = 1{%- if enable_dma %}, bit use_dma = {{ 1 if is_mobile_storage else 0 }}{%- endif %});
{% if is_emmc or is_sdcard %}
    extern task reg_test();
{%- endif %}
{%- if is_emmc %}
    extern task speed_mode_test(
        bit enable_legacy_1bit = 0,
        bit enable_legacy_4bit = 0,
        bit enable_legacy_8bit = 1,
        bit enable_high_speed_sdr_1bit = 0,
        bit enable_high_speed_sdr_4bit = 0,
        bit enable_high_speed_sdr_8bit = 1,
        bit enable_high_speed_ddr_4bit = 0,
        bit enable_high_speed_ddr_8bit = 1,
        bit enable_hs200_4bit = 0,
        bit enable_hs200_8bit = 1,
        bit enable_hs400_8bit = 1
    );
{%- elif is_sd %}
    extern task speed_mode_test(
        bit enable_ds_1bit = 0,
        bit enable_ds_4bit = 1,
        bit enable_hs_1bit = 0,
        bit enable_hs_4bit = 1,
        bit enable_sdr12_1bit = 0,
        bit enable_sdr12_4bit = 1,
        bit enable_sdr25_1bit = 0,
        bit enable_sdr25_4bit = 1,
        bit enable_sdr50_1bit = 0,
        bit enable_sdr50_4bit = 1,
        bit enable_sdr104_1bit = 0,
        bit enable_sdr104_4bit = 1,
        bit enable_ddr50_4bit = 1
    );
{%- endif %}
{%- if is_emmc %}
    extern task tune_test(int data_width = 0);
{%- endif %}
    extern task check_clock_frequence_test();
endclass
task {{ class_prefix }}kit_sequencer::frequence_set_operation(int frequence);
    {{ class_prefix }}frequence_set_operation_seq seq;

    seq = {{ class_prefix }}frequence_set_operation_seq::type_id::create("frequence_set_operation_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        freq_set_request.frequence == local::frequence;
    })
        `uvm_fatal("KIT", "frequence_set_operation_seq randomize failed")
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::power_up_operation(bit enable_soft_reset = 0, {{ class_prefix }}power_up_request req = null);
    {{ class_prefix }}power_up_operation_seq seq;

    seq = {{ class_prefix }}power_up_operation_seq::type_id::create("power_up_operation_seq");
    if(req != null)
        seq.power_up_request = req;
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        power_up_request.enable_soft_reset == local::enable_soft_reset;
    })
        `uvm_fatal("KIT", "power_up_operation_seq randomize failed")
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::reset_operation(bit sw_rst_cmd = 0, bit sw_rst_dat = 0);
    {{ class_prefix }}reset_operation_seq seq;

    seq = {{ class_prefix }}reset_operation_seq::type_id::create("reset_operation_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        rst_request.sw_rst_cmd == local::sw_rst_cmd;
        rst_request.sw_rst_dat == local::sw_rst_dat;
    })
        `uvm_fatal("KIT", "reset_operation_seq randomize failed")
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::cpu_read_bytes(input bit[63:0] addr, input int len, ref bit[7:0] rdata[$]);
    {{ class_prefix }}cpu_config_operation_seq seq;

    seq = {{ class_prefix }}cpu_config_operation_seq::type_id::create("cpu_read_bytes_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        cpu_cfg_request.access == UVM_READ;
        cpu_cfg_request.path == UVM_FRONTDOOR;
        cpu_cfg_request.addr == local::addr;
        cpu_cfg_request.len == local::len;
    })
        `uvm_fatal("KIT", "cpu_config_operation_seq read randomize failed")
    seq.start(this);
    rdata = seq.rsp.rdata;
endtask

task {{ class_prefix }}kit_sequencer::cpu_write_bytes(input bit[63:0] addr, ref bit[7:0] wdata[$]);
    {{ class_prefix }}cpu_config_operation_seq seq;
    int write_len;

    write_len = wdata.size();
    seq = {{ class_prefix }}cpu_config_operation_seq::type_id::create("cpu_write_bytes_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        cpu_cfg_request.access == UVM_WRITE;
        cpu_cfg_request.path == UVM_FRONTDOOR;
        cpu_cfg_request.addr == local::addr;
        cpu_cfg_request.len == local::write_len;
    })
        `uvm_fatal("KIT", "cpu_config_operation_seq write randomize failed")
    seq.cpu_cfg_request.wdata = wdata;
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::initial_card();
    {{ class_prefix }}initial_seq seq;

    seq = {{ class_prefix }}initial_seq::type_id::create("initial_card_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize())
        `uvm_fatal("KIT", "initial_seq randomize failed")
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::switch_bus(int bus_speed_mode, int data_width);
    {{ class_prefix }}switch_bus_seq seq;

    seq = {{ class_prefix }}switch_bus_seq::type_id::create("switch_bus_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        bus_speed_mode == local::bus_speed_mode;
        data_width == local::data_width;
    })
        `uvm_fatal("KIT", "switch_bus_seq randomize failed")
    seq.start(this);
endtask
{%- if is_emmc %}
task {{ class_prefix }}kit_sequencer::send_ext_csd(int bus_speed_mode, int data_width);
    {{ class_prefix }}send_ext_csd_seq seq;

    seq = {{ class_prefix }}send_ext_csd_seq::type_id::create("send_ext_csd_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        bus_speed_mode == local::bus_speed_mode;
        data_width == local::data_width;
    })
        `uvm_fatal("KIT", "send_ext_csd_seq randomize failed")
    seq.start(this);
endtask
{%- endif %}
task {{ class_prefix }}kit_sequencer::tune_phase(bit[7:0] phase);
    {{ class_prefix }}tune_seq seq;

    seq = {{ class_prefix }}tune_seq::type_id::create("tune_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        phase == local::phase;
    })
        `uvm_fatal("KIT", "tune_seq randomize failed")
    seq.start(this);
endtask

task {{ class_prefix }}kit_sequencer::rw_test(bit[63:0] addr = 0, int count = 1, bit write_enable = 1, bit read_enable = 1{%- if enable_dma %}, bit use_dma = {{ 1 if is_mobile_storage else 0 }}{%- endif %});
    {{ class_prefix }}rw_test_seq seq;

    if(!write_enable && !read_enable)
        `uvm_fatal("KIT", "rw_test requires write_enable or read_enable")

    seq = {{ class_prefix }}rw_test_seq::type_id::create("rw_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        addr == local::addr;
        rd == local::read_enable;
        wr == local::write_enable;
        rd_single == (local::read_enable && local::count == 1);
        wr_single == (local::write_enable && local::count == 1);
        rd_multi == (local::read_enable && local::count > 1);
        wr_multi == (local::write_enable && local::count > 1);
        rd_multi_block_count == local::count;
        wr_multi_block_count == local::count;
        should_compare == (local::read_enable && local::write_enable);
{%- if enable_dma %}
        dma_enable == local::use_dma;
{%- endif %}
    })
        `uvm_fatal("KIT", "rw_test_seq randomize failed")
    seq.start(this);
endtask
{%- if is_emmc or is_sdcard %}
task {{ class_prefix }}kit_sequencer::reg_test();
    {{ class_prefix }}reg_test_seq seq;

    seq = {{ class_prefix }}reg_test_seq::type_id::create("reg_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize())
        `uvm_fatal("KIT", "reg_test_seq randomize failed")
    seq.start(this);
endtask
{%- endif %}
{%- if is_emmc %}
task {{ class_prefix }}kit_sequencer::speed_mode_test(
    bit enable_legacy_1bit = 0,
    bit enable_legacy_4bit = 0,
    bit enable_legacy_8bit = 1,
    bit enable_high_speed_sdr_1bit = 0,
    bit enable_high_speed_sdr_4bit = 0,
    bit enable_high_speed_sdr_8bit = 1,
    bit enable_high_speed_ddr_4bit = 0,
    bit enable_high_speed_ddr_8bit = 1,
    bit enable_hs200_4bit = 0,
    bit enable_hs200_8bit = 1,
    bit enable_hs400_8bit = 1
);
    {{ class_prefix }}speed_mode_test_seq seq;

    seq = {{ class_prefix }}speed_mode_test_seq::type_id::create("speed_mode_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        enable_legacy_1bit == local::enable_legacy_1bit;
        enable_legacy_4bit == local::enable_legacy_4bit;
        enable_legacy_8bit == local::enable_legacy_8bit;
        enable_high_speed_sdr_1bit == local::enable_high_speed_sdr_1bit;
        enable_high_speed_sdr_4bit == local::enable_high_speed_sdr_4bit;
        enable_high_speed_sdr_8bit == local::enable_high_speed_sdr_8bit;
        enable_high_speed_ddr_4bit == local::enable_high_speed_ddr_4bit;
        enable_high_speed_ddr_8bit == local::enable_high_speed_ddr_8bit;
        enable_hs200_4bit == local::enable_hs200_4bit;
        enable_hs200_8bit == local::enable_hs200_8bit;
        enable_hs400_8bit == local::enable_hs400_8bit;
    })
        `uvm_fatal("KIT", "speed_mode_test_seq randomize failed")
    seq.start(this);
endtask
{%- elif is_sd %}
task {{ class_prefix }}kit_sequencer::speed_mode_test(
    bit enable_ds_1bit = 0,
    bit enable_ds_4bit = 1,
    bit enable_hs_1bit = 0,
    bit enable_hs_4bit = 1,
    bit enable_sdr12_1bit = 0,
    bit enable_sdr12_4bit = 1,
    bit enable_sdr25_1bit = 0,
    bit enable_sdr25_4bit = 1,
    bit enable_sdr50_1bit = 0,
    bit enable_sdr50_4bit = 1,
    bit enable_sdr104_1bit = 0,
    bit enable_sdr104_4bit = 1,
    bit enable_ddr50_4bit = 1
);
    {{ class_prefix }}speed_mode_test_seq seq;

    seq = {{ class_prefix }}speed_mode_test_seq::type_id::create("speed_mode_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        enable_ds_1bit == local::enable_ds_1bit;
        enable_ds_4bit == local::enable_ds_4bit;
        enable_hs_1bit == local::enable_hs_1bit;
        enable_hs_4bit == local::enable_hs_4bit;
        enable_sdr12_1bit == local::enable_sdr12_1bit;
        enable_sdr12_4bit == local::enable_sdr12_4bit;
        enable_sdr25_1bit == local::enable_sdr25_1bit;
        enable_sdr25_4bit == local::enable_sdr25_4bit;
        enable_sdr50_1bit == local::enable_sdr50_1bit;
        enable_sdr50_4bit == local::enable_sdr50_4bit;
        enable_sdr104_1bit == local::enable_sdr104_1bit;
        enable_sdr104_4bit == local::enable_sdr104_4bit;
        enable_ddr50_4bit == local::enable_ddr50_4bit;
    })
        `uvm_fatal("KIT", "speed_mode_test_seq randomize failed")
    seq.start(this);
endtask

{%- endif %}
{%- if is_emmc %}
task {{ class_prefix }}kit_sequencer::tune_test(int data_width = 0);
    {{ class_prefix }}tune_test_seq seq;

    seq = {{ class_prefix }}tune_test_seq::type_id::create("tune_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize() with {
        if(local::data_width != 0)
            data_width == local::data_width;
    })
        `uvm_fatal("KIT", "tune_test_seq randomize failed")
    seq.start(this);
endtask
{%- endif %}
task {{ class_prefix }}kit_sequencer::check_clock_frequence_test();
    {{ class_prefix }}check_clock_frequence_test_seq seq;

    seq = {{ class_prefix }}check_clock_frequence_test_seq::type_id::create("check_clock_frequence_test_seq");
    seq.set_item_context(null, this);
    if(!seq.randomize())
        `uvm_fatal("KIT", "check_clock_frequence_test_seq randomize failed")
    seq.start(this);
endtask

`endif
