`ifndef {{ class_prefix | upper }}SEQUENCER
`define {{ class_prefix | upper }}SEQUENCER

class {{ class_prefix }}sequencer extends uvm_sequencer;
    `uvm_component_utils({{ class_prefix }}sequencer)
    `uvm_register_cb({{ class_prefix }}sequencer, {{ class_prefix }}callback)

    {{ class_prefix }}settings settings;
    {{ class_prefix }}context ctx;
    {{ class_prefix }}scoreboard scoreboard;
    virtual {{ class_prefix }}interface vif;

    function new(string name = "{{ class_prefix }}sequencer", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    extern function void start_of_simulation();
    extern task reset_phase(uvm_phase phase);
    extern virtual task set_frequence(int frequence);
    extern virtual task cpu_read(input bit[63:0] addr, output bit[31:0] data, input uvm_path_e path);
    extern virtual task cpu_write(input bit[63:0] addr, input bit[31:0] data, input uvm_path_e path);
    extern virtual task debug_clock_phase(input int round, output bit stop);
    extern virtual task debug_write_phase(input int round, output bit stop);
    extern virtual task debug_read_phase(input int round, output bit stop);
    extern virtual task debug_dat_stb_phase(input int round, output bit stop);
    extern virtual task get_card_memory(input bit[63:0] addr, input int len, ref bit[7:0] data[$], output bit valid);
endclass

task {{ class_prefix }}sequencer::reset_phase(uvm_phase phase);
    super.reset_phase(phase);

    stop_sequences();
    start_phase_sequence(phase);
endtask

function void {{ class_prefix }}sequencer::start_of_simulation();
    super.start_of_simulation();

    vif = settings.vif;
endfunction

task {{ class_prefix }}sequencer::set_frequence(int frequence);
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, set_frequence(frequence))
endtask

task {{ class_prefix }}sequencer::cpu_read(input bit[63:0] addr, output bit[31:0] data, input uvm_path_e path);
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, cpu_read(addr, data, path))
endtask

task {{ class_prefix }}sequencer::cpu_write(input bit[63:0] addr, input bit[31:0] data, input uvm_path_e path);
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, cpu_write(addr, data, path))
endtask

task {{ class_prefix }}sequencer::debug_clock_phase(input int round, output bit stop);
    stop = 1;
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, debug_clock_phase(round, stop))
endtask

task {{ class_prefix }}sequencer::debug_write_phase(input int round, output bit stop);
    stop = 1;
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, debug_write_phase(round, stop))
endtask

task {{ class_prefix }}sequencer::debug_read_phase(input int round, output bit stop);
    stop = 1;
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, debug_read_phase(round, stop))
endtask

task {{ class_prefix }}sequencer::debug_dat_stb_phase(input int round, output bit stop);
    stop = 1;
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, debug_dat_stb_phase(round, stop))
endtask

task {{ class_prefix }}sequencer::get_card_memory(input bit[63:0] addr, input int len,
        ref bit[7:0] data[$], output bit valid);
    data.delete();
    valid = 0;
    `uvm_do_callbacks({{ class_prefix }}sequencer, {{ class_prefix }}callback, get_card_memory(addr, len, data, valid))
endtask

`endif
