`ifndef {{ (class_prefix ~ "interface") | upper }}
`define {{ (class_prefix ~ "interface") | upper }}

interface {{ class_prefix }}interface(
        input logic hclk,
        input logic ssi_clk,
        input logic intr);
    timeunit 1ns;
    timeprecision 1fs;

    {{ class_prefix }}clock_if hclk_if(.clk(hclk));
    {{ class_prefix }}clock_if ssi_clk_if(.clk(ssi_clk));
    {{ class_prefix }}interrupt_if interrupt_if(.intr(intr));

    function bit has_hclk();
        return hclk_if.is_connected();
    endfunction

    function bit has_ssi_clk();
        return ssi_clk_if.is_connected();
    endfunction

    function bit has_irq();
        return interrupt_if.is_connected();
    endfunction

    task automatic measure_hclk_frequency_hz(
            output longint unsigned frequency_hz,
            input longint unsigned min_frequency_hz);
        hclk_if.measure_frequency_hz(frequency_hz, min_frequency_hz);
    endtask

    task automatic measure_ssi_clk_frequency_hz(
            output longint unsigned frequency_hz,
            input longint unsigned min_frequency_hz);
        ssi_clk_if.measure_frequency_hz(frequency_hz, min_frequency_hz);
    endtask

    task automatic wait_interrupt_asserted(
            input int unsigned timeout_ssi_clk_cycles,
            input longint unsigned min_ssi_clk_hz,
            input int unsigned tolerance_ppm,
            output bit timed_out,
            output bit missing_signal);
        realtime timeout_ns;

        timed_out = 1'b0;
        missing_signal = 1'b0;
        if (!has_irq() || !has_ssi_clk() || min_ssi_clk_hz == 0) begin
            missing_signal = 1'b1;
            return;
        end
        if (interrupt_if.is_asserted())
            return;
        timeout_ns = ($itor(timeout_ssi_clk_cycles) * 1000000000.0) / $itor(min_ssi_clk_hz);
        timeout_ns = timeout_ns * (1.0 + ($itor(tolerance_ppm) / 1000000.0));
        fork
            begin
                @(posedge intr);
            end
            begin
                repeat (timeout_ssi_clk_cycles)
                    @(posedge ssi_clk);
                timed_out = 1'b1;
            end
            begin
                #(timeout_ns * 1ns);
                timed_out = 1'b1;
            end
        join_any
        disable fork;
        if (interrupt_if.is_asserted())
            timed_out = 1'b0;
    endtask
endinterface

`endif
