`ifndef {{ (class_prefix ~ "interface") | upper }}
`define {{ (class_prefix ~ "interface") | upper }}

interface {{ class_prefix }}interface(
        input logic hclk,
        input logic ssi_clk,
        input logic intr);
    timeunit 1ns;
    timeprecision 1fs;

    {{ class_prefix }}clock_if hclk_if(.clk(hclk));
    {{ class_prefix }}clock_if ssi_clk_if(.clk(ssi_clk));
    {{ class_prefix }}interrupt_if interrupt_if(.intr(intr));

    function bit has_hclk();
        return hclk_if.is_connected();
    endfunction

    function bit has_ssi_clk();
        return ssi_clk_if.is_connected();
    endfunction

    function bit has_irq();
        return interrupt_if.is_connected();
    endfunction

    function int unsigned baudr_for_target(
            longint unsigned ssi_clk_hz,
            longint unsigned target_hz);
        int unsigned div;

        if (ssi_clk_hz == 0 || target_hz == 0)
            return 0;
        div = int'((ssi_clk_hz + target_hz - 1) / target_hz);
        if (div < 2)
            div = 2;
        if (div[0])
            div++;
        return div;
    endfunction

    task automatic measure_hclk_frequency_hz(
            output longint unsigned frequency_hz,
            input longint unsigned min_frequency_hz);
        hclk_if.measure_frequency_hz(frequency_hz, min_frequency_hz);
    endtask

    task automatic measure_ssi_clk_frequency_hz(
            output longint unsigned frequency_hz,
            input longint unsigned min_frequency_hz);
        ssi_clk_if.measure_frequency_hz(frequency_hz, min_frequency_hz);
    endtask

    task automatic wait_interrupt_asserted(
            input int unsigned timeout_ssi_clk_cycles,
            output bit timed_out,
            output bit missing_signal);
        timed_out = 1'b0;
        missing_signal = 1'b0;
        if (!has_irq() || !has_ssi_clk()) begin
            missing_signal = 1'b1;
            return;
        end
        if (interrupt_if.is_asserted())
            return;
        fork
            begin
                @(posedge intr);
            end
            begin
                repeat (timeout_ssi_clk_cycles)
                    @(posedge ssi_clk);
                timed_out = 1'b1;
            end
        join_any
        disable fork;
        if (interrupt_if.is_asserted())
            timed_out = 1'b0;
    endtask
endinterface

`endif
