`ifndef {{ class_prefix | upper }}COMPARE_CARD_MEMORY_TEST_SEQ
`define {{ class_prefix | upper }}COMPARE_CARD_MEMORY_TEST_SEQ

class {{ class_prefix }}compare_card_memory_test_seq extends {{ class_prefix }}default_seq;
    `uvm_object_utils_begin({{ class_prefix }}compare_card_memory_test_seq)
        `uvm_field_int(addr, UVM_ALL_ON)
        `uvm_field_int(len, UVM_ALL_ON)
        `uvm_field_queue_int(data, UVM_ALL_ON)
    `uvm_object_utils_end

    function new(string name="{{ class_prefix }}compare_card_memory_test_seq");
        super.new(name);
    endfunction

    rand bit[63:0] addr; // 起始地址
    rand int len; // 长度
    rand bit[7:0] data[$]; // 数据

    constraint cst_test {
        soft addr == 0;

        len == data.size;
        len > 0;
    }

    extern task body();

    // 执行比较
    extern task execute_compare();
endclass

task {{ class_prefix }}compare_card_memory_test_seq::body();
    `uvm_info("", $psprintf("compare: %s", sprint()), UVM_LOW)

    execute_compare();
endtask

task {{ class_prefix }}compare_card_memory_test_seq::execute_compare();
    {{ class_prefix }}card_memory_get_dependency_seq card_mem_get_seq;
    bit[7:0] mem_data[$];

    `uvm_do_with(card_mem_get_seq, {
        addr == local::addr;
        len == local::len;
    })

    mem_data = card_mem_get_seq.rdata;

    if(data.size != mem_data.size)
        `uvm_error("", $psprintf("result has %0d bytes, but memory has %0d bytes", data.size, mem_data.size))

    if(data == mem_data)
        `uvm_info("", "compare successful", UVM_LOW)
    else
        for(int j=0; j<len; j++) begin
            if(data[j] == mem_data[j])
                continue;

            `uvm_error("", $psprintf("[%0d] result = 0x%0h, but memory = 0x%0h", j, data[j], mem_data[j]))
            break;
        end
endtask

`endif
