`ifndef {{ (class_prefix ~ "addr_hit") | upper }}
`define {{ (class_prefix ~ "addr_hit") | upper }}

class {{ class_prefix }}addr_hit;
    // 相对根寄存器块的点分路径
    string path;
    // 与 LUT 地址键一起使用的字节个数（寄存器字节宽度）
    int n_bytes;
endclass

`endif
