#ifndef {{ settings.header_guard }}
#define {{ settings.header_guard }}

#include <stdint.h>

{% set ns = namespace(addr_name_width=0) -%}
{% for reg in header_regs -%}
{% if reg.addr_macro | length > ns.addr_name_width -%}
{% set ns.addr_name_width = reg.addr_macro | length -%}
{% endif -%}
{% endfor -%}
{% for reg in header_regs -%}
#define {{ reg.addr_macro.ljust(ns.addr_name_width) }} {{ reg.address_hex }}
{% endfor %}

typedef struct {
    uint64_t addr;
    uint32_t value;
} pll_mini_config_step_t;

extern uint32_t cpu_config_read(uint64_t addr);
extern void cpu_config_write(uint64_t addr, uint32_t data);

void {{ settings.main_fn }}(void);

#endif
