#ifndef {{ settings.header_guard }}
#define {{ settings.header_guard }}

{% set ns = namespace(addr_name_width=0) -%}
{% for reg in header_regs -%}
{% if reg.addr_macro | length > ns.addr_name_width -%}
{% set ns.addr_name_width = reg.addr_macro | length -%}
{% endif -%}
{% endfor -%}
{% for reg in header_regs -%}
#define {{ reg.addr_macro.ljust(ns.addr_name_width) }} {{ reg.address_hex }}
{% endfor %}

typedef struct {
    unsigned long addr;
    unsigned int value;
} pll_mini_config_step_t;

extern void cpu_config_read(unsigned int *data, unsigned long addr);
extern void cpu_config_write(unsigned long addr, unsigned int data);

extern void {{ settings.main_fn }}(void);

#endif
