`ifndef {{ class_prefix | upper }}POWER_UP_OP_SEQ
`define {{ class_prefix | upper }}POWER_UP_OP_SEQ

class {{ class_prefix }}power_up_operation_seq extends {{ class_prefix }}base_operation_seq#({{ class_prefix }}power_up_response);
    `uvm_object_utils({{ class_prefix }}power_up_operation_seq)

    rand {{ class_prefix }}power_up_request power_up_request;
    rand {{ class_prefix }}reset_request rst_request;

    function new(string name = "{{ class_prefix }}power_up_operation_seq");
        super.new(name);
    endfunction

    {{ class_prefix }}reset_operation_seq reset_seq;

    constraint cst_power_up_behavior {
        if(power_up_request.enable_soft_reset) {
            rst_request.sw_rst_all == 1;
        }
        else {
            rst_request.sw_rst_cmd == 0;
            rst_request.sw_rst_dat == 0;
        }
    }

    extern function void pre_randomize();
    extern task body();
    // 配置上电
    extern task power_up();
    // 上电后等待一段时间
    extern task wait_done();
endclass

function void {{ class_prefix }}power_up_operation_seq::pre_randomize();
    super.pre_randomize();

    if (!power_up_request)
        `uvm_create(power_up_request)
    if (!rst_request)
        `uvm_create(rst_request)

    `uvm_create(reset_seq)
    $cast(reset_seq.rst_request, rst_request);
endfunction

task {{ class_prefix }}power_up_operation_seq::body();
    `uvm_info("", $psprintf("power-up start: %s", power_up_request.sprint()), UVM_LOW)

    // soft reset
    if (power_up_request.enable_soft_reset)
        `uvm_rand_send(reset_seq)
    power_up();
    wait_done();

    // 标志
    ctx.has_power_up = 1;

    `uvm_info("", "power-up done", UVM_LOW)
endtask

task {{ class_prefix }}power_up_operation_seq::power_up();
    {{ class_prefix }}wait_field_operation_seq wait_field_seq;
    bit [31:0] rdata;

{%- if is_sd %}
    // 启动插卡
    if (settings.boot_cfg.auto_card_insert)
        p_sequencer.vif.card_insert();
{%- endif %}

    // 设置电压会触发时钟，所以要先设置
    rm.PWR_CTRL_R.SD_BUS_PWR_VDD1.set(power_up_request.sd_bus_pwr_vdd1);
    rm.PWR_CTRL_R.SD_BUS_VOL_VDD1.set(power_up_request.sd_bus_vol_vdd1); // 3.3V
    rm.PWR_CTRL_R.SD_BUS_PWR_VDD2.set(power_up_request.sd_bus_pwr_vdd2);
    rm.PWR_CTRL_R.SD_BUS_VOL_VDD2.set(power_up_request.sd_bus_vol_vdd2); // 1.8V
    rm.PWR_CTRL_R.write(status, rm.PWR_CTRL_R.get());

    // 设置时钟
    rm.CLK_CTRL_R.INTERNAL_CLK_EN.set(1);
    rm.CLK_CTRL_R.SD_CLK_EN.set(1);
    rm.CLK_CTRL_R.PLL_ENABLE.set(1);
    rm.CLK_CTRL_R.CLK_GEN_SELECT.set(power_up_request.clk_gen_select);
    rm.CLK_CTRL_R.UPPER_FREQ_SEL.set(power_up_request.freq_sel[9:8]);
    rm.CLK_CTRL_R.FREQ_SEL.set(power_up_request.freq_sel[7:0]);
    rm.CLK_CTRL_R.write(status, rm.CLK_CTRL_R.get());

    // 在等待中断前，先测试寄存器读写功能是否正常
    rm.CLK_CTRL_R.read(status, rdata);
    if (rdata != rm.CLK_CTRL_R.get())
        `uvm_fatal("", "ahb bus error")

    `uvm_do_with(wait_field_seq, {wait_field_request.internal_clk_stable;})
    `uvm_do_with(wait_field_seq, {wait_field_request.card_inserted;})
    `uvm_do_with(wait_field_seq, {wait_field_request.card_stable;})

    // 设置EMMC控制
    rm_vd1.EMMC_CTRL_R.CARD_IS_EMMC.set(1);
    rm_vd1.EMMC_CTRL_R.DISABLE_DATA_CRC_CHK.set(0);
    rm_vd1.EMMC_CTRL_R.EMMC_RST_N.set(1);
    rm_vd1.EMMC_CTRL_R.EMMC_RST_N_OE.set(1);
    rm_vd1.EMMC_CTRL_R.ENH_STROBE_ENABLE.set(0);
    rm_vd1.EMMC_CTRL_R.write(status, rm_vd1.EMMC_CTRL_R.get());

    // 设置HOST控制2
    // rm.HOST_CTRL2_R.UHS_MODE_SEL.set();
    rm.HOST_CTRL2_R.SIGNALING_EN.set(power_up_request.signaling_en);
    rm.HOST_CTRL2_R.DRV_STRENGTH_SEL.set(0);
    rm.HOST_CTRL2_R.EXEC_TUNING.set(0);
    rm.HOST_CTRL2_R.SAMPLE_CLK_SEL.set(0);
    rm.HOST_CTRL2_R.UHS2_IF_ENABLE.set(0);
{%- if enable_dma %}
    rm.HOST_CTRL2_R.ADMA2_LEN_MODE.set(1);
{%- endif %}
    rm.HOST_CTRL2_R.CMD23_ENABLE.set(1);
    rm.HOST_CTRL2_R.HOST_VER4_ENABLE.set(1);
    rm.HOST_CTRL2_R.ADDRESSING.set(0);
    rm.HOST_CTRL2_R.ASYNC_INT_ENABLE.set(1);
    rm.HOST_CTRL2_R.PRESET_VAL_ENABLE.set(1); // 自动分频选择
    rm.HOST_CTRL2_R.write(status, rm.HOST_CTRL2_R.get());

    // 设置MSHC控制
    rm_vd1.MSHC_CTRL_R.CMD_CONFLICT_CHECK.set(1);
    rm_vd1.MSHC_CTRL_R.NEGEDGE_DATAOUT_EN.set(0);
    rm_vd1.MSHC_CTRL_R.SW_CG_DIS.set(1);
    rm_vd1.MSHC_CTRL_R.write(status, rm_vd1.MSHC_CTRL_R.get());

    `uvm_do_with(wait_field_seq, {wait_field_request.card_stable;})

    rm_vd1.AT_CTRL_R.SWIN_TH_EN.set(1);
    rm_vd1.AT_CTRL_R.RPT_TUNE_ERR.set(0);
    rm_vd1.AT_CTRL_R.SW_TUNE_EN.set(0);
    rm_vd1.AT_CTRL_R.TUNE_CLK_STOP_EN.set(0);
    rm_vd1.AT_CTRL_R.PRE_CHANGE_DLY.set(2);
    rm_vd1.AT_CTRL_R.POST_CHANGE_DLY.set(0);
    rm_vd1.AT_CTRL_R.SWIN_TH_VAL.set(2);
    rm_vd1.AT_CTRL_R.write(status, rm_vd1.AT_CTRL_R.get());
endtask

task {{ class_prefix }}power_up_operation_seq::wait_done();
    // 首次上电需等待
    if (ctx.has_power_up)
        return;

    `uvm_info("", $psprintf("wait %0d ns for first power-up", settings.boot_cfg.power_up_time_ns), UVM_LOW)
    #(settings.boot_cfg.power_up_time_ns * 1ns);
endtask

`endif
