`ifndef {{ check_guard }}
`define {{ check_guard }}

task automatic {{ check_task_name }}(
        input virtual {{ probe_if_name }} probe,
        output bit pass);
    bit ok;

    pass = 1'b1;
{% for signal in signal_rows %}
    probe.{{ signal.name }}.check("{{ signal.name }}", ok);
    pass &= ok;
{% endfor %}

    if (!pass)
        $error("probe: failed");
    else
        $display("probe: passed");
endtask

`endif
