`ifndef PROBE_IF
`define PROBE_IF

interface probe_if;
{% for signal in signal_rows %}
    probe_signal_if #(.FREQ({{ signal.freq }})) {{ signal.name }} (.sig(`{{ signal.macro }}));
{% endfor %}
endinterface

`endif
