`ifndef {{ check_guard }}
`define {{ check_guard }}

task automatic {{ check_task_name }}({{ probe_if_name }} probe);
    bit ok;
    bit all_ok;

    all_ok = 1'b1;
{% for signal in signal_rows %}
    probe.{{ signal.name }}.check("{{ signal.name }}", ok);
    all_ok &= ok;
{% endfor %}

    if (!all_ok)
        $error("probe: failed");
    else
        $display("probe: passed");
endtask

`endif
