{%- if enable_dma %}
`ifndef {{ class_prefix | upper }}DMA_TEST_SEQ
`define {{ class_prefix | upper }}DMA_TEST_SEQ

class {{ class_prefix }}dma_test_seq extends {{ class_prefix }}rw_test_seq;
    `uvm_object_utils({{ class_prefix }}dma_test_seq)

    // Creates the DMA test sequence.
    function new(string name = "{{ class_prefix }}dma_test_seq");
        super.new(name);
    endfunction

    constraint cst_dma_test {
        dma_enable == 1;
        soft dma_sel == ADMA2;
        soft wr == 1;
        soft rd == 1;
        soft wr_single == 1;
        soft rd_single == 1;
        soft wr_multi == 0;
        soft rd_multi == 0;
        soft should_compare == (wr && rd);
    }
endclass

`endif
{%- endif %}
