`ifndef {{ class_prefix | upper }}CONFIGURATION
`define {{ class_prefix | upper }}CONFIGURATION

class {{ class_prefix }}configuration extends uvm_sequence_item;
    `uvm_object_utils_begin({{ class_prefix }}configuration)
        {%- for clk in clocks %}
        `uvm_field_object({{ clk }},UVM_ALL_ON)
        {%- endfor %}
    `uvm_object_utils_end

    {%- for clk in clocks %}
    rand {{ class_prefix }}core_configuration {{ clk }};
    {%- endfor %}

    function new(string name="{{ class_prefix }}configuration");
        super.new(name);

        {%- for clk in clocks %}
        {{ clk }} = {{ class_prefix }}core_configuration::type_id::create("{{ clk }}");
        {%- endfor %}
    endfunction

    constraint cst_case{
        constraint cst_case;
    }
endclass
`endif
