`ifndef {{ class_pad_data | upper }}
`define {{ class_pad_data | upper }}

class {{ class_pad_data }};
    string name;
    virtual {{ class_sub_interface }} vif;
    {{ class_signal_data }} signals[$];

    // Initializes one named pad data object.
    function new(string name="");
        this.name = name;
    endfunction

    // Finds a present signal by its logical name.
    extern function {{ class_signal_data }} find_signal(string signal_name);
endclass

function {{ class_signal_data }} {{ class_pad_data }}::find_signal(string signal_name);
    foreach (signals[i])
        if (signals[i].name == signal_name)
            return signals[i];
    return null;
endfunction

`endif
