`ifndef {{ (class_prefix ~ "drive_input_seq") | upper }}
`define {{ (class_prefix ~ "drive_input_seq") | upper }}

class {{ class_prefix }}drive_input_seq extends uvm_sequence #(
        {{ class_prefix }}drive_input_req,
        {{ class_prefix }}drive_input_rsp);
    `uvm_object_utils({{ class_prefix }}drive_input_seq)
    `uvm_declare_p_sequencer({{ class_prefix }}sequencer)

    function new(string name="{{ class_prefix }}drive_input_seq");
        super.new(name);
    endfunction

    extern virtual task body();
endclass

task {{ class_prefix }}drive_input_seq::body();
    {{ class_prefix }}drive_input_rsp rs;
    bit[31:0] active_mask;

    if (req == null)
        `uvm_fatal("", "drive_input req is null")
    rs = {{ class_prefix }}drive_input_rsp::type_id::create("rsp");
    active_mask = '0;
    for (int i = 0; i < p_sequencer.cfg.num; i++)
        active_mask[i] = !p_sequencer.cfg.mask[i];
    p_sequencer.vif.set(req.data & active_mask, req.enable & active_mask);
    rsp = rs;
endtask

`endif
