+define+SVT_MEM_MAX_DATA_WIDTH={{ max_mem_data_width }}
+incdir+/EDA2021/synopsys/DW_2024/vip/svt/emmc_svt/U-2022.12/sverilog/include
/EDA2021/synopsys/DW_2024/vip/svt/common/latest/C/lib/amd64/libmemserver.so

import.sv
catcher.sv
configurations/base.sv
configurations/reg.sv
configurations/system.sv
configurations/svt.sv
env.sv
top.sv
