`define SVT_UVM_TECHNOLOGY
`define ENABLE_OLD_CLK_PULSE_GEN

`include "uvm_macros.svh"
`include "svt_emmc.uvm.pkg"
`include "svt_emmc_if.svi"
import uvm_pkg::*;
import svt_uvm_pkg::*;
import svt_mem_uvm_pkg::*;
import svt_emmc_uvm_pkg::*;
