`ifndef EMMC_VIP_SHIFT_TOP
`define EMMC_VIP_SHIFT_TOP


/*
    使信号按指定时间平移
*/
module emmc_vip_shift_top #(
    parameter DW=1, // 位宽
    parameter real K=0, // 延时，单位为时钟周期，支持0.5个周期
    parameter real B=0, // 延时(ns)
    parameter EN=1 // 是否使能
)(
    input wire clk,
    input wire[DW-1:0] in,
    output reg[DW-1:0] out
);

    timeunit 1fs;
    timeprecision 1fs;

    real k=0; // 额外拍数变量
    real b=0; // 额外时间变量

    typedef struct {
        int n; // half k, k/2
        real b;
        bit[DW-1:0] v; // value
    } shift_s;

    if(EN)
        initial begin
            run_shift();
        end
    else
        assign out = in;

    task automatic run_shift();
        shift_s q[$]; // shift 队列
        real lst; // 上一次clock变化时间
        bit clk_last;
        bit[DW-1:0] in_last;

        fork
            forever begin
                @(clk);
                if(clk == clk_last) // 驱动值不变
                    continue;
                else
                    clk_last = clk;

                foreach(q[i])
                    if(q[i].n)
                        q[i].n--;

                if(q.size() && !q[0].n) begin
                    shift_s sh;

                    sh = q.pop_front();

                    fork begin
                        #(sh.b);
                        out = sh.v;
                    end join_none
                end

                lst = $realtime;
            end

            forever begin
                real cur;
                int kt;
                real bt;
                shift_s sh;

                @(in);
                if(in == in_last) // 驱动值不变
                    continue;
                else
                    in_last = in;

                cur = $realtime;
                kt = (k+K)*2;
                bt = (b+B)*1e6;
                if(kt)
                    bt += cur - lst;

                // pack
                sh = '{
                    n: kt,
                    b: bt,
                    v: in
                };

                if(!sh.n) begin
                    if(sh.b) begin
                        fork begin
                            #(sh.b);
                            out = sh.v;
                        end join_none
                    end
                    else begin
                        out = sh.v;
                    end
                end
                else begin
                    q.push_back(sh);
                end
            end
        join
    endtask

endmodule

`endif
